    <!-- Modal ContactCV -->
    <div class="modal fade" id="contactCVModal" aria-hidden="true" aria-labelledby="contactCVModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="contactCVModal">{{sectionsCV.contact}}</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Volver"></i>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-4">
                            <div *ngFor="let info of contactCV" class="col-4">
                                <div class="text-center my-4">
                                    <h6><i [class]="info.icon" class="fa-2x pt-s"></i> {{info.data}}</h6>
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" [attr.data-bs-target]="'#'+info.target" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    </div>    
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Cancelar">{{buttons[10].value}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->

    <app-edit-phone-contact-cv-modal></app-edit-phone-contact-cv-modal>
    <app-edit-email-contact-cv-modal></app-edit-email-contact-cv-modal>
    <app-edit-availability-contact-cv-modal></app-edit-availability-contact-cv-modal> 
