    <!-- Modal Create Single Credits -->
    <div class="modal fade" id="createSingleCreditModal" aria-hidden="true" aria-labelledby="createSingleCreditModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createSingleCreditModal">Nuevo Crédito</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#creditsModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">                    
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <label for="credit" class="form-label">{{forms.credit}}</label>
                                    <input type="text" class="form-control" id="credit" placeholder="Crédito" formControlName="credit" [ngClass]="{ 'is-invalid': submitted && f['credit'].errors, 'is-valid': !f['credit'].errors && f['credit'].touched }">
                                    <div id="creditHelp" class="form-text">{{helpers.creditHelp}}</div>
                                    <div *ngIf="submitted && f['credit'].errors" class="invalid-feedback">
                                        <div *ngIf="f['credit'].errors['required']">Es preciso ingresar un crédito</div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <label for="name" class="form-label">{{forms.name}}</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors, 'is-valid': !f['name'].errors && f['name'].touched }">
                                    <div id="nameHelp" class="form-text">{{helpers.nameHelp}}</div>
                                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                        <div *ngIf="f['name'].errors['required']">Es preciso ingresar un nombre</div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#creditsModal" data-bs-toggle="modal" aria-label="Volver">{{buttons.save}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
