    <!-- Modal Intro -->
    <div class="modal fade" id="developerIntroModal" tabindex="-1" aria-labelledby="developerIntroModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="developerIntroModalLabel">Intro</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Volver"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">      
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 pt-4">
                                                    <h4 class="text-center">{{intro.overview}}</h4>
                                                    <h1 class="text-center">{{intro.industry}}</h1>
                                                    <h4 class="text-center">{{intro.history}}</h4>
                                                    <div class="d-flex justify-content-center mt-5 pb-4">
                                                        <h3><i class="fa-solid fa-chevron-down orange"></i></h3>
                                                    </div>
                                                    <div class="pt-3 container px-2">
                                                        <p class="card-text">{{intro.line_one}}</p>
                                                        <p class="card-text">{{intro.line_two}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editDeveloperIntroModal" data-bs-toggle="modal" (click)="intro_data.id? loadIntro(): null"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Cerrar">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit Intro Developer -->
    <div class="modal fade" id="editDeveloperIntroModal" aria-hidden="true" aria-labelledby="editDeveloperIntroModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editDeveloperIntroModal">Editar Intro</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerIntroModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form">
                    <input type="hidden" name="" id="id">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="overview" class="form-label">Apertura</label>
                                <input type="text" class="form-control" id="overview" formControlName="overview" name="" [ngClass]="{ 'is-invalid': InvalidOverview, 'is-valid': ValidOverview }">
                                <div id="overviewHelp" class="form-text">Ingresar una apertura</div>
                                <div *ngIf="Overview?.errors" class="invalid-feedback">
                                    <div *ngIf="Overview?.hasError('required')">Es preciso ingresar una apertura</div>
                                </div>
                            </div>                             
                            <div class="col-12 mb-2">
                                <label for="industry" class="form-label">Industria</label>
                                <input type="text" class="form-control" id="industry"formControlName="industry" name="" [ngClass]="{ 'is-invalid': InvalidIndustry, 'is-valid': ValidIndustry }">
                                <div id="industryHelp" class="form-text">Ingresar una industria</div>
                                <div *ngIf="Industry?.errors" class="invalid-feedback">
                                    <div *ngIf="Industry?.hasError('required')">Es preciso ingresar una industria</div>
                                </div>                                
                            </div>                        
                            <div class="col-12 mb-2">
                                <label for="history" class="form-label">Cierre</label>
                                <input type="text" class="form-control" id="history"formControlName="history" name="" [ngClass]="{ 'is-invalid': InvalidHistory, 'is-valid': ValidHistory }">
                                <div id="historyHelp" class="form-text">Ingresar un cierre</div>
                                <div *ngIf="History?.errors" class="invalid-feedback">
                                    <div *ngIf="History?.hasError('required')">Es preciso ingresar un cierre</div>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="line_one" class="form-label">Párrafo Uno</label> 
                                <textarea class="form-control" id="line_one" rows="3" formControlName="line_one" name="" [ngClass]="{ 'is-invalid': InvalidLineOne, 'is-valid': ValidLineOne }"></textarea>
                                <div class="d-flex justify-content-between">
                                    <div id="line_oneHelp" class="form-text">Ingresar elprimer párrafo</div>
                                    <div id="limitHelp" class="form-text">Máx. 200 caracteres</div>
                                </div> 
                                <div *ngIf="LineOne?.errors" class="invalid-feedback">
                                    <div *ngIf="LineOne?.hasError('required')">Es preciso ingresar el primer párrafo</div>
                                </div>
                            </div>
                            <div class="col-12 mb-2">          
                                <label for="line_two" class="form-label">Párrafo Dos</label>
                                <textarea class="form-control" id="line_two" rows="3" formControlName="line_two" name="" [ngClass]="{ 'is-invalid': InvalidLineTwo, 'is-valid': ValidLineTwo }"></textarea>
                                <div class="d-flex justify-content-between">
                                    <div id="paragraphHelp" class="form-text">Ingresar el segundo párrafo</div>
                                    <div id="limitHelp" class="form-text">Máx. 200 caracteres</div>
                                </div> 
                                <div *ngIf="LineTwo?.errors" class="invalid-feedback">
                                    <div *ngIf="LineTwo?.hasError('required')">Es preciso ingresar el segundo párrafo</div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-black-mini" (click)="saveIntro()" data-bs-target="#developerIntroModal"data-bs-toggle="modal" aria-label="Actualizar" [disabled]="form.invalid">Actualizar</button>
                    </div>                  
                </form>
            </div>
        </div>
    </div>
