    <!-- Modal Presentation -->
    <div class="modal fade" id="audiovisualPresentationModal" tabindex="-1" aria-labelledby="audiovisualPresentationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="audiovisualPresentationModalLabel">Presentación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">  
                                        <h4 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> Presentación</span></h4>
                                        <p class="w-75 text-center m-auto mb-3">
                                            Antes te conté que no tenemos un CV como tal... así de los tradicionales... 
                                            <br><br>
                                            Para mostrar quiénes somos, en la Industria Audiovisual, se usan documentos...
                                            <br><br>
                                            En los enlaces pueden verse los míos...
                                        </p>
                                        <div class="container mt-2 pt-5 pb-2 w-75 m-auto">
                                            <div class="row d-flex justify-content-center">
                                                <div class="col-4 text-center">
                                                    <i class="fa-solid fa-file-lines fa-3x mb-3"></i>
                                                    <h4>Minibio</h4>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <i class="fa-solid fa-file fa-3x mb-3"></i>
                                                    <h4>My Work</h4>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <i class="fa-solid fa-fire-flame-curved fa-3x mb-3"></i>
                                                    <h4>I Want</h4>
                                                </div>
                                            </div>     
                                        </div>   
                                        <h6 class="w-75 text-center m-auto pt-4 mb-2">Por convención tienen nombre en inglés...</h6>
                                        <p class="w-75 text-center m-auto mb-2">Y son los únicos que se usan para una presentación...</p>                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualPresentationModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <hr class="w-75 m-auto mt-3 pb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center">Minibio</h4>
                                <div class="card">
                                    <div class="card-body">      
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <button class="btn btn-black-mini"><i class="fa-solid fa-download"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualMinibioModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-75 m-auto mt-3 pb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center">My Work</h4>
                                <div class="card">
                                    <div class="card-body">      
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <button class="btn btn-black-mini"><i class="fa-solid fa-download"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualWorkModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-75 m-auto mt-3 pb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center">I Want</h4>
                                <div class="card">
                                    <div class="card-body">      
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio maxime voluptatum, suscipit, molestias repellendus perspiciatis modi porro natus aspernatur, velit officia sit nihil amet? Cum iure cupiditate beatae illo!</p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <button class="btn btn-black-mini"><i class="fa-solid fa-download"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualWantModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-audiovisual-presentation-modal></app-edit-audiovisual-presentation-modal>
    <app-edit-audiovisual-minibio-modal></app-edit-audiovisual-minibio-modal>
    <app-edit-audiovisual-work-modal></app-edit-audiovisual-work-modal>
    <app-edit-audiovisual-want-modal></app-edit-audiovisual-want-modal>
