    <!-- Modal Presentation -->
    <div class="modal fade" id="audiovisualPresentationModal" tabindex="-1" aria-labelledby="audiovisualPresentationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="audiovisualPresentationModalLabel">Presentación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">  
                                        <h4 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> {{audiovisualPresentation.title}}</span></h4>
                                        <p class="w-75 text-center m-auto mb-3">
                                            {{audiovisualPresentation.lineOne}} 
                                            <br><br>
                                            {{audiovisualPresentation.lineTwo}}
                                            <br><br>
                                            {{audiovisualPresentation.lineThree}}
                                        </p>
                                        <div class="container mt-2 pt-5 pb-2 w-75 m-auto">
                                            <div class="row d-flex justify-content-center">
                                                <div class="col-4 text-center">
                                                    <i [class]="minibio.icon" class="fa-3x mb-3"></i>
                                                    <h4>{{minibio.title}}</h4>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <i [class]="myWork.icon" class="fa-3x mb-3"></i>
                                                    <h4>{{myWork.title}}</h4>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <i [class]="iWant.icon" class="fa-3x mb-3"></i>
                                                    <h4>{{iWant.title}}</h4>
                                                </div>
                                            </div>     
                                        </div>   
                                        <h6 class="w-75 text-center m-auto pt-4 mb-2">{{audiovisualPresentation.subtitle}}</h6>
                                        <p class="w-75 text-center m-auto mb-2">{{audiovisualPresentation.paragraph}}</p>                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualPresentationModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <hr class="w-75 m-auto mt-3 pb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center">{{minibio.title}}</h4>
                                <div class="card">
                                    <div class="card-body">      
                                        <p class="card-text">{{minibio.paragraphOne}}</p>
                                        <p class="card-text">{{minibio.paragraphTwo}}</p>
                                        <p class="card-text">{{minibio.paragraphThree}}</p>
                                        <p class="card-text">{{minibio.paragraphFour}}</p>
                                        <p class="card-text">{{minibio.paragraphFive}}</p>
                                        <p class="card-text">{{minibio.paragraphSix}}</p>
                                        <p class="card-text">{{minibio.paragraphSeven}}</p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <button class="btn btn-black-mini"><i class="fa-solid fa-download"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualMinibioModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-75 m-auto mt-3 pb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center">{{myWork.title}}</h4>
                                <div class="card">
                                    <div class="card-body">      
                                        <p class="card-text">{{myWork.paragraphOne}}</p>
                                        <p class="card-text">{{myWork.paragraphTwo}}</p>
                                        <p class="card-text">{{myWork.paragraphThree}}</p>
                                        <p class="card-text">{{myWork.paragraphFour}}</p>
                                        <p class="card-text">{{myWork.paragraphFive}}</p>
                                        <p class="card-text">{{myWork.paragraphSix}}</p>
                                        <p class="card-text">{{myWork.paragraphSeven}}</p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <button class="btn btn-black-mini"><i class="fa-solid fa-download"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualWorkModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-75 m-auto mt-3 pb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center">{{iWant.title}}</h4>
                                <div class="card">
                                    <div class="card-body">      
                                        <p class="card-text">{{iWant.paragraphOne}}</p>
                                        <p class="card-text">{{iWant.paragraphTwo}}</p>
                                        <p class="card-text">{{iWant.paragraphThree}}</p>
                                        <p class="card-text">{{iWant.paragraphFour}}</p>
                                        <p class="card-text">{{iWant.paragraphFive}}</p>
                                        <p class="card-text">{{iWant.paragraphSix}}</p>
                                        <p class="card-text">{{iWant.paragraphSeven}}</p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <button class="btn btn-black-mini"><i class="fa-solid fa-download"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualWantModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Cerrar">{{buttons[7].value}}</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- CRUD Modals -->
    <app-edit-audiovisual-presentation-modal></app-edit-audiovisual-presentation-modal>
    <app-edit-audiovisual-minibio-modal></app-edit-audiovisual-minibio-modal>
    <app-edit-audiovisual-work-modal></app-edit-audiovisual-work-modal>
    <app-edit-audiovisual-want-modal></app-edit-audiovisual-want-modal>
