<section class="contact mt-5 pt-5">
    <div class="container w-75">
        <h3 class="d-flex justify-content-center mt-4 py-4"><i class="fa-solid fa-info"></i> <span class="text-orange text-center ms-3"> Info para ponernos en contacto...</span></h3>
        <div class="text-center">
            <h4 class="pb-2"><i class="fa-solid fa-phone"></i> Teléfono</h4>
            <h4 class="pb-2"><i class="fa-solid fa-envelope"></i> E-mail</h4>
            <h4 class="pb-2"><i class="fa-solid fa-user-clock"></i> Disponibilidad</h4>
        </div>
    </div>
</section>
