    <!-- Modal Edit Double Credits -->
    <div class="modal fade" id="editDoubleCreditModal" aria-hidden="true" aria-labelledby="editDoubleCreditModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editDoubleCreditModal">Editar Crédito</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#creditsModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">                    
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <label for="credit" class="form-label">{{forms[11].value}}</label>
                                    <input type="text" class="form-control" id="credit" placeholder="Crédito" formControlName="credit" [ngClass]="{ 'is-invalid': submitted && f['credit'].errors, 'is-valid': !f['credit'].errors && f['credit'].touched }">
                                    <div id="creditHelp" class="form-text">{{helpers[11].value}}</div>
                                    <div *ngIf="submitted && f['credit'].errors" class="invalid-feedback">
                                        <div *ngIf="f['credit'].errors['required']">Es preciso ingresar un crédito</div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <label for="name" class="form-label">{{forms[12].value}}</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors, 'is-valid': !f['name'].errors && f['name'].touched }">
                                    <div id="nameHelp" class="form-text">{{helpers[12].value}}</div>
                                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                        <div *ngIf="f['name'].errors['required']">Es preciso ingresar un nombre</div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#creditsModal" data-bs-toggle="modal" aria-label="Actualizar">{{buttons[13].value}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
