<section class="background" [ngStyle]="{'background-image': 'url(' + banners[4].image + ')'}"> 
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg d-flex justify-content-between container-fluid">
        <app-white-brand></app-white-brand>
        <app-white-session></app-white-session>
    </nav>
    
    <!-- Plus -->
    <div class="position-absolute top-50 start-0 translate-middle-y ms-4 d-flex align-items-center">
        <a class="plus" [attr.data-tooltip]="banners[4].description">
            <app-white-plus></app-white-plus>
        </a>   
    </div>

    <!-- Enlace -->
    <div class="text-center pt-5 text-white">
        <div class="col-12 mt-5 pt-5 mb-4">
            <h1 class="hero pt-5">{{banners[4].hero}}</h1>
        </div>
        <div class="col-6 m-auto mb-5">
            <h5 class="hero">{{banners[4].subhero}}</h5>
        </div>
        <a routerLink="/audiovisual/projects">
            <button type="button" class="btn btn-outline-white btn-lg me-5">{{buttons[2].value}}</button>
        </a>   
        <a routerLink="/audiovisual/samples">
            <button type="button" class="btn btn-outline-white btn-lg ms-5 me-5">{{buttons[3].value}}</button>
        </a>      
        <a routerLink="/audiovisual/data">
            <button type="button" class="btn btn-outline-white btn-lg ms-5">{{buttons[4].value}}</button>
        </a>   
    </div>

    <p class="container w-75 m-auto pt-3 text-white text-center">
        {{links.linksOne}}<br>
        {{links.linksTwo}}<br>
        {{links.linksThree}}<br>
        {{links.linksFour}}
    </p>

    <!-- Redes -->
    <app-white-audiovisual></app-white-audiovisual>

    <!-- Footer -->
    <footer class="footer d-flex justify-content-between container-fluid">
        <app-white-back></app-white-back>
        <app-white-fast-forward></app-white-fast-forward>
    </footer>
</section>
