    <!-- Modal Profile -->
    <div class="modal fade" id="audiovisualProfileModal" tabindex="-1" aria-labelledby="audiovisualProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="audiovisualProfileModalLabel">Perfil</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <h4 class="d-flex justify-content-center mt-4"><span class="text-orange text-center ms-3"> {{audiovisualProfile.title}}</span></h4>                                    
                                    <p class="w-75 text-center m-auto mb-2">{{audiovisualProfile.intro}}</p>
                                    <div class="card-body d-flex justify-content-center">      
                                        <img [src]="audiovisualProfile.photo" class="rounded-circle w-25 mb-2">
                                    </div>      
                                    <div class="text-center mb-4">
                                        <span class="text-center">{{audiovisualProfile.one}}<br>{{audiovisualProfile.two}}<br><i>{{audiovisualProfile.author}}</i><br>{{audiovisualProfile.credit}}</span>    
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualProfileModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Cerrar">{{buttons.close}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-audiovisual-profile-modal></app-edit-audiovisual-profile-modal>
    