<section class="developer">
    <!--Developer-->
    <div class="container text-center">
        <div class="row">
            <h3 class="col justify-content-center d-flex"><b>Developer</b></h3>
        </div>
        <div class="row pt-4">
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#developerIntroModal">
                    <i class="fa-solid fa-align-center fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Intro</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#developerProfileModal">
                    <i class="fa-solid fa-user fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Perfil</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#developerProjectsModal">
                    <i class="fa-solid fa-code fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Proyectos</h5>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#developerEducationModal">
                    <i class="fa-solid fa-graduation-cap fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Educación</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#developerExperienceModal">
                    <i class="fa-solid fa-wrench fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Experiencia</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#developerSkillsModal">
                    <i class="fa-solid fa-cogs fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Skills</h5>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#developerHobbiesModal">
                    <i class="fa-solid fa-star fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Hobbies</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#developerCommentsModal">
                    <i class="fa-solid fa-comment fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Comentarios</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" href="#developerCVModal">
                    <i class="fa-solid fa-file fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">CV</h5>
            </div>
        </div>
    </div>
</section>
