<section class="developer">
    <!--Developer-->
    <div class="container text-center">
        <div class="row">
            <h3 class="col justify-content-center d-flex"><b>{{title}}</b></h3>
        </div>
        <div class="row pt-4">
            <div *ngFor="let button of developer" class="col-6 col-md-3 col-lg-4 pb-5">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" [attr.data-bs-target]="'#'+button.target">
                    <i [class]="button.icon"></i>
                </button>
                <h5 class="mt-3">{{button.section}}</h5>
            </div>
        </div>
    </div>
</section>

<!-- Overview Modals -->
<app-developer-intro-modal></app-developer-intro-modal>
<app-developer-profile-modal></app-developer-profile-modal>
<app-developer-projects-modal></app-developer-projects-modal>
<app-developer-education-modal></app-developer-education-modal>
<app-developer-experience-modal></app-developer-experience-modal>
<app-developer-skills-modal></app-developer-skills-modal>
<app-developer-hobbies-modal></app-developer-hobbies-modal>
<app-developer-comments-modal></app-developer-comments-modal>
<app-developer-cv-modal></app-developer-cv-modal>
