    <!-- Modal Projects -->
    <div class="modal fade" id="developerProjectsModal" tabindex="-1" aria-labelledby="developerProjectsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="developerProjectsModalLabel">Proyectos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row g-4">
                            <div *ngFor="let project of developerProjects" class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="card">
                                    <img [src]="project.image" class="card-img-top" [alt]="project.alt">
                                    <div class="card-body">
                                        <h5>{{project.title}}</h5>                                        
                                        <p class="card-text">{{project.description}}</p>
                                        <div class="mt-3">
                                            <i [class]="project.icon"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperProjectModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperProjectModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperProjectModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">{{buttons.close}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-create-developer-project-modal></app-create-developer-project-modal>
    <app-edit-developer-project-modal></app-edit-developer-project-modal>
    <app-delete-developer-project-modal></app-delete-developer-project-modal>
    