    <!-- Modal Comments -->
    <div class="modal fade" id="developerCommentsModal" tabindex="-1" aria-labelledby="developerCommentsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="developerCommentsModalLabel">Comentarios</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="card">
                                    <h4 class="d-flex justify-content-center mt-4"><i class="fa-solid fa-comment fa-2x"></i></h4>                                                                     
                                    <div class="text-center mb-4">
                                        <span class="text-center">"Si tienes un sueño, debes conservarlo.<br>Si quieres algo sal a buscarlo, y punto."<br><i>Chris Gardner</i><br>En busca de la Felicidad</span>    
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperCommentModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperCommentModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="card">
                                    <h4 class="d-flex justify-content-center mt-4"><i class="fa-solid fa-comment fa-2x"></i></h4>                                                                     
                                    <div class="text-center mb-4">
                                        <span class="text-center">"Si tienes un sueño, debes conservarlo.<br>Si quieres algo sal a buscarlo, y punto."<br><i>Chris Gardner</i><br>En busca de la Felicidad</span>    
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperCommentModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperCommentModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="card">
                                    <h4 class="d-flex justify-content-center mt-4"><i class="fa-solid fa-comment fa-2x"></i></h4>                                                                     
                                    <div class="text-center mb-4">
                                        <span class="text-center">"Si tienes un sueño, debes conservarlo.<br>Si quieres algo sal a buscarlo, y punto."<br><i>Chris Gardner</i><br>En busca de la Felicidad</span>    
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperCommentModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperCommentModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="w-75 m-auto">
                <div class="d-flex justify-content-center my-3">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperCommentModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-create-developer-comment-modal></app-create-developer-comment-modal>
    <app-edit-developer-comment-modal></app-edit-developer-comment-modal>
    <app-delete-developer-comment-modal></app-delete-developer-comment-modal>
    