    <!-- Modal Edit PositionCV -->
    <div class="modal fade" id="editPositionCVModal" aria-hidden="true" aria-labelledby="editPositionCVModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editPositionCVModal">Editar Puesto CV</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#positionCVModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label for="position" class="form-label">{{forms[55].value}}</label>
                                    <input type="text" class="form-control" id="position" placeholder="Puesto" formControlName="position" [ngClass]="{ 'is-invalid': submitted && f['position'].errors, 'is-valid': !f['position'].errors && f['position'].touched }">
                                    <div id="positionHelp" class="form-text">{{helpers[49].value}}</div>
                                    <div *ngIf="submitted && f['position'].errors" class="invalid-feedback">
                                        <div *ngIf="f['position'].errors['required']">Es preciso ingresar el puesto</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#positionCVModal" data-bs-toggle="modal" aria-label="Actualizar">{{buttons[13].value}}</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>