    <!-- Modal Edit Audiovisual Quote -->
    <div class="modal fade" id="editAudiovisualQuoteModal" aria-hidden="true" aria-labelledby="editAudiovisualQuoteModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editAudiovisualQuoteModal">Editar Quote</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualQuotesModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">                
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label for="icon" class="form-label">{{forms.icon}}</label>
                                    <input type="text" class="form-control" id="icon" placeholder="Ícono" formControlName="icon" [ngClass]="{ 'is-invalid': submitted && f['icon'].errors, 'is-valid': !f['icon'].errors && f['icon'].touched }">
                                    <div id="iconHelp" class="form-text">{{helpers.iconHelp}}</div>
                                    <div *ngIf="submitted && f['icon'].errors" class="invalid-feedback">
                                        <div *ngIf="f['icon'].errors['required']">Es preciso ingresar un ícono</div>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="author" class="form-label">{{forms.author}}</label>
                                    <input type="text" class="form-control" id="author" placeholder="Autor" formControlName="author" [ngClass]="{ 'is-invalid': submitted && f['author'].errors, 'is-valid': !f['author'].errors && f['author'].touched }">
                                    <div id="authorHelp" class="form-text">{{helpers.authorHelp}}</div>
                                    <div *ngIf="submitted && f['author'].errors" class="invalid-feedback">
                                        <div *ngIf="f['author'].errors['required']">Es preciso ingresar un autor</div>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="credit" class="form-label">{{forms.credit}}</label>
                                    <input type="text" class="form-control" id="credit" placeholder="Crédito" formControlName="credit" [ngClass]="{ 'is-invalid': submitted && f['credit'].errors, 'is-valid': !f['credit'].errors && f['credit'].touched }">
                                    <div id="creditHelp" class="form-text">{{helpers.creditHelp}}</div>
                                    <div *ngIf="submitted && f['credit'].errors" class="invalid-feedback">
                                        <div *ngIf="f['credit'].errors['required']">Es preciso ingresar un crédito</div>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">          
                                    <label for="phraseOne" class="form-label">{{forms.phrase}} {{forms.one}}</label>
                                    <textarea class="form-control" id="phraseOne" rows="2" formControlName="phraseOne" [ngClass]="{ 'is-invalid': submitted && f['phraseOne'].errors, 'is-valid': !f['phraseOne'].errors && f['phraseOne'].touched }"></textarea>
                                    <div class="d-flex justify-content-between">
                                        <div id="phraseHelp" class="form-text">{{helpers.phraseHelp}}</div>
                                        <div id="limitHelp" class="form-text">{{helpers.limit100}}</div>
                                    </div> 
                                    <div *ngIf="submitted && f['phraseOne'].errors" class="invalid-feedback">
                                        <div *ngIf="f['phraseOne'].errors['required']">Es preciso ingresar la primera línea de la frase</div>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">          
                                    <label for="phraseTwo" class="form-label">{{forms.phrase}} {{forms.two}}</label>
                                    <textarea class="form-control" id="phraseTwo" rows="2" formControlName="phraseTwo" [ngClass]="{ 'is-invalid': submitted && f['phraseTwo'].errors, 'is-valid': !f['phraseTwo'].errors && f['phraseTwo'].touched }"></textarea>
                                    <div class="d-flex justify-content-between">
                                        <div id="phraseHelp" class="form-text">{{helpers.phraseHelp}}</div>
                                        <div id="limitHelp" class="form-text">{{helpers.limit100}}</div>
                                    </div> 
                                    <div *ngIf="submitted && f['phraseTwo'].errors" class="invalid-feedback">
                                        <div *ngIf="f['phraseTwo'].errors['required']">Es preciso ingresar la segunda línea de la frase</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#audiovisualQuotesModal" data-bs-toggle="modal" aria-label="Actualizar">{{buttons.update}}</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
