    <!-- Modal Create Developer Technical Skill -->
    <div class="modal fade" id="createDeveloperTechnicalSkillModal" aria-hidden="true" aria-labelledby="createDeveloperTechnicalSkillModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createDeveloperTechnicalSkillModal">Crear Skill</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerSkillsModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-4 mb-2">
                                    <label for="icon" class="form-label">{{forms[2].value}}</label>
                                    <input type="text" class="form-control" id="icon" placeholder="Ícono" formControlName="icon" [ngClass]="{ 'is-invalid': submitted && f['icon'].errors, 'is-valid': !f['icon'].errors && f['icon'].touched }">
                                    <div id="iconHelp" class="form-text">{{helpers[2].value}}</div>
                                    <div *ngIf="submitted && f['icon'].errors" class="invalid-feedback">
                                        <div *ngIf="f['icon'].errors['required']">Es preciso ingresar un ícono</div>
                                    </div>
                                </div>
                                <div class="col-4 mb-2">
                                    <label for="skill" class="form-label">{{forms[58].value}}</label>
                                    <input type="text" class="form-control" id="skill" placeholder="Skill" formControlName="skill" [ngClass]="{ 'is-invalid': submitted && f['skill'].errors, 'is-valid': !f['skill'].errors && f['skill'].touched }">
                                    <div id="skillHelp" class="form-text">{{helpers[52].value}}</div>
                                    <div *ngIf="submitted && f['skill'].errors" class="invalid-feedback">
                                        <div *ngIf="f['skill'].errors['required']">Es preciso ingresar una habilidad</div>
                                    </div>
                                </div>
                                <div class="col-4 mb-2">
                                    <label for="percentage" class="form-label">{{forms[59].value}}</label>
                                    <input type="text" class="form-control" id="percentage" placeholder="Porcentaje" formControlName="percentage" [ngClass]="{ 'is-invalid': submitted && f['percentage'].errors, 'is-valid': !f['percentage'].errors && f['percentage'].touched }">
                                    <div id="percentageHelp" class="form-text">{{helpers[53].value}}</div>
                                    <div *ngIf="submitted && f['percentage'].errors" class="invalid-feedback">
                                        <div *ngIf="f['percentage'].errors['required']">Es preciso ingresar el porcentaje</div>
                                    </div>
                                </div>                           
                            </div>    
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#developerSkillsModal" data-bs-toggle="modal" aria-label="Guardar">{{buttons[11].value}}</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
