<section class="education mt-5 pt-5">
    <div class="container w-75">
        <h3 class="d-flex justify-content-center mt-4 pb-4"><i class="fa-solid fa-graduation-cap"></i> <span class="text-orange text-center ms-3"> Estudié y lo sigo haciendo...</span></h3>
        <div class="row mt-4 pt-4">
            <div *ngFor="let study of studies" class="col-4">
                <div class="card">
                    <img [src]="study.image" class="img-fluid w-50 m-auto p-auto">
                    <div class="card-body">
                        <div class="text-center mt-4">
                            <h5>{{study.title}}</h5>
                            <h6>{{study.institution}}</h6>
                            <p>{{study.start_date}} - {{study.end_date}}</p>      
                        </div>
                    </div>
                </div>        
            </div>
        </div>    
    </div>
</section>
