<section class="education mt-5 pt-5">
    <div class="container w-75">
        <h3 class="d-flex justify-content-center mt-4 pb-4"><i class="fa-solid fa-graduation-cap"></i> <span class="text-orange text-center ms-3"> Estudié y lo sigo haciendo...</span></h3>
        <div class="row mt-4 pt-4">
            <div class="col-4">
                <div class="card">
                    <img src="./../assets/img/developer/projects/bootstrap.png" class="img-fluid" alt="...">
                    <div class="card-body">
                        <div class="text-center mt-4">
                            <h5>Título</h5>
                            <h6>Institución</h6>
                            <p>Inicio - Fin</p>      
                        </div>
                    </div>
                </div>        
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="./../assets/img/developer/projects/borde.png" class="img-fluid" alt="...">
                    <div class="card-body">
                        <div class="text-center mt-4">
                            <h5>Título</h5>
                            <h6>Institución</h6>
                            <p>Inicio - Fin</p>      
                        </div>
                    </div>
                </div>        
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="./../assets/img/developer/projects/cards.png" class="img-fluid" alt="...">
                    <div class="card-body">
                        <div class="text-center mt-4">
                            <h5>Título</h5>
                            <h6>Institución</h6>
                            <p>Inicio - Fin</p>      
                        </div>
                    </div>
                </div>        
            </div>
        </div>    
    </div>
</section>
