    <!-- Modal Samples Page -->
    <div class="modal fade" id="audiovisualSamplesPageModal" tabindex="-1" aria-labelledby="audiovisualSamplesPageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="audiovisualSamplesPagesModalLabel">Muestras</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualLinksModal" data-bs-toggle="modal" aria-label="Volver"></i>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h4 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> Muestras</span></h4>
                        <p class="text-center">
                            {{samples_page.line_one}}
                            <br><br>    
                            {{samples_page.line_two}}
                            <br><br>
                            {{samples_page.line_three}} 
                            <br><br>
                            {{samples_page.line_four}}
                        </p>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualSamplesPagePresentationModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <hr class="w-75 m-auto mt-3 pb-3">
                    <div class="container text-center">
                        <div class="row g-4">
                            <div *ngFor="let sample of samples" class="col-6">
                                <div class="card">
                                    <img [src]="sample.card" class="card-img-top" [alt]="sample.alt">
                                    <div class="card-body">
                                        <h5 class="card-title">{{sample.title}}</h5>
                                        <p class="card-text">{{sample.logline}}</p>
                                        <p class="card-text text-muted">{{sample.format}} - {{sample.genre}}</p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <a class="btn btn-black-medium download">
                                            <div class="d-flex justify-content-end">
                                              <small class="text-muted"><i class="fa-solid fa-download"></i></small>
                                            </div>
                                            <h5 class="my-1">{{sample.typeLogline}}</h5>
                                            <p class="mb-2">{{sample.draftLogline}}</p>
                                            <small class="text-muted mb-4">{{sample.rightsLogline}} <i class="fa-regular fa-copyright"></i></small>
                                        </a>
                                        <a class="btn btn-black-medium download">
                                            <div class="d-flex justify-content-end">
                                              <small class="text-muted"><i class="fa-solid fa-download"></i></small>
                                            </div>
                                            <h5 class="my-1">{{sample.typeStoryline}}</h5>
                                            <p class="mb-2">{{sample.draftStoryline}}</p>
                                            <small class="text-muted mb-4">{{sample.rightsStoryline}} <i class="fa-regular fa-copyright"></i></small>
                                        </a>
                                        <a class="btn btn-black-medium download">
                                            <div class="d-flex justify-content-end">
                                              <small class="text-muted"><i class="fa-solid fa-download"></i></small>
                                            </div>
                                            <h5 class="my-1">{{sample.typeSynopsis}}</h5>
                                            <p class="mb-2">{{sample.draftSynopsis}}</p>
                                            <small class="text-muted mb-4">{{sample.rightsSynopsis}} <i class="fa-regular fa-copyright"></i></small>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center my-3">
                                    <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editAudiovisualSampleModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteAudiovisualSampleModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-75 m-auto">
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-black-extra-mini" data-bs-target="#createAudiovisualSampleModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#audiovisualLinksModal" data-bs-toggle="modal" aria-label="Cancelar">{{buttons[10].value}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-audiovisual-samples-page-presentation-modal></app-edit-audiovisual-samples-page-presentation-modal>
    <app-create-audiovisual-sample-modal></app-create-audiovisual-sample-modal>
    <app-edit-audiovisual-sample-modal></app-edit-audiovisual-sample-modal>
    <app-delete-audiovisual-sample-modal></app-delete-audiovisual-sample-modal>
