    <!-- Modal Delete Social -->
    <div class="modal fade" id="deleteAudiovisualSocialModal" aria-hidden="true" aria-labelledby="deleteAudiovisualSocialModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteAudiovisualSocialModal">Eliminar Red</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#socialModal" data-bs-toggle="modal" aria-label="Volver"></i>
                </div>
                <div class="modal-body">
                    <i class="fa-solid fa-circle-exclamation justify-content-center d-flex fa-2x pt-3"></i>
                    <br>
                    <p class="justify-content-center d-flex">¿De verdad quieres eliminar esta red?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#socialModal" data-bs-toggle="modal" aria-label="Volver" (click)="alertWithCancel()">{{buttons.cancel}}</button>
                    <button class="btn btn-black-mini" data-bs-target="#socialModal" data-bs-toggle="modal" aria-label="Volver" (click)="alertWithSuccess()">{{buttons.delete}}</button>
                </div>
            </div>
        </div>
    </div>
