<section class="mb-5 pb-5">
    <div class="container" id="series">
        <h4 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> Series</span></h4>
    </div>
    <div class="container text-center">
        <div class="row g-4">
            <div class="col-4">
                <div class="card">
                    <img src="./../../assets/img/audiovisual/projects/broken-min.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Título</h5>                                        
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <small>Formato - Género</small>
                        <div class="mt-3">
                            <i class="fa-solid fa-eye orange"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="./../../assets/img/audiovisual/projects/canon-min.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Título</h5>                                        
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <small>Formato - Género</small>
                        <div class="mt-3">
                            <i class="fa-solid fa-eye orange"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="./../../assets/img/audiovisual/projects/code_criminal-min.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Título</h5>                                        
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <small>Formato - Género</small>
                        <div class="mt-3">
                            <i class="fa-solid fa-eye orange"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="./../../assets/img/audiovisual/projects/eight_grade-min.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Título</h5>                                        
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <small>Formato - Género</small>
                        <div class="mt-3">
                            <i class="fa-solid fa-eye orange"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="./../../assets/img/audiovisual/projects/flowers_into_the_sea-min.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Título</h5>                                        
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <small>Formato - Género</small>
                        <div class="mt-3">
                            <i class="fa-solid fa-eye orange"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="./../../assets/img/audiovisual/projects/gen-min.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Título</h5>                                        
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <small>Formato - Género</small>
                        <div class="mt-3">
                            <i class="fa-solid fa-eye orange"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
