<div class="row mt-5 pt-5 mb-5 pb-5">
    <div class='feedback text-700'>{{musicCredits.title}}</div>
    <div class="col-12">
        <div class='quote'>
            <blockquote class='text-700'><i [class]="musicCredits.copyright" class="text-700"></i> {{musicCredits.song}}</blockquote>
        </div>
        <div class='feedback text-uppercase'>{{musicCredits.author}}</div>
        <div class='quote'>
            <span><i [class]="musicCredits.icon" class="fa-3x text-white"></i></span>
            <br>
            <span>{{musicCredits.link}}</span>
        </div>
    </div>
</div>