    <!-- Modal Edit Divisor One Audiovisual -->
    <div class="modal fade" id="editAudiovisualDivisorOneModal" aria-hidden="true" aria-labelledby="editAudiovisualDivisorOneModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editAudiovisualDivisorOneModal">Editar Divisor Uno</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualDivisorsModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <form class="needs-validation">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="validationCustom03" class="form-label">Línea Uno</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Línea Uno" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="validationCustom03" class="form-label">Línea Dos</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Línea Dos" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="validationCustom03" class="form-label">Línea Tres</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Línea Tres" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="validationCustom03" class="form-label">Línea Cuatro</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Línea Cuatro" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="validationCustom03" class="form-label">Línea Cinco</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Línea Cinco" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-black-mini" data-bs-target="#audiovisualDivisorsModal" data-bs-toggle="modal" aria-label="Back">Cancelar</button>
                        <button class="btn btn-black-mini">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
