    <!-- Modal Edit Music Credits -->
    <div class="modal fade" id="editMusicCreditModal" aria-hidden="true" aria-labelledby="editMusicCreditModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editMusicCreditModal">Editar Crédito de Música</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#creditsModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <label for="title" class="form-label">{{forms.title}}</label>
                                    <input type="text" class="form-control" id="title" placeholder="Título" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f['title'].errors, 'is-valid': !f['title'].errors && f['title'].touched }">
                                    <div id="titleHelp" class="form-text">{{helpers.titleHelp}}</div>
                                    <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                        <div *ngIf="f['title'].errors['required']">Es preciso ingresar un título</div>
                                    </div> 
                                </div>
                                <div class="col-12 pt-2">
                                    <label for="author" class="form-label">{{forms.author}}</label>
                                    <input type="text" class="form-control" id="author" placeholder="Autor" formControlName="author" [ngClass]="{ 'is-invalid': submitted && f['author'].errors, 'is-valid': !f['author'].errors && f['author'].touched }">
                                    <div id="authorHelp" class="form-text">{{helpers.authorHelp}}</div>
                                    <div *ngIf="submitted && f['author'].errors" class="invalid-feedback">
                                        <div *ngIf="f['author'].errors['required']">Es preciso ingresar un ícono</div>
                                    </div> 
                                </div>
                                <div class="col-12 pt-2">
                                    <label for="track" class="form-label">{{forms.track}}</label>
                                    <input type="text" class="form-control" id="track" placeholder="Pista" formControlName="track" [ngClass]="{ 'is-invalid': submitted && f['track'].errors, 'is-valid': !f['track'].errors && f['track'].touched }">
                                    <div id="trackHelp" class="form-text">{{helpers.trackHelp}}</div>
                                    <div *ngIf="submitted && f['track'].errors" class="invalid-feedback">
                                        <div *ngIf="f['track'].errors['required']">Es preciso ingresar una pista</div>
                                    </div> 
                                </div>
                                <div class="col-6 pt-2 pb-2">
                                    <label for="icon" class="form-label">{{forms.icon}}</label>
                                    <input type="text" class="form-control" id="icon" placeholder="Ícono" formControlName="icon" [ngClass]="{ 'is-invalid': submitted && f['icon'].errors, 'is-valid': !f['icon'].errors && f['icon'].touched }">
                                    <div id="iconHelp" class="form-text">{{helpers.iconHelp}}</div>
                                    <div *ngIf="submitted && f['icon'].errors" class="invalid-feedback">
                                        <div *ngIf="f['icon'].errors['required']">Es preciso ingresar un ícono</div>
                                    </div>                  
                                </div>
                                <div class="col-6 pt-2 pb-2">
                                    <label for="url" class="form-label">{{forms.url}}</label>
                                    <input type="text" class="form-control" id="url" placeholder="Enlace" formControlName="url" [ngClass]="{ 'is-invalid': submitted && f['url'].errors, 'is-valid': !f['url'].errors && f['url'].touched }">
                                    <div id="urlHelp" class="form-text">{{helpers.urlHelp}}</div>
                                    <div *ngIf="submitted && f['url'].errors" class="invalid-feedback">
                                        <div *ngIf="f['url'].errors['required']">Es preciso ingresar un enlace</div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#creditsModal" data-bs-toggle="modal" aria-label="Volver">{{buttons.update}}</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
