    <!-- Modal Projects -->
    <div class="modal fade" id="audiovisualProjectsModal" tabindex="-1" aria-labelledby="audiovisualProjectsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="audiovisualProjectsPageModalLabel">Proyectos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="container mt-3 mb-3">
                                            <h4 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> {{projectsIntro.title}}</span></h4>
                                            <p class="w-75 text-center m-auto mb-2">
                                                {{projectsIntro.lineOne}}  
                                                <br><br>
                                                {{projectsIntro.lineTwo}} 
                                                <br><br>
                                                {{projectsIntro.lineThree}}
                                            </p>
                                            <div class="container mt-2 pt-5 pb-2 w-75 m-auto d-flex justify-content-between">      
                                                <div class="col-4 text-center">
                                                    <i [class]="projectsIntro.iconSeries" class="fa-3x mb-3"></i>
                                                    <h4>{{projectsIntro.series}}</h4>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <i [class]="projectsIntro.iconLongshots" class="fa-3x mb-3"></i>
                                                    <h4>{{projectsIntro.longshots}}</h4>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <i [class]="projectsIntro.iconOthers" class="fa-3x mb-3"></i>
                                                    <h4>{{projectsIntro.others}}</h4>
                                                </div>
                                            </div>   
                                            <h5 class="w-75 text-center m-auto mt-5 pt-3 mb-3">{{projectsIntro.oneSamples}} <strong>{{projectsIntro.twoSamples}} </strong>{{projectsIntro.threeSamples}}</h5>             
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualProjectsModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Cerrar">{{buttons.close}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-audiovisual-projects-modal></app-edit-audiovisual-projects-modal>