    <!-- Modal Projects -->
    <div class="modal fade" id="audiovisualProjectsModal" tabindex="-1" aria-labelledby="audiovisualProjectsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="audiovisualProjectsPageModalLabel">Proyectos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="container mt-3 mb-3">
                                            <h4 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> Proyectos</span></h4>
                                            <p class="w-75 text-center m-auto mb-2">
                                                Esta parte sería una mezcla entre Experiencia Laboral y Conocimientos Técnicos...  
                                                <br><br>
                                                Lo que podés encontrar a continuación es todo producción propia... 
                                                <br><br>
                                                Y está, en este caso, diferenciada por formatos...
                                            </p>
                                            <div class="container mt-2 pt-5 pb-2 w-75 m-auto d-flex justify-content-between">      
                                                <div class="col-4 text-center">
                                                    <i class="fa-solid fa-display fa-3x mb-3"></i>
                                                    <h4>Series</h4>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <i class="fa-solid fa-film fa-3x mb-3"></i>
                                                    <h4>Largometrajes</h4>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <i class="fa-solid fa-plus fa-3x mb-3"></i>
                                                    <h4>Otros</h4>
                                                </div>
                                            </div>   
                                            <h5 class="w-75 text-center m-auto mt-5 pt-3 mb-3">Las <strong>muestras de trabajo </strong>también son parte del todo...</h5>             
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualProjectsModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-audiovisual-projects-modal></app-edit-audiovisual-projects-modal>