<section class="audiovisual">
    <!-- Audiovisual -->
    <div class="container text-center">
        <div class="row">
            <h3 class="col justify-content-center d-flex"><b>Audiovisual</b></h3>
        </div>
        <div class="row pt-4">
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#audiovisualIntroModal">
                    <i class="fa-solid fa-align-center fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Intro</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#audiovisualProfileModal">
                    <i class="fa-solid fa-user fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Perfil</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#audiovisualDivisorsModal">
                    <i class="fa-solid fa-file-lines fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Divisores</h5>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#audiovisualPresentationModal">
                    <i class="fa-solid fa-file fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Presentación</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#audiovisualProjectsModal">
                    <i class="fa-solid fa-film fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Proyectos</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#audiovisualLinksModal">
                    <i class="fa-solid fa-link fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Links</h5>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#audiovisualFeedbackModal">
                    <i class="fa-solid fa-signature fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Feedback</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#audiovisualQuotesModal">
                    <i class="fa-solid fa-quote-right fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Quotes</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#audiovisualClosingModal">                        <i class="fa-solid fa-stop fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Closing</h5>
            </div>
        </div>
    </div>
</section>
