<section class="audiovisual">
    <!-- Audiovisual -->
    <div class="container text-center">
        <div class="row">
            <h3 class="col justify-content-center d-flex"><b>{{title}}</b></h3>
        </div>
        <div class="row pt-4">
            <div *ngFor="let button of audiovisual" class="col-6 col-md-3 col-lg-4 pb-5">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" [attr.data-bs-target]="'#'+button.target">
                    <i [class]="button.icon"></i>
                </button>
                <h5 class="mt-3">{{button.section}}</h5>
            </div>
        </div>
    </div>
</section>

<!-- Overview Modals -->
<app-audiovisual-intro-modal></app-audiovisual-intro-modal>
<app-audiovisual-profile-modal></app-audiovisual-profile-modal>
<app-audiovisual-divisors-modal></app-audiovisual-divisors-modal>
<app-audiovisual-presentation-modal></app-audiovisual-presentation-modal>
<app-audiovisual-projects-modal></app-audiovisual-projects-modal>
<app-audiovisual-links-modal></app-audiovisual-links-modal>
<app-audiovisual-feedback-modal></app-audiovisual-feedback-modal>
<app-audiovisual-quotes-modal></app-audiovisual-quotes-modal>
<app-audiovisual-closing-modal></app-audiovisual-closing-modal>
