    <!--Modal Bloopers-->
    <div class="modal fade" id="bloopersModal" tabindex="-1" aria-labelledby="bloopersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="bloopersModalLabel">Bloopers</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <h5 class='text-700 pt-3 pb-3'>Hay que reconocer<br>que no se es perfecto...</h5>
                        <h6 class='text-700'>Todo lo que puede fallar...<br>falla...</h6>    
                    </div>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editTitleBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <hr class="w-75 m-auto">
                    <div class="container col-8 m-auto">
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <h6 class='text-700'>Estuve casi dos semanas sin encontrarle la vuelta al routing de Angular...</h6>
                                <p class='text-uppercase text-700'>Al final era parecido a las rutas de CodeIgniter4</p>
                            </div>                            
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i class="fa-solid fa-route fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>No será frustrante... <br>decían...</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i class="fa-solid fa-burst fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>        
                            <div class="col-6">
                                <h6 class='text-700'>Al llegar a Java estuve no solo días sino más de un mes tratando de entender algo...</h6>
                                <p class='text-uppercase text-700'>Creo que en ningún momento supe cómo buscar las cosas o posiblemente no sabía qué debía buscar...</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>Tomate un descanso, <br>vas a ver que es sencillo...</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">                       
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <h6 class='text-700'>Todo bien con Stackoverflow... Jamás voy a entender cómo es que a algunos les funciona eso de preguntar cosas...</h6>
                                <p class='text-uppercase text-700'>Me quedo con GitHub y Codepen que son más amigables...</p>
                            </div>                            
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i class="fa-brands fa-stack-overflow fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>Es cuestión de dedicarle tiempo... <br>¿más tiempo?</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">                   
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i class="fa-solid fa-pause fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class='text-700'>Cerca de diez días pasé intentando saber cómo era el tema de rutas dinámicas con slug... </h6>
                                <p class='text-uppercase text-700'>Me dí por vencida... Me ganó Angular... </p>
                            </div>                            
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>¡¡¡Pero no te des por vencida!!! <br>Hasta en ruso busqué respuestas... (no es broma)</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <h6 class='text-700'>¿Pueden creer que no recuerdo un tema importante de Base de Datos que era eliminación lógica?</h6>
                                <p class='text-uppercase text-700'>Me parece que SQL y yo no nos estamos llevando del todo bien últimamente...</p>
                            </div>
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i class="fa-solid fa-xmark fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>No fue por escasez de memoria mía... <br>Creo que ya estoy quemada...</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i class="fa-solid fa-calendar fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>        
                            <div class="col-6">
                                <h6 class='text-700'>NetBeans... Delicado NetBeans... Lo quiero tanto como lo detesto... Creo que no existe nada más sensible que NetBeans...</h6>
                                <p class='text-uppercase text-700'>Horas estuve demorada por un espacio... Sí por un espacio... </p>
                            </div>                            
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">
                        <h5 class='text-center text-700 mt-3 pt-3'>Siempre hay que estar atento a todo... <br>O escribir sin espacios entre palabras...</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <h6 class='text-700'>Es posible que muchos ya lo sepan... Yo no sé JS... No lo puse en los créditos... </h6>
                                <p class='text-uppercase text-700'>En su reemplazo utilicé CSS3 para hacer animaciones...</p>
                            </div>
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i class="fa-solid fa-box-tissue fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>La vida es un carnaval... <br>Por eso ¡¡¡no hay que llorar!!!</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">
                        <h5 class='text-center text-700 mt-3 pt-3 pb-3'>A imposible conmigo... <br>le están sobrando dos letras...</h5> 
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>                         
                        <hr class="w-75 m-auto">
                        <h5 class='text-center text-700 mt-3 pt-3 pb-3'>Yo pude... <br>vos también podés...</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>                            
                        <hr class="w-75 m-auto">
                        <div class="row text-center mt-3 pt-3 pb-3">
                            <h5 class='text-700'>Muchas gracias por haberme visitado!!!</h5>
                            <span><i class="fa-solid fa-signature fa-3x"></i></span>
                        </div>        
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editEndBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>                
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-title-blooper-modal></app-edit-title-blooper-modal>
    <app-edit-blooper-modal></app-edit-blooper-modal>
    <app-delete-blooper-modal></app-delete-blooper-modal>
    <app-edit-divisor-blooper-modal></app-edit-divisor-blooper-modal>
    <app-edit-end-blooper-modal></app-edit-end-blooper-modal>
