    <!--Modal Bloopers-->
    <div class="modal fade" id="bloopersModal" tabindex="-1" aria-labelledby="bloopersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="bloopersModalLabel">Bloopers</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <h5 class='text-700 pt-3 pb-3'>{{lineBloopers[0].lineOne}}<br>{{lineBloopers[0].lineTwo}}</h5>
                    </div>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <hr class="w-75 m-auto">
                    <div class="text-center">
                        <h5 class='text-700 pt-3 pb-3'>{{lineBloopers[1].lineOne}}<br>{{lineBloopers[1].lineTwo}}</h5>
                    </div>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <hr class="w-75 m-auto">
                    <div class="container col-8 m-auto">
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <h6 class='text-700'>{{iconBloopers[0].blooper}}</h6>
                                <p class='text-uppercase text-700'>{{iconBloopers[0].mistake}}</p>
                            </div>                            
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i [class]="iconBloopers[0].icon" class="fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>{{lineBloopers[2].lineOne}}<br>{{lineBloopers[2].lineTwo}}</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i [class]="iconBloopers[1].icon" class="fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>        
                            <div class="col-6">
                                <h6 class='text-700'>{{iconBloopers[1].blooper}}</h6>
                                <p class='text-uppercase text-700'>{{iconBloopers[1].mistake}}</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>{{lineBloopers[3].lineOne}}<br>{{lineBloopers[3].lineTwo}}</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">                       
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <h6 class='text-700'>{{iconBloopers[2].blooper}}</h6>
                                <p class='text-uppercase text-700'>{{iconBloopers[2].mistake}}</p>
                            </div>                            
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i [class]="iconBloopers[2].icon" class="fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>{{lineBloopers[4].lineOne}}<br>{{lineBloopers[4].lineTwo}}</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">                   
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i [class]="iconBloopers[3].icon" class="fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class='text-700'>{{iconBloopers[3].blooper}}</h6>
                                <p class='text-uppercase text-700'>{{iconBloopers[3].mistake}}</p>
                            </div>                            
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>{{lineBloopers[5].lineOne}}<br>{{lineBloopers[5].lineTwo}}</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <h6 class='text-700'>{{iconBloopers[4].blooper}}</h6>
                                <p class='text-uppercase text-700'>{{iconBloopers[4].mistake}}</p>
                            </div>
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i [class]="iconBloopers[4].icon" class="fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>{{lineBloopers[6].lineOne}}<br>{{lineBloopers[6].lineTwo}}</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i [class]="iconBloopers[5].icon" class="fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>        
                            <div class="col-6">
                                <h6 class='text-700'>{{iconBloopers[5].blooper}}</h6>
                                <p class='text-uppercase text-700'>{{iconBloopers[5].mistake}}</p>
                            </div>                            
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">
                        <h5 class='text-center text-700 mt-3 pt-3'>{{lineBloopers[7].lineOne}}<br>{{lineBloopers[7].lineTwo}}</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <div class="row text-center mt-3 pt-3">
                            <div class="col-6">
                                <h6 class='text-700'>{{iconBloopers[6].blooper}}</h6>
                                <p class='text-uppercase text-700'>{{iconBloopers[6].mistake}}</p>
                            </div>
                            <div class="col-6">
                                <div class='d-flex justify-content-center'>
                                    <i [class]="iconBloopers[6].icon" class="fa-4x mt-4 pt-1"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <hr class="w-75 m-auto">        
                        <h5 class='text-center text-700 mt-3 pt-3'>{{lineBloopers[8].lineOne}} <br>{{lineBloopers[8].lineTwo}}</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <hr class="w-75 m-auto">
                        <h5 class='text-center text-700 mt-3 pt-3 pb-3'>{{lineBloopers[9].lineOne}} <br>{{lineBloopers[9].lineTwo}}</h5> 
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>                         
                        <hr class="w-75 m-auto">
                        <h5 class='text-center text-700 mt-3 pt-3 pb-3'>{{lineBloopers[10].lineOne}} <br>{{lineBloopers[10].lineTwo}}</h5>
                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDivisorBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        </div>                            
                        <hr class="w-75 m-auto">
                        <div class="row text-center mt-3 pt-3 pb-3">
                            <h5 class='text-700'>{{bloopers.thanks}}</h5>
                            <span><i [class]="bloopers.signature" class="fa-3x"></i></span>
                            <p class="mt-3">{{bloopers.register}}</p>
                        </div>        
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editEndBlooperModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>                
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Cerrar">{{buttons.close}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-blooper-modal></app-edit-blooper-modal>
    <app-delete-blooper-modal></app-delete-blooper-modal>
    <app-edit-divisor-blooper-modal></app-edit-divisor-blooper-modal>
    <app-edit-end-blooper-modal></app-edit-end-blooper-modal>
