    <!-- Modal Edit Availability ContactCV -->
    <div class="modal fade" id="editAvailabilityContactCVModal" aria-hidden="true" aria-labelledby="editAvailabilityContactCVModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editAvailabilityContactCVModal">Editar Contacto CV</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#contactCVModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <form class="needs-validation">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label for="validationCustom01" class="form-label">Ícono</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Ícono" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <label for="validationCustom01" class="form-label">Disponibilidad</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Disponibilidad" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-black-mini" data-bs-target="#contactCVModal" data-bs-toggle="modal" aria-label="Back">Cancelar</button>
                        <button class="btn btn-black-mini">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>