<section class="last d-flex justify-content-center w-75 m-auto text-center">
    <h5>
        No estaría completa mi historia si no te diera algo que puedas llevarte... 
        <br><br>
        ¿Por qué? Bueno, porque la forma de comunicarnos que tenemos en esta Industria es así... 
        <br><br>
        Llegaste hasta acá, me diste tu tiempo, y por ello te agradezco abriéndote las puertas, solo un poquito, a mi mundo... 
        <br><br>
        Por este Arte que me eligió -o elegí- leo y escribo, vuelvo a leer y vuelvo a escribir, mucho... 
        <br><br>
        Viajar entre mundos y personajes que, a veces, se vuelven casi personas deja lugar no solo a emociones sino a conocimientos de infinitas dimensiones...
    </h5>
</section>
