<section class="samples section-top d-flex justify-content-center pb-5">
    <div class="container">
        <h3 *ngFor="let title of samples" class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> {{title.title}}</span></h3>
        <h5 *ngFor="let line of samples" class="text-center pb-5">
            {{line.four}}
            <br><br>    
            {{line.five}}
            <br><br>
            {{line.six}} 
            <br><br>
            {{line.seven}} 
        </h5>
    </div>
</section>
