    <!-- Modal Developer Education -->
    <div class="modal fade" id="developerEducationModal" tabindex="-1" aria-labelledby="developerEducationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="developerEducationModalLabel">Educación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div *ngFor="let study of studies" class="col-4">
                            <div class="card">
                                <img [src]="study.image" class="img-fluid">
                                <div class="card-body">
                                    <div class="text-center mt-4">
                                        <h5>{{study.title}}</h5>
                                        <h6>{{study.institution}}</h6>
                                        <p>{{study.start_date}} - {{study.end_date}}</p>      
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center my-3">
                                <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperEducationModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperEducationModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                            </div>        
                        </div>
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperEducationModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Cerrar">{{buttons[7].value}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-create-developer-education-modal></app-create-developer-education-modal>
    <app-edit-developer-education-modal></app-edit-developer-education-modal>
    <app-delete-developer-education-modal></app-delete-developer-education-modal>
