    <!-- Modal Developer Education -->
    <div class="modal fade" id="developerEducationModal" tabindex="-1" aria-labelledby="developerEducationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="developerEducationModalLabel">Educación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div *ngFor="let study of studies" class="col-4">
                            <div class="card">
                                <img [src]="study.image" class="img-fluid">
                                <div class="card-body">
                                    <div class="text-center mt-4">
                                        <h5>{{study.title}}</h5>
                                        <h6>{{study.institution}}</h6>
                                        <p>{{study.start_date}} - {{study.end_date}}</p>      
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center my-3">
                                <button class="btn btn-black-extra-mini mx-1" data-bs-target="#createDeveloperEducationModal" data-bs-toggle="modal" (click)="study_data.id? loadStudy(study_data.id): null"><i class="fa-solid fa-pencil"></i></button>
                                <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperEducationModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                            </div>        
                        </div>
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperEducationModal" data-bs-toggle="modal" aria-label="Crear"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Cerrar">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <!--
    <app-create-developer-education-modal></app-create-developer-education-modal>
    <app-edit-developer-education-modal></app-edit-developer-education-modal>
    <app-delete-developer-education-modal></app-delete-developer-education-modal>
    -->

    <!-- Modal Create Education Developer -->
    <div class="modal fade" id="createDeveloperEducationModal" aria-hidden="true" aria-labelledby="createDeveloperEducationModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createDeveloperEducationModal">Educación</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerEducationModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form">
                    <div class="form-group">
                        <input type="hidden" name="" id="id">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <label for="image" class="form-label">Imagen</label>
                                    <input type="text" class="form-control" id="image" placeholder="Imagen" formControlName="image" [ngClass]="{ 'is-invalid': submitted && f['image'].errors, 'is-valid': !f['image'].errors && f['image'].touched }">
                                    <div id="imageHelp" class="form-text">Ingresar una imagen</div>
                                    <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                                        <div *ngIf="f['image'].errors['required']">Es preciso ingresar una imagen</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="title" class="form-label">Título</label>
                                    <input type="text" class="form-control" id="title" placeholder="Título" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f['title'].errors, 'is-valid': !f['title'].errors && f['title'].touched }">
                                    <div id="titleHelp" class="form-text">Ingresar un Título</div>
                                    <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                        <div *ngIf="f['title'].errors['required']">Es preciso ingresar un título</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="institution" class="form-label">Institución</label>
                                    <input type="text" class="form-control" id="institution" placeholder="Institución" formControlName="institution" [ngClass]="{ 'is-invalid': submitted && f['institution'].errors, 'is-valid': !f['institution'].errors && f['institution'].touched }">
                                    <div id="institutionHelp" class="form-text">Ingresar una Institución</div>
                                    <div *ngIf="submitted && f['institution'].errors" class="invalid-feedback">
                                        <div *ngIf="f['institution'].errors['required']">Es preciso ingresar una Institución</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="start_date" class="form-label">Año de Inicio</label>
                                    <input type="text" class="form-control" id="start_date" placeholder="Año de Inicio" formControlName="start_date" [ngClass]="{ 'is-invalid': submitted && f['start_date'].errors, 'is-valid': !f['start_date'].errors && f['start_date'].touched }">
                                    <div id="startingHelp" class="form-text">Ingresar un año de inicio</div>
                                    <div *ngIf="submitted && f['start_date'].errors" class="invalid-feedback">
                                        <div *ngIf="f['start_date'].errors['required']">Es preciso ingresar una fecha de inicio</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="end_date" class="form-label">Año de Fin</label>
                                    <input type="text" class="form-control" id="end_date" placeholder="Año de Fin" formControlName="end_date" [ngClass]="{ 'is-invalid': submitted && f['end_date'].errors, 'is-valid': !f['end_date'].errors && f['end_date'].touched }">
                                    <div id="endingHelp" class="form-text">Ingresar un año de finalización</div>
                                    <div *ngIf="submitted && f['end_date'].errors" class="invalid-feedback">
                                        <div *ngIf="f['end_date'].errors['required']">Es preciso ingresar una fecha de finalización</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" (click)="saveStudy()" data-bs-target="#developerEducationModal" data-bs-toggle="modal" aria-label="Guardar" [disabled]="form.invalid">Guardar</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Delete Developer Education -->
    <div class="modal fade" id="deleteDeveloperEducationModal" aria-hidden="true" aria-labelledby="deleteDeveloperEducationModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteDeveloperEducationModal">Eliminar Educación</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerEducationModal" data-bs-toggle="modal" aria-label="Volver"></i>
                </div>
                <div class="modal-body">
                    <i class="fa-solid fa-circle-exclamation justify-content-center d-flex fa-2x pt-3"></i>
                    <br>
                    <p class="justify-content-center d-flex">¿De verdad querés eliminar esta educación?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#developerEducationModal" data-bs-toggle="modal" aria-label="Cancelar" (click)="alertWithCancel()">Cancelar</button>
                    <button class="btn btn-black-mini" data-bs-target="#developerEducationModal" data-bs-toggle="modal" aria-label="Eliminar" (click)="study_data.id? onDelete(study_data.id): null">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

