<section class="about d-flex justify-content-center">
    <div *ngFor="let item of profile" class="container">
        <h4 class="d-flex justify-content-center mb-3"><span class="text-orange text-center"> Sobre mí</span></h4>                                    
        <p  class="w-75 text-center m-auto mb-3">{{item.intro}}</p>
        <div class="container w-75 m-auto d-flex justify-content-center">      
            <img [src]="item.photo" class="rounded-circle w-25 mb-3">
        </div>      
        <div class="text-center">
            <span class="text-center"><i>{{item.one}}<br>{{item.two}}</i><br><b>{{item.author}}</b><br>{{item.credit}}</span>    
        </div>           
    </div>
</section>
