<section class="about d-flex justify-content-center">
    <div class="container">
        <h4 class="d-flex justify-content-center mb-3"><span class="text-orange text-center"> {{audiovisual_profile.title}}</span></h4>                                    
        <p  class="w-75 text-center m-auto mb-3">{{audiovisual_profile.intro}}</p>
        <div class="container w-75 m-auto d-flex justify-content-center">      
            <img [src]="audiovisual_profile.photo" class="rounded-circle w-25 mb-3">
        </div>
        <div class="text-center">
            <span class="text-center"><i>{{audiovisual_profile.one}}<br>{{audiovisual_profile.two}}</i><br><b>{{audiovisual_profile.author}}</b><br>{{audiovisual_profile.credit}}</span>    
        </div>           
    </div>
</section>
