    <!-- Modal Create Developer Comment -->
    <div class="modal fade" id="createDeveloperCommentModal" aria-hidden="true" aria-labelledby="createDeveloperCommentModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createDeveloperCommentModal">Nuevo Comentario</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerCommentsModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <form class="needs-validation">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label for="validationCustom01" class="form-label">Ícono</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Ícono" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <label for="validationCustom01" class="form-label">Imagen</label>
                                <input type="url" class="form-control" id="validationCustom01" placeholder="Imagen" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <label for="validationCustom01" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Nombre" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <label for="validationCustom01" class="form-label">Relación</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Relación" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-12 mb-2">          
                                <label for="validationCustom03" class="form-label">Comentario</label>
                                <textarea class="form-control" id="validationCustom03" rows="2"></textarea>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div id="introHelp" class="form-text text-end">Máx. 150 caracteres</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-black-mini" data-bs-target="#developerCommentsModal" data-bs-toggle="modal" aria-label="Back">Cancelar</button>
                        <button class="btn btn-black-mini">Guardar</button>
                    </div>
                </form>  
            </div>
        </div>
    </div>
