<section class="general">
    <!-- General -->
    <div class="container text-center">
        <div class="row">
            <h3 class="col justify-content-center d-flex"><b>General</b></h3>
        </div>
        <div class="row pt-4">
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#socialModal">
                    <i class="fa-solid fa-share-nodes fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Social</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#bannersModal">
                    <i class="fa-solid fa-images fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Banners</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#heroesModal">
                    <i class="fa-solid fa-align-center fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Heroes</h5>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#creditsModal">
                    <i class="fa-solid fa-comments fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Credits</h5>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#bloopersModal">
                    <i class="fa-solid fa-bug fa-2x text-white"></i>
                </button>
                <h5 class="mt-3">Bloopers</h5>
            </div>
        </div>
    </div>
</section>

<app-social-modal></app-social-modal>
<app-banners-modal></app-banners-modal>
<app-heroes-modal></app-heroes-modal>
<app-credits-modal></app-credits-modal>
<app-bloopers-modal></app-bloopers-modal>