    <!-- Modal Delete Longshots -->
    <div class="modal fade" id="deleteAudiovisualLongshotsModal" aria-hidden="true" aria-labelledby="deleteAudiovisualLongshotsModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteAudiovisualLongshotsModal">Eliminar Longshot</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualProjectsPageModal" data-bs-toggle="modal" aria-label="Volver"></i>
                </div>
                <div class="modal-body">
                    <i class="fa-solid fa-circle-exclamation justify-content-center d-flex fa-2x pt-3"></i>
                    <br>
                    <p class="justify-content-center d-flex">¿De verdad querés eliminar este Longshot?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#audiovisualProjectsPageModal" data-bs-toggle="modal" aria-label="Cancelar" (click)="alertWithCancel()">{{buttons.cancel}}</button>
                    <button class="btn btn-black-mini" data-bs-target="#audiovisualProjectsPageModal" data-bs-toggle="modal" aria-label="Eliminar" (click)="alertWithSuccess()">{{buttons.delete}}</button>
                </div>
            </div>
        </div>
    </div>
