<section class="projects section-top d-flex justify-content-center pb-5">
    <div class="container">
        <h3 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> {{projectsPage.title}}</span></h3>
        <h5 class="text-center pb-5">
            {{projectsPage.lineOne}}
            <br><br>    
            {{projectsPage.lineTwo}}
            <br><br>
            {{projectsPage.lineThree}}
            <br><br>
            {{projectsPage.lineFour}}
        </h5>
    </div>
</section>
