    <!-- Modal Create Social -->
    <div class="modal fade" id="createAudiovisualSocialModal" aria-hidden="true" aria-labelledby="createAudiovisualSocialModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createAudiovisualSocialModal">Nueva Red</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#socialModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <label for="icon" class="form-label">{{forms[2].value}}</label>
                                    <input type="text" class="form-control" id="icon" placeholder="fa-group fa-icon" formControlName="icon" [ngClass]="{ 'is-invalid': submitted && f['icon'].errors, 'is-valid': !f['icon'].errors && f['icon'].touched }">
                                    <div id="iconHelp" class="form-text">{{helpers[2].value}}</div>
                                    <div *ngIf="submitted && f['icon'].errors" class="invalid-feedback">
                                        <div *ngIf="f['icon'].errors['required']">Es preciso ingresar un ícono</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="url" class="form-label">{{forms[3].value}}</label>
                                    <input type="url" class="form-control" id="url" placeholder="https://url.com" formControlName="url" [ngClass]="{ 'is-invalid': submitted && f['url'].errors, 'is-valid': !f['url'].errors && f['url'].touched }">
                                    <div id="urlHelp" class="form-text">{{helpers[3].value}}</div>
                                    <div *ngIf="submitted && f['url'].errors" class="invalid-feedback">
                                        <div *ngIf="f['url'].errors['required']">Es preciso ingresar una URL</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#socialModal" data-bs-toggle="modal" aria-label="Volver">{{buttons[11].value}}</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
