    <!-- Modal SkillsCV -->
    <div class="modal fade" id="skillsCVModal" tabindex="-1" aria-labelledby="skillsCVModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="skillsCVModalLabel">{{sectionsCV.skills}} CV</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Volver"></i>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-4">
                            <h4 class="text-center pt-3">Técnicas</h4>
                            <div *ngFor="let technical of technicalsCV" class="col-4">
                                <div class="text-center">
                                    <h6 class="mt-1"><i [class]="technical.icon" class="fa-2x pt-s"></i> {{technical.technology}}</h6>
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editTechnicalSkillCVModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteTechnicalSkillCVModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createTechnicalSkillCVModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-4 my-2">
                            <h4 class="text-center">Blandas</h4>
                            <div *ngFor="let soft of softsCV" class="col-4 mt-3">
                                <div class="text-center mt-2">
                                    {{soft.skill}}
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editSoftSkillCVModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteSoftSkillCVModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createSoftSkillCVModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-4 my-2">
                            <h4 class="text-center">{{sectionsCV.languages}}</h4>                         
                            <div *ngFor="let language of languagesCV" class="col-6 my-3">
                                <div class="text-center mt-2">
                                    {{language.language}} - {{language.level}}
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editLanguageSkillCVModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteLanguageSkillCVModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>          
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createLanguageSkillCVModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Cancelar">{{buttons[10].value}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-create-technical-skill-cv-modal></app-create-technical-skill-cv-modal>
    <app-edit-technical-skill-cv-modal></app-edit-technical-skill-cv-modal>
    <app-delete-technical-skill-cv-modal></app-delete-technical-skill-cv-modal>
    <app-create-soft-skill-cv-modal></app-create-soft-skill-cv-modal>
    <app-edit-soft-skill-cv-modal></app-edit-soft-skill-cv-modal>
    <app-delete-soft-skill-cv-modal></app-delete-soft-skill-cv-modal>
    <app-create-language-skill-cv-modal></app-create-language-skill-cv-modal>
    <app-edit-language-skill-cv-modal></app-edit-language-skill-cv-modal>
    <app-delete-language-skill-cv-modal></app-delete-language-skill-cv-modal>
    