<section class="hobbies mt-5 pt-5">
    <div class="container w-75">
        <h3 class="d-flex justify-content-center mt-4 pb-4"><i class="fa-solid fa-star"></i> <span class="text-orange text-center ms-3"> Cosas que me gustan...</span></h3>
        <div class="mb-3">
            <div class="row g-0 container">
                <div class="col-4 mt-4">
                    <div class="text-center">
                        <h6><i class="fa-solid fa-feather-pointed fa-3x mt-4"></i></h6>
                        <h6 class="mt-1">Escribir</h6>          
                    </div>
                </div>
                <div class="col-4 mt-4">
                    <div class="text-center">
                        <h6><i class="fa-solid fa-book fa-3x mt-4"></i></h6>
                        <h6 class="mt-1">Leer</h6>          
                    </div>
                </div>
                <div class="col-4 mt-4">
                    <div class="text-center">
                        <h6><i class="fa-solid fa-film fa-3x mt-4"></i></h6>
                        <h6 class="mt-1">Cine</h6>           
                    </div>
                </div>
                <div class="col-4 mt-4">
                    <div class="text-center">
                        <h6><i class="fa-solid fa-glasses fa-3x mt-4"></i></h6>
                        <h6 class="mt-1">Aprender</h6>         
                    </div>
                </div>
                <div class="col-4 mt-4">
                    <div class="text-center">
                        <h6><i class="fa-solid fa-earth-americas fa-3x mt-4"></i></h6>
                        <h6 class="mt-1">Idiomas</h6>           
                    </div>
                </div>
                <div class="col-4 mt-4">
                    <div class="text-center">
                        <h6><i class="fa-solid fa-train fa-3x mt-4"></i></h6>
                        <h6 class="mt-1">Viajar</h6>          
                    </div>
                </div>
                <div class="col-4 mt-4">
                    <div class="text-center">
                        <h6><i class="fa-solid fa-chess-queen fa-3x mt-4"></i></h6>
                        <h6 class="mt-1">Ajedrez</h6>           
                    </div>
                </div>
                <div class="col-4 mt-4">
                    <div class="text-center">
                        <h6><i class="fa-solid fa-volleyball fa-3x mt-4"></i></h6>
                        <h6 class="mt-1">Volley</h6>           
                    </div>
                </div>
                <div class="col-4 mt-4">
                    <div class="text-center">
                        <h6><i class="fa-solid fa-person-biking fa-3x mt-4"></i></h6>
                        <h6 class="mt-1">Bici</h6>           
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>