<section class="developer section-top">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-4">
                <h4 class="text-center">{{blendedData.intro.overview}}</h4>
                <h1 class="text-center">{{blendedData.intro.industry}}</h1>
                <h4 class="text-center">{{blendedData.intro.history}}</h4>
                <div class="d-flex justify-content-center mt-5 pb-4">
                    <a href="developer/intro#profile">
                        <h3><i class="fa-solid fa-chevron-down orange"></i></h3>
                    </a>
                </div>
                <div class="pt-3 container px-2">
                    <p class="card-text">{{blendedData.intro.line_one}}</p>
                    <p class="card-text">{{blendedData.intro.line_two}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
