    <!-- Modal Edit Made -->
    <div class="modal fade" id="editMadeModal" aria-hidden="true" aria-labelledby="editMadeModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editMadeModal">Editar Hecho</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#creditsModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-6 pt-2 pb-2">
                                    <label for="icon" class="form-label">{{forms.icon}}</label>
                                    <input type="text" class="form-control" id="icon" placeholder="Ícono" formControlName="icon" [ngClass]="{ 'is-invalid': submitted && f['icon'].errors, 'is-valid': !f['icon'].errors && f['icon'].touched }">
                                    <div id="iconHelp" class="form-text">{{helpers.iconHelp}}</div>
                                    <div *ngIf="submitted && f['icon'].errors" class="invalid-feedback">
                                        <div *ngIf="f['icon'].errors['required']">Es preciso ingresar un ícono</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-2 pb-2">
                                    <label for="description" class="form-label">{{forms.description}}</label>
                                    <input type="text" class="form-control" id="description" placeholder="Descripción" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f['description'].errors, 'is-valid': !f['description'].errors && f['description'].touched }">
                                    <div id="descriptionHelp" class="form-text">{{helpers.descriptionHelp}}</div>
                                    <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                                        <div *ngIf="f['description'].errors['required']">Es preciso ingresar una descripción</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#creditsModal" data-bs-toggle="modal" aria-label="Volver">{{buttons.update}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
