<!-- Feedback Carousel -->
<div id="carousel" class="carousel slide carousel-fade">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="11" aria-label="Slide 12"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="12" aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="13" aria-label="Slide 14"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="14" aria-label="Slide 15"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Hola!!!</h2>
                <h3 class="mb-3">Gracias por venir a ver cómo está quedando esto que hay que hacer...</h3>
                <h4>Esta parte es sólo el front-end...</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Presentación</h2>
                <h3 class="mb-3">Esto es un carousel con fondo negro, no es nada más que eso y tiene un poco de info...</h3>
                <h4>No sé si queda mejor con indicators... (las rayitas de abajo) o con flechas de navegación a los costados...</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Corrector</h2>
                <h3 class="mb-3">Para el corrector voy a hacer cambios en estos textos para explicarle qué hay...</h3>
                <h4>Para que no ponga que falta lo que está hecho o que está lo que no está...</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Datos</h2>
                <h3 class="mb-3">Actualmente no hay casi nada de información cargada y todo viene de un archivo JSON con su servicio y cuatro servicios con array de datos</h3>
                <h4>Entre todos, simulan una Base de Datos</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Elección</h2>
                <h3 class="mb-3">Esto es algo así como un Elige tu propia aventura, se puede ir desde el perfil de Audiovisuales al de Developer cuando se quiera...</h3>
                <h4>Se llama Point of View, al trabajo le puse así... POV es un plano de cámara...</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Responsive</h2>
                <h3 class="mb-3">Todavía no está hecho nada para que sea responsive, no lo pruebes en teléfonos, se ve horrible...</h3>
                <h4>A lo mejor lo hago... A lo mejor no... Me falta completar la parte de accesibilidad -imaginate...-</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Títulos</h2>
                <h3 class="mb-3">Los títulos de las páginas cambian de acuerdo a en qué página estés...</h3>
                <h4>Un detallecito que permite hacer Angular que en estático se hace con mucha paciencia y acá también...</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Enlaces</h2>
                <h3 class="mb-3">Los enlaces internos funcionan, inclusive aquellos que generan rutas dinámicas, los que salen del trabajo no funcionan (van a páginas principales)</h3>
                <h4>Si logro que todo funcione le voy a cargar los datos completos...</h4>    
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Assets</h2>
                <h3 class="mb-3">Lo único que está dentro de los archivos del trabajo es la música de los Créditos y de los Bloopers...</h3>
                <h4>Las imágenes están en <a class="text-white" href="https://simja82.imgbb.com/" target="_blank">https://simja82.imgbb.com/</a> y si se cae el servicio online no se ven...</h4>    
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Logo</h2>
                <h3 class="mb-3">El logo es un solo archivo de imagen con filtro y siempre va al index...</h3>
                <h4>Por si te perdés...</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Música</h2>
                <h3 class="mb-3">La música es original de mi hijo mayor... Solo está en los Créditos y en los Bloopers...</h3>
                <h4>Le dejás un like? <a class="text-white" href="https://soundcloud.com/notsaku" target="_blank">https://soundcloud.com/notsaku</a></h4>    
            </div>
        </div>
                <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Dashboard</h2>
                <h3 class="mb-3">La ruta al Dashboard no tiene ningún acceso directo anotala si lo querés ver es: /admin/dashboard</h3>
                <h4>El login todavía no está hecho... No sé si hacer un login simple o con JWT...</h4>    
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Formularios</h2>
                <h3 class="mb-3">Todos son Reactivos (podés probarlos) tienen mensajitos y los clásicos alerts de JS los reemplacé por la librería Sweet Alert para que sean más lindos...</h3>
                <h4>Si querés contalos... Si lo hacés decime cuántos son porque yo ya perdí la cuenta...</h4>    
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Feedback</h2>
                <h3 class="mb-3">En la página de Créditos vas a ver que hay espacio para feedbacks... Me ayudás a terminar el trabajo mandándome el tuyo?</h3>
                <h4>Por mail a simja.82@hotmail.com un mensaje cortito y tu nombre dale? Lo pongo en los Créditos!!!</h4>    
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="11000">
            <div class="carousel-caption d-none d-md-block centered">
                <h2 class="mb-3">Gracias</h2>
                <h3 class="mb-3">Si encontrás detalles o cosas que creés que podría o debería cambiar espero que me avises!!!</h3>
                <small>Cuando des click en el botón, esta página va a quedar a un costado por si querés verla de nuevo...</small>
                <div class="mt-3">
                    <a routerLink="/" target="_blank">
                        <button type="button" class="btn btn-outline-white btn-lg">Entrar</button>
                    </a>    
                </div>    
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>