    <!-- Modal InfoCV -->
    <div class="modal fade" id="infoCVModal" tabindex="-1" aria-labelledby="infoCVModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="infoCVModalLabel">{{sectionsCV.info}} CV</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Volver"></i>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">                      
                                    <div class="text-center pt-3 mb-4">
                                        <span class="text-center">{{profileCV.phraseOne}} {{profileCV.phraseTwo}}<br>{{profileCV.phraseThree}} {{profileCV.phraseFour}} {{profileCV.phraseFive}}<br><i>{{profileCV.author}}</i><br>{{profileCV.credit}}</span>    
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editInfoCVModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Cancelar">{{buttons.cancel}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-info-cv-modal></app-edit-info-cv-modal>
