    <!-- Modal Experience -->
    <div class="modal fade" id="developerExperienceModal" tabindex="-1" aria-labelledby="developerExperienceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="developerExperienceModalLabel">Experiencia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let experience of experiences" class="experience">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img [src]="experience.image" class="img-fluid rounded-start">
                                    <div class="text-center mt-4">
                                        <h5>{{experience.position}}</h5>
                                        <h6>{{experience.place}}</h6>
                                        <p>{{experience.start_date}} - {{experience.end_date}}</p>      
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body ms-2 mt-2">
                                        <h6>Descripción</h6>
                                        <p class="card-text">{{experience.description}}</p>
                                        <h6>Tareas</h6>
                                        <ul class="list-group">
                                            <li class="list-group-item">{{experience.task_one}}</li>
                                            <li class="list-group-item">{{experience.task_two}}</li>
                                            <li class="list-group-item">{{experience.task_three}}</li>
                                        </ul>
                                    </div>
                                </div>  
                            </div>  
                        </div>              
                        <div class="d-flex justify-content-center my-3">
                            <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperExperienceModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperExperienceModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperExperienceModal" data-bs-toggle="modal" aria-label="Crear"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Cerrar">{{buttons[7].value}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-create-developer-experience-modal></app-create-developer-experience-modal>
    <app-edit-developer-experience-modal></app-edit-developer-experience-modal>
    <app-delete-developer-experience-modal></app-delete-developer-experience-modal>
