<section class="projects d-flex justify-content-center">
    <div class="container">
        <h3 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> Proyectos</span></h3>                                    
        <h6 class="w-75 text-center m-auto mb-2">
            Esta parte sería una mezcla entre Experiencia Laboral y Conocimientos Técnicos...  
            <br><br>
            Lo que podés encontrar a continuación es todo producción propia... 
            <br><br>
            Y está, en este caso, diferenciada por formatos...
        </h6>
        <div class="container mt-2 pt-5 pb-2 w-75 m-auto d-flex justify-content-between">      
            <div class="col-4 text-center">
                <a href="/audiovisual/projects/projects.html">
                    <i class="fa-solid fa-display fa-3x mb-3"></i>
                    <h4>Series</h4>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="/audiovisual/projects/projects.html">
                    <i class="fa-solid fa-film fa-3x mb-3"></i>
                    <h4>Largometrajes</h4>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="/audiovisual/projects/projects.html">
                    <i class="fa-solid fa-plus fa-3x mb-3"></i>
                    <h4>Otros</h4>
                </a>
            </div>
        </div>   
        <h5 class="w-75 text-center m-auto mt-5 pt-3 mb-3">Las <a href="/audiovisual/samples/samples.html"><strong>muestras de trabajo </strong></a>también son parte del todo...</h5>             
    </div>
</section>
