<section class="projects d-flex justify-content-center">
    <div class="container">
        <h3 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> {{projectsIntro.title}}</span></h3>                                    
        <h6 class="w-75 text-center m-auto mb-2">
            {{projectsIntro.lineOne}}  
            <br><br>
            {{projectsIntro.lineTwo}} 
            <br><br>
            {{projectsIntro.lineThree}}
        </h6>
        <div class="container mt-2 pt-5 pb-2 w-75 m-auto d-flex justify-content-between">
            <div class="col-4 text-center">
                <a routerLink="/audiovisual/projects">
                    <i [class]="projectsIntro.iconSeries" class="fa-3x mb-3"></i>
                    <h4>{{projectsIntro.series}}</h4>
                </a>
            </div>
            <div class="col-4 text-center">
                <a routerLink="/audiovisual/projects">
                    <i [class]="projectsIntro.iconLongshots" class="fa-3x mb-3"></i>
                    <h4>{{projectsIntro.longshots}}</h4>
                </a>
            </div>
            <div class="col-4 text-center">
                <a routerLink="/audiovisual/projects">
                    <i [class]="projectsIntro.iconOthers" class="fa-3x mb-3"></i>
                    <h4>{{projectsIntro.others}}</h4>
                </a>
            </div>
        </div>   
        <h5 class="w-75 text-center m-auto mt-5 pt-3 mb-3">{{projectsIntro.oneSamples}}<a routerLink="/audiovisual/samples"><strong>{{projectsIntro.twoSamples}}</strong></a>{{projectsIntro.threeSamples}}</h5>
    </div>
</section>
