    <!-- Modal Edit Audiovisual Projects -->
    <div class="modal fade" id="editAudiovisualProjectsModal" aria-hidden="true" aria-labelledby="editAudiovisualProjectsModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editAudiovisualProjectsModal">Editar Proyectos</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualProjectsModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <form class="needs-validation">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="validationCustom01" class="form-label">Título</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Título" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-12 pt-3">
                                <label for="validationCustom01" class="form-label">Línea Uno</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Línea Uno" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-12 pt-3">
                                <label for="validationCustom01" class="form-label">Línea Dos</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Línea Dos" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-12 pt-3">
                                <label for="validationCustom01" class="form-label">Línea Tres</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Línea Tres" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Ícono Uno</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Ícono Uno" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Texto Uno</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Texto Uno" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Ícono Dos</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Ícono Dos" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Texto Dos</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Texto Dos" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Ícono Tres</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Ícono Tres" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Texto Tres</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Texto Tres" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Cierre Uno</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Cierre Uno" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Cierre Dos</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Cierre Dos" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                        </div>      
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-black-mini" data-bs-target="#audiovisualProjectsModal" data-bs-toggle="modal" aria-label="Back">Cancelar</button>
                        <button class="btn btn-black-mini">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>