    <!-- Modal Edit Intro Developer -->
    <div class="modal fade" id="editDeveloperIntroModal" aria-hidden="true" aria-labelledby="editDeveloperIntroModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editDeveloperIntroModal">Editar Intro</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerIntroModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <form class="needs-validation">
                    <div class="modal-body">                
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="validationCustom03" class="form-label">Apertura</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Apertura" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="validationCustom03" class="form-label">Industria</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Industria" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="validationCustom03" class="form-label">Cierre</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Cierre" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-12 mt-2 mb-2">          
                                <label for="validationCustom03" class="form-label">Línea Uno</label>
                                <textarea class="form-control" id="validationCustom03" rows="3"></textarea>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div id="introHelp" class="form-text text-end">Máx. 200 caracteres</div>
                            <div class="col-12 mb-2">          
                                <label for="validationCustom03" class="form-label">Línea Dos</label>
                                <textarea class="form-control" id="validationCustom03" rows="3"></textarea>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div id="introHelp" class="form-text text-end">Máx. 200 caracteres</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-black-mini" data-bs-target="#developerIntroModal" data-bs-toggle="modal" aria-label="Back">Cancelar</button>
                        <button class="btn btn-black-mini">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
