    <!--Modal Info Delete -->
    <div class="modal fade" id="infoDeleteModal" tabindex="-1" aria-labelledby="infoDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="infoDeleteModalLabel">Información</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <i class="justify-content-center d-flex fa-2x pt-3"></i>
                    <br>
                    <p class="text-center d-flex mx-2">Tomá nota: Si hacés click en un botón de eliminar el dato al que corresponde se eliminará sin socilitud de confirmación previa alguna y no podrá ser recuperado.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Entendido">Entendido</button>
                </div>
            </div>
        </div>
    </div>
