<section class="profile mt-5 pt-5" id="profile">
    <div class="container">
        <div class="row">
            <div class="col-10 m-auto">
                <h3 class="d-flex justify-content-center mt-4"><i class="fa-solid fa-feather-pointed"></i> <span class="text-orange text-center ms-3"> Sobre mí</span></h3> <!--  {{section[0].title}}  -->
                <h4 class="text-center my-3">{{developer_profile.overview}}</h4>
                <h2 class="text-orange text-center">{{developer_profile.fullname}}</h2>
                <p class="w-75 text-center m-auto py-2">{{developer_profile.line_one}}</p>
                <div class="container d-flex justify-content-center py-2">      
                    <img [src]="developer_profile.photo" class="rounded-circle w-25 mb-2">
                </div>      
                <div class="text-center mb-4">
                    <span class="text-center">{{developer_profile.phrase_one}}<br>{{developer_profile.phrase_two}}<br><i>{{developer_profile.author}}</i><br>{{developer_profile.credit}}</span>    
                </div>            
            </div>
        </div>
    </div>
</section>
