<section class="projects mt-5 pt-5">
    <div class="container w-75">
        <h3 class="d-flex justify-content-center mt-4 pb-4"><i class="fa-solid fa-code"></i> <span class="text-orange text-center ms-3"> Proyectos que tengo...</span></h3>
        <div class="text-center">
            <div class="row g-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <img src="./../assets/img/developer/projects/selector.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Título</h5>                                        
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="mt-3">
                                <a href="">
                                    <i class="fa-solid fa-link orange"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <img src="./../assets/img/developer/projects/spoiler.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Título</h5>                                        
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="mt-3">
                                <a href="">
                                    <i class="fa-solid fa-link orange"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <img src="./../assets/img/developer/projects/cards.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Título</h5>                                        
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="mt-3">
                                <a href="">
                                    <i class="fa-solid fa-link orange"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <img src="./../assets/img/developer/projects/bootstrap.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Título</h5>                                        
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="mt-3">
                                <a href="">
                                    <i class="fa-solid fa-link orange"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</section>
