#loader {
	height: 100%;
	width: 100%;
	background: #000;
	position: fixed;
	top: 0;
	z-index: 2;
}
.text_animate {
	height: auto;
	width: auto;
	display: inline-block;
	text-align: center;
	color: #fff;
	position: absolute;
	transition: all 0.5s ease-in-out;
    top: 9rem;    
    left: 0;
    right: 0;
}
.text_animate h3 {
	font-size: 5rem;
	margin: 0.4rem;
}
.text_animate h4 {
	font-size: 2rem;
	margin: 0.125rem;
}
.text_animate input.name {
	background: rgba(1, 1, 1, 0);
	border: 0px;
	font-size: 1.15rem;
	color: rgba(169, 169, 169, 1);
	text-align: center;
	margin: 30px;
	border-bottom: 1px solid #fff;
	text-shadow: 3px 3px 3px rgba(1, 1, 1, 0.5);
}
.text_animate input.name:focus {
	outline: none;
}
.text_animate input.name:focus::-webkit-input-placeholder {
	opacity: 0;
}
.btn-outline {
	color:#fff;
	border: 0.5px solid #fff;
	border-radius: 4%;
	background-color: #000;
	padding: 0.5rem;
	padding-left: 0.95rem;
	padding-right: 0.95rem;
}
.passive {
	opacity: 0;
}
#content p {
	text-align: center;
	font-size: 2rem;
	line-height: 100%;
	margin-top: 9rem;
	overflow-y:hidden;
}
#content p.subp {
	text-align: center;
	font-size: 2rem;
	margin-top: 2rem;
}
#content p span {
	color: #000;
    font-weight: 900;
}
.preloader {
	height: 2rem;
	width: 30rem;
	margin: auto;
	visibility: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all 0.5s;
}
.preloader span {
	display: block;
	position: absolute;
	height: 100%;
	width: 0%;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto auto;
	background: rgb(232, 231, 231);
	transition: 5s ease;
}
.preloader span.text {
	width: 99%;
	background: none;
	text-align: center;
	line-height: 2rem;
	font-size: 0.95rem;
	color: #000;
}