<section class="background" [class.index] = "photo">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg d-flex justify-content-between container-fluid">
        <app-white-logo></app-white-logo>
        <app-white-session></app-white-session>
    </nav>
    
    <!-- Plus -->
    <div class="position-absolute top-50 start-0 translate-middle-y ms-4 d-flex align-items-center">
        <a class="plus" data-tooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
            <app-white-plus></app-white-plus>
        </a>   
    </div>

    <!-- Enlace -->
    <div class="text-center pt-5 text-white">
        <div class="col-12 mt-5 pt-5 mb-4">
            <h1 *ngFor="let title of index" class="hero text-top">{{title.hero}}</h1>
        </div>

        <div class="col-12 mb-5">
            <h4 *ngFor="let subtitle of index" class="hero">{{subtitle.subhero}}</h4>
        </div>
        <a routerLink="/intro">
            <button *ngFor="let button of index" type="button" class="btn btn-outline-white btn-lg">{{button.button}}</button>
        </a>  
    </div>

    <!-- Redes -->
    <app-white-general></app-white-general>
    
    <!-- Footer -->
    <footer class="footer d-flex justify-content-between container-fluid">
        <div></div>
        <app-white-fast-forward></app-white-fast-forward>
    </footer>
</section>
