    <!-- Modal Create Experience Developer -->
    <div class="modal fade" id="createDeveloperExperienceModal" aria-hidden="true" aria-labelledby="createDeveloperExperienceModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createDeveloperExperienceModal">Nueva Experiencia</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerExperienceModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <form class="needs-validation">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="validationCustom03" class="form-label">Imagen</label>
                                <input type="url" class="form-control" id="validationCustom03" placeholder="URL" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom01" class="form-label">Puesto</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Puesto" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom01" class="form-label">Lugar</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Lugar" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom01" class="form-label">Inicio</label>
                                <input type="date" class="form-control" id="validationCustom01" placeholder="dd/mm/yyyy" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom01" class="form-label">Fin</label>
                                <input type="date" class="form-control" id="validationCustom01" placeholder="dd/mm/yyyy" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-12 pt-3">
                            <label for="validationCustom05" class="form-label">Descripción</label>
                            <textarea type="text" class="form-control" id="validationCustom05" placeholder="Descripción" required></textarea>
                            <div class="valid-feedback">
                                Parece correcto!!!
                            </div>
                            <div class="invalid-feedback">
                                No puede quedar vacío!!!
                            </div>
                        </div>                            
                        <div class="col-12 pt-3">
                            <label for="validationCustom01" class="form-label">Tarea</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="Tarea" required>
                            <div class="valid-feedback">
                                Parece correcto!!!
                            </div>
                            <div class="invalid-feedback">
                                No puede quedar vacío!!!
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <label for="validationCustom01" class="form-label">Tarea</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="Tarea" required>
                            <div class="valid-feedback">
                                Parece correcto!!!
                            </div>
                            <div class="invalid-feedback">
                                No puede quedar vacío!!!
                            </div>
                        </div>
                        <div class="col-12 pt-3">
                            <label for="validationCustom01" class="form-label">Tarea</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="Tarea" required>
                            <div class="valid-feedback">
                                Parece correcto!!!
                            </div>
                            <div class="invalid-feedback">
                                No puede quedar vacío!!!
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-black-mini" data-bs-target="#developerExperienceModal" data-bs-toggle="modal" aria-label="Back">Cancelar</button>
                        <button class="btn btn-black-mini">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
