    <!-- Modal Create Experience Developer -->
    <div class="modal fade" id="createDeveloperExperienceModal" aria-hidden="true" aria-labelledby="createDeveloperExperienceModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createDeveloperExperienceModal">Nueva Experiencia</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerExperienceModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <label for="image" class="form-label">{{forms[27].value}}</label>
                                    <input type="text" class="form-control" id="image" placeholder="Imagen" formControlName="image" [ngClass]="{ 'is-invalid': submitted && f['image'].errors, 'is-valid': !f['image'].errors && f['image'].touched }">
                                    <div id="imageHelp" class="form-text">{{helpers[22].value}}</div>
                                    <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                                        <div *ngIf="f['image'].errors['required']">Es preciso ingresar una imagen</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="position" class="form-label">{{forms[55].value}}</label>
                                    <input type="text" class="form-control" id="position" placeholder="Puesto" formControlName="position" [ngClass]="{ 'is-invalid': submitted && f['position'].errors, 'is-valid': !f['position'].errors && f['position'].touched }">
                                    <div id="positionHelp" class="form-text">{{helpers[49].value}}</div>
                                    <div *ngIf="submitted && f['position'].errors" class="invalid-feedback">
                                        <div *ngIf="f['position'].errors['required']">Es preciso ingresar un puesto</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="place" class="form-label">{{forms[56].value}}</label>
                                    <input type="text" class="form-control" id="place" placeholder="Lugar" formControlName="place" [ngClass]="{ 'is-invalid': submitted && f['place'].errors, 'is-valid': !f['place'].errors && f['place'].touched }">
                                    <div id="placeHelp" class="form-text">{{helpers[50].value}}</div>
                                    <div *ngIf="submitted && f['place'].errors" class="invalid-feedback">
                                        <div *ngIf="f['place'].errors['required']">Es preciso ingresar un lugar</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="start_date" class="form-label">{{forms[52].value}}</label>
                                    <input type="text" class="form-control" id="start_date" placeholder="Año de Inicio" formControlName="start_date" [ngClass]="{ 'is-invalid': submitted && f['start_date'].errors, 'is-valid': !f['start_date'].errors && f['start_date'].touched }">
                                    <div id="startingHelp" class="form-text">{{helpers[46].value}}</div>
                                    <div *ngIf="submitted && f['start_date'].errors" class="invalid-feedback">
                                        <div *ngIf="f['start_date'].errors['required']">Es preciso ingresar una fecha de inicio</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="end_date" class="form-label">{{forms[53].value}}</label>
                                    <input type="text" class="form-control" id="end_date" placeholder="Año de Fin o Actual" formControlName="end_date" [ngClass]="{ 'is-invalid': submitted && f['end_date'].errors, 'is-valid': !f['end_date'].errors && f['end_date'].touched }">
                                    <div id="endingHelp" class="form-text">{{helpers[47].value}}</div>
                                    <div *ngIf="submitted && f['end_date'].errors" class="invalid-feedback">
                                        <div *ngIf="f['end_date'].errors['required']">Es preciso ingresar una fecha de finalización</div>
                                    </div>
                                </div>
                                <div class="col-12 pt-3">
                                    <label for="description" class="form-label">{{forms[4].value}}</label>
                                    <input type="text" class="form-control" id="description" placeholder="Descripción" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f['description'].errors, 'is-valid': !f['description'].errors && f['description'].touched }">
                                    <div id="descriptionHelp" class="form-text">{{helpers[4].value}}</div>
                                    <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                                        <div *ngIf="f['description'].errors['required']">Es preciso ingresar una descripción</div>
                                    </div>
                                </div>                            
                                <div class="col-12 pt-3">
                                    <label for="taskOne" class="form-label">{{forms[57].value}} {{forms[18].value}}</label>
                                    <input type="text" class="form-control" id="taskOne" placeholder="Tarea Uno" formControlName="taskOne" [ngClass]="{ 'is-invalid': submitted && f['taskOne'].errors, 'is-valid': !f['taskOne'].errors && f['taskOne'].touched }">
                                    <div id="taskOneHelp" class="form-text">{{helpers[51].value}}</div>
                                    <div *ngIf="submitted && f['taskOne'].errors" class="invalid-feedback">
                                        <div *ngIf="f['taskOne'].errors['required']">Es preciso ingresar la primer tarea</div>
                                    </div>
                                </div>
                                <div class="col-12 pt-3">
                                    <label for="taskTwo" class="form-label">{{forms[57].value}} {{forms[19].value}}</label>
                                    <input type="text" class="form-control" id="taskTwo" placeholder="Tarea Dos" formControlName="taskTwo" [ngClass]="{ 'is-invalid': submitted && f['taskTwo'].errors, 'is-valid': !f['taskTwo'].errors && f['taskTwo'].touched }">
                                    <div id="taskTwoHelp" class="form-text">{{helpers[51].value}}</div>
                                    <div *ngIf="submitted && f['taskTwo'].errors" class="invalid-feedback">
                                        <div *ngIf="f['taskTwo'].errors['required']">Es preciso ingresar la segunda tarea</div>
                                    </div>
                                </div>
                                <div class="col-12 pt-3">
                                    <label for="taskThree" class="form-label">{{forms[57].value}} {{forms[20].value}}</label>
                                    <input type="text" class="form-control" id="taskThree" placeholder="Tarea Tres" formControlName="taskThree" [ngClass]="{ 'is-invalid': submitted && f['taskThree'].errors, 'is-valid': !f['taskThree'].errors && f['taskThree'].touched }">
                                    <div id="taskThreeHelp" class="form-text">{{helpers[51].value}}</div>
                                    <div *ngIf="submitted && f['taskThree'].errors" class="invalid-feedback">
                                        <div *ngIf="f['taskThree'].errors['required']">Es preciso ingresar la tercer tarea</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#developerExperienceModal" data-bs-toggle="modal" aria-label="Guardar">{{buttons[11].value}}</button>
                        </div>                            
                    </div>
                </form>
            </div>
        </div>
    </div>
