<section class="languages mt-5 pt-5">
    <div class="container w-75">
        <h3 class="d-flex justify-content-center mt-4 pb-4"><i class="fa-solid fa-earth-americas"></i> <span class="text-orange text-center ms-3"> {{title}}</span></h3>
        <div class="mb-3">
            <div class="row g-4 my-2">                        
                <div *ngFor="let language of languages" class="col-12 my-3">
                    <div class="text-center mt-2">
                        <div class="progress height-progress mx-4">
                            <div [class]="language.animation" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width.%]="language.percentage"></div>
                        </div>
                        <h5 class="mt-3">{{language.language}} - {{language.level}}</h5>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section> 
