    <!-- Modal Edit Audiovisual Closing -->
    <div class="modal fade" id="editAudiovisualClosingModal" aria-hidden="true" aria-labelledby="editAudiovisualClosingModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editAudiovisualClosingModal">Editar Cierre</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualClosingModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <label for="line_one" class="form-label">{{forms[17].value}} {{forms[18].value}}</label>
                                    <input type="text" class="form-control" id="line_one" placeholder="Línea Uno" formControlName="line_one" [ngClass]="{ 'is-invalid': submitted && f['line_one'].errors, 'is-valid': !f['line_one'].errors && f['line_one'].touched }">
                                    <div id="lineOneHelp" class="form-text">{{helpers[17].value}}</div>
                                    <div *ngIf="submitted && f['line_one'].errors" class="invalid-feedback">
                                        <div *ngIf="f['line_one'].errors['required']">Es preciso ingresar la primera línea</div>
                                    </div>
                                </div>
                                <div class="col-12 pt-3">
                                    <label for="line_two" class="form-label">{{forms[17].value}} {{forms[19].value}}</label>
                                    <input type="text" class="form-control" id="line_two" placeholder="Línea Dos" formControlName="line_two" [ngClass]="{ 'is-invalid': submitted && f['line_two'].errors, 'is-valid': !f['line_two'].errors && f['line_two'].touched }">
                                    <div id="lineTwoHelp" class="form-text">{{helpers[17].value}}</div>
                                    <div *ngIf="submitted && f['line_two'].errors" class="invalid-feedback">
                                        <div *ngIf="f['line_two'].errors['required']">Es preciso ingresar la segunda línea</div>
                                    </div>
                                </div>
                                <div class="col-12 pt-3">
                                    <label for="line_three" class="form-label">{{forms[17].value}} {{forms[20].value}}</label>
                                    <input type="text" class="form-control" id="line_three" placeholder="Línea Tres" formControlName="line_three" [ngClass]="{ 'is-invalid': submitted && f['line_three'].errors, 'is-valid': !f['line_three'].errors && f['line_three'].touched }">
                                    <div id="lineThreeHelp" class="form-text">{{helpers[17].value}}</div>
                                    <div *ngIf="submitted && f['line_three'].errors" class="invalid-feedback">
                                        <div *ngIf="f['line_three'].errors['required']">Es preciso ingresar la tercera línea</div>
                                    </div>
                                </div>
                                <div class="col-12 pt-3">
                                    <label for="icon" class="form-label">{{forms[2].value}}</label>
                                    <input type="text" class="form-control" id="icon" placeholder="Ícono Uno" formControlName="icon" [ngClass]="{ 'is-invalid': submitted && f['icon'].errors, 'is-valid': !f['icon'].errors && f['icon'].touched }">
                                    <div id="iconHelp" class="form-text">{{helpers[2].value}}</div>
                                    <div *ngIf="submitted && f['icon'].errors" class="invalid-feedback">
                                        <div *ngIf="f['icon'].errors['required']">Es preciso ingresar un ícono</div>
                                    </div>
                                </div>
                            </div>      
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#audiovisualClosingModal" data-bs-toggle="modal" aria-label="Actualizar">{{buttons[13].value}}</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
