    <!-- Modal Skills -->
    <div class="modal fade" id="developerSkillsModal" tabindex="-1" aria-labelledby="developerSkillsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="developerSkillsModalLabel">Skills</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-4">
                            <h4 class="text-center pt-4">Técnicas</h4>
                            <div *ngFor="let technical of technicals" class="col-4">
                                <div class="text-center">
                                    <div [class]="technical.progress" class="progress-circle">
                                        <span class="pt-1"><i [class]="technical.icon" class="fa-2x mt-4 pt-s"></i></span>
                                    </div> 
                                    <h6 class="mt-1">{{technical.technology}}</h6>
                                    <p>{{technical.percentage}}%</p>            
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperTechnicalSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperTechnicalSkillModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-4 my-2">
                            <h4 class="text-center">Blandas</h4>
                            <div *ngFor="let soft of softs" class="col-4 mt-3">
                                <div class="text-center mt-2">
                                    <h4><span [class]="soft.badge" class="px-3 py-2">{{soft.soft}}</span></h4>
                                    {{soft.percentage}}%
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperSoftSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperSoftSkillModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-4 my-2">
                            <h4 class="text-center">Idiomas</h4>                         
                            <div *ngFor="let language of languages" class="col-12 my-3">
                                <div class="text-center mt-2">
                                    <div class="progress mx-4">
                                        <div [class]="language.animation" role="progressbar" aria-label="English" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]="language.percentage"></div>
                                    </div>
                                    {{language.language}} - {{language.level}}
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperLanguageSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>          
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperLanguageSkillModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">{{buttons.close}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-create-developer-technical-skill-modal></app-create-developer-technical-skill-modal>
    <app-edit-developer-technical-skill-modal></app-edit-developer-technical-skill-modal>
    <app-create-developer-soft-skill-modal></app-create-developer-soft-skill-modal>
    <app-edit-developer-soft-skill-modal></app-edit-developer-soft-skill-modal>
    <app-create-developer-language-skill-modal></app-create-developer-language-skill-modal>
    <app-edit-developer-language-skill-modal></app-edit-developer-language-skill-modal>
    <app-delete-developer-skill-modal></app-delete-developer-skill-modal>
    