    <!-- Modal Skills -->
    <div class="modal fade" id="developerSkillsModal" tabindex="-1" aria-labelledby="developerSkillsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="developerSkillsModalLabel">Skills</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-4">
                            <h4 class="text-center pt-4">Técnicas</h4>
                            <div class="col-4">
                                <div class="text-center">
                                    <div class="progress-circle progress-95">
                                        <span class="pt-1"><i class="fa-brands fa-html5 fa-2x mt-4 pt-s"></i></span>
                                    </div> 
                                    <h6 class="mt-1">HTML</h6>
                                    <p>95%</p>            
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperTechnicalSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="text-center">
                                    <div class="progress-circle progress-95">
                                        <span class="pt-1"><i class="fa-brands fa-bootstrap fa-2x mt-4 pt-s"></i></span>
                                    </div> 
                                    <h6 class="mt-1">Bootstrap</h6>
                                    <p>95%</p>            
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperTechnicalSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="text-center">
                                    <div class="progress-circle progress-60">
                                        <span class="pt-1"><i class="fa-brands fa-java fa-2x mt-4 pt-s"></i></span>
                                    </div> 
                                    <h6 class="mt-1">Java</h6>
                                    <p>60%</p>            
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperTechnicalSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="text-center">
                                    <div class="progress-circle progress-85">
                                        <span class="pt-1"><i class="fa-brands fa-css3 fa-2x mt-4 pt-s"></i></span>
                                    </div> 
                                    <h6 class="mt-1">CSS</h6>
                                    <p>85%</p>            
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperTechnicalSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="text-center">
                                    <div class="progress-circle progress-70">
                                        <span class="pt-1"><i class="fa-brands fa-angular fa-2x mt-4 pt-s"></i></span>
                                    </div> 
                                    <h6 class="mt-1">Angular</h6>
                                    <p>70%</p>            
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperTechnicalSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="text-center">
                                    <div class="progress-circle progress-60">
                                        <span class="pt-1"><i class="fa-solid fa-leaf fa-2x mt-4 pt-s"></i></span>
                                    </div> 
                                    <h6 class="mt-1">Springboot</h6>
                                    <p>60%</p>            
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperTechnicalSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="text-center">
                                    <div class="progress-circle progress-40">
                                        <span class="pt-1"><i class="fa-brands fa-js-square fa-2x mt-4 pt-s"></i></span>
                                    </div> 
                                    <h6 class="mt-1">JavaScript</h6>
                                    <p>40%</p>            
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperTechnicalSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="text-center">
                                    <div class="progress-circle progress-90">
                                        <span class="pt-1"><i class="fa-solid fa-coins fa-2x mt-4 pt-s"></i></span>
                                    </div> 
                                    <h6 class="mt-1">Base de Datos</h6>
                                    <p>75%</p>            
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperTechnicalSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="text-center">
                                    <div class="progress-circle progress-80">
                                        <span class="pt-1"><i class="fa-brands fa-github fa-2x mt-4 pt-s"></i></span>
                                    </div> 
                                    <h6 class="mt-1">GitHub</h6>
                                    <p>80%</p>            
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperTechnicalSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperTechnicalSkillModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-4 my-2">
                            <h4 class="text-center">Blandas</h4>
                            <div class="col-4 mt-3">
                                <div class="text-center mt-2">
                                    <h4><span class="badge text-bg-dark px-3 py-2">Liderazgo</span></h4>
                                    90%
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperSoftSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="text-center mt-2">
                                    <h4><span class="badge text-bg-dark px-3 py-2">Innovación</span></h4>
                                    95%
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperSoftSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="text-center mt-2">
                                    <h4><span class="badge text-bg-dark">Colaboratividad</span></h4>
                                    75%
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperSoftSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="text-center mt-2">
                                    <h4><span class="badge text-bg-dark px-3 py-2">Toma de Decisiones</span></h4>
                                    80%
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperSoftSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="text-center mt-2">
                                    <h4><span class="badge text-bg-dark px-3 py-2">Análisis Cuantitativo</span></h4>
                                    85%
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperSoftSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="text-center mt-2">
                                    <h4><span class="badge text-bg-dark px-3 py-2">Creatividad</span></h4>
                                    95%
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperSoftSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>    
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperSoftSkillModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-4 my-2">
                            <h4 class="text-center">Idiomas</h4>                         
                            <div class="col-12 my-3">
                                <div class="text-center mt-2">
                                    <div class="progress mx-4">
                                        <div class="progress-bar bg-dark progress-bar-animated" role="progressbar" aria-label="English" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                    </div>
                                    Inglés - B1
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperLanguageSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>          
                                </div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="text-center mt-2">
                                    <div class="progress mx-4">
                                        <div class="progress-bar bg-dark progress-bar-animated" role="progressbar" aria-label="English" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                                    </div>
                                    Francés - C1
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editDeveloperLanguageSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteDeveloperSkillModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>          
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperLanguageSkillModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-create-developer-technical-skill-modal></app-create-developer-technical-skill-modal>
    <app-edit-developer-technical-skill-modal></app-edit-developer-technical-skill-modal>
    <app-create-developer-soft-skill-modal></app-create-developer-soft-skill-modal>
    <app-edit-developer-soft-skill-modal></app-edit-developer-soft-skill-modal>
    <app-create-developer-language-skill-modal></app-create-developer-language-skill-modal>
    <app-edit-developer-language-skill-modal></app-edit-developer-language-skill-modal>
    <app-delete-developer-skill-modal></app-delete-developer-skill-modal>
    