<audio [src]="music.synapse" autoplay="autoplay"></audio>

<section class="background bloopers">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg d-flex justify-content-between container-fluid bg-black">
        <app-white-logo></app-white-logo>
        <app-white-session></app-white-session>
    </nav>

    <!-- Redes -->
    <app-white-general></app-white-general>

    <!-- Bloopers -->
    <div class="wrapper bg-black text-white">
        <div class='credit'>
            <div class="row mb-5 pb-5">
                <div class='title text-700'>
                    {{bloopers.lineOne}}
                    <br>
                    {{bloopers.lineTwo}}
                </div>
            </div>
            <div class='feedback text-700 mt-5 pt-5'>
                {{bloopers.lineThree}}
                <br>
                {{bloopers.lineFour}}
            </div>
            <app-audiovisual-bloopers></app-audiovisual-bloopers>
            <div class='feedback text-700 mt-5 pt-5'>
                {{bloopers.lineFive}}
                <br>
                {{bloopers.lineSix}}
            </div>
            <div class="silence"></div>
            <div class='feedback text-700 mt-5 pt-5'>
                {{bloopers.lineSeven}} 
                <br>
                {{bloopers.lineEight}}
            </div>
            <div class="silence"></div>
            <div class='feedback text-700 mt-5 pt-5'>
                {{bloopers.lineNine}} 
                <br>
                {{bloopers.lineTen}}
            </div>
            <div class="cut"></div>
            <div class="row mt-5 pt-5 mb-5 pb-5">
                <div class="bloopers">
                    <div class='feedback text-700 mt-5 pt-5'>
                        {{bloopers.thanks}}
                    </div>
                    <div class="col-12">
                        <div class='quote'>
                            <span><i [class]="bloopers.signature" class="fa-3x text-white"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ending"></div>
            <div class='name text-uppercase pb-5'><i [class]="bloopers.rights" class="text-700"></i> {{bloopers.register}}</div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer d-flex justify-content-between container-fluid bg-black">
        <app-white-back></app-white-back>
        <app-white-footer-plus></app-white-footer-plus>
    </footer>
</section>
