<div class="modal fade" id="minibioModal" tabindex="-1" aria-labelledby="minibioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-center">{{minibio.title}}</h4>
                            <div class="card">
                                <div class="card-body">      
                                    <p class="card-text">{{minibio.paragraphOne}}</p>
                                    <p class="card-text">{{minibio.paragraphTwo}}</p>
                                    <p class="card-text">{{minibio.paragraphThree}}</p>
                                    <p class="card-text">{{minibio.paragraphFour}}</p>
                                    <p class="card-text">{{minibio.paragraphFive}}</p>
                                    <p class="card-text">{{minibio.paragraphSix}}</p>
                                    <p class="card-text">{{minibio.paragraphSeven}}</p>
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <a [href]="minibio.document" target="_blank" class="btn btn-black-mini" download="Minibio.pdf"><i class="fa-solid fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">{{buttons.close}}</button>
            </div>
        </div>
    </div>
</div>