<div class="mb-3">
    <div class="row g-4">
        <h4 class="text-center pt-4">Técnicas</h4>
        <div class="col-4">
            <div class="text-center">
                <div class="progress-circle progress-95">
                    <span class="pt-1"><i class="fa-brands fa-html5 fa-2x mt-4 pt-s"></i></span>
                </div> 
                <h6 class="mt-1">HTML</h6>
                <p>95%</p>
            </div>
        </div>
        <div class="col-4">
            <div class="text-center">
                <div class="progress-circle progress-95">
                    <span class="pt-1"><i class="fa-brands fa-bootstrap fa-2x mt-4 pt-s"></i></span>
                </div> 
                <h6 class="mt-1">Bootstrap</h6>
                <p>95%</p>
            </div>
        </div>
        <div class="col-4">
            <div class="text-center">
                <div class="progress-circle progress-60">
                    <span class="pt-1"><i class="fa-brands fa-java fa-2x mt-4 pt-s"></i></span>
                </div> 
                <h6 class="mt-1">Java</h6>
                <p>60%</p>
            </div>
        </div>
        <div class="col-4">
            <div class="text-center">
                <div class="progress-circle progress-85">
                    <span class="pt-1"><i class="fa-brands fa-css3 fa-2x mt-4 pt-s"></i></span>
                </div> 
                <h6 class="mt-1">CSS</h6>
                <p>85%</p>
            </div>
        </div>
        <div class="col-4">
            <div class="text-center">
                <div class="progress-circle progress-70">
                    <span class="pt-1"><i class="fa-brands fa-angular fa-2x mt-4 pt-s"></i></span>
                </div> 
                <h6 class="mt-1">Angular</h6>
                <p>70%</p>
            </div>
        </div>
        <div class="col-4">
            <div class="text-center">
                <div class="progress-circle progress-60">
                    <span class="pt-1"><i class="fa-solid fa-leaf fa-2x mt-4 pt-s"></i></span>
                </div> 
                <h6 class="mt-1">Springboot</h6>
                <p>60%</p>
            </div>
        </div>
        <div class="col-4">
            <div class="text-center">
                <div class="progress-circle progress-40">
                    <span class="pt-1"><i class="fa-brands fa-js-square fa-2x mt-4 pt-s"></i></span>
                </div> 
                <h6 class="mt-1">JavaScript</h6>
                <p>40%</p>
            </div>
        </div>
        <div class="col-4">
            <div class="text-center">
                <div class="progress-circle progress-90">
                    <span class="pt-1"><i class="fa-solid fa-coins fa-2x mt-4 pt-s"></i></span>
                </div> 
                <h6 class="mt-1">Base de Datos</h6>
                <p>75%</p>
            </div>
        </div>
        <div class="col-4">
            <div class="text-center">
                <div class="progress-circle progress-80">
                    <span class="pt-1"><i class="fa-brands fa-github fa-2x mt-4 pt-s"></i></span>
                </div> 
                <h6 class="mt-1">GitHub</h6>
                <p>80%</p>
            </div>
        </div>
    </div>  
</div>
