<section class="mb-5 pb-5">
    <div class="container" id="largometrajes">
        <h4 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> Largometrajes</span></h4>
    </div>
    <div class="container text-center">
        <div class="row g-4">
            <div *ngFor="let longshot of longshots" class="col-4">
                <div class="card">
                    <img [src]="longshot.card" class="card-img-top" [alt]="longshot.title">
                    <div class="card-body">
                        <h5>{{longshot.title}}</h5>                                        
                        <p class="card-text">{{longshot.logline}}</p>
                        <small>{{longshot.duration}} - {{longshot.genre}}</small>
                        <div class="mt-3">
                            <a routerLink="" (click)="showLongshot(longshot.id)">
                                <i [class]="longshot.icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
