    <!--Modal Credits-->
    <div class="modal fade" id="creditsModal" tabindex="-1" aria-labelledby="creditsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="creditsModalLabel">Credits</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container text-center"> 
                        <div class="row pt-3 pb-3">
                            <h4 class='text-700'>Point of View</h4>
                            <div class="col-12">
                                <blockquote class='text-700'>Portfolio Creativo</blockquote>
                                <h6 class='text-700'>Basado en una historia real</h6>
                                <div class='text-uppercase pb-3'><i class="fa-regular fa-copyright text-700"></i> 2022</div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editTitleCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr class="w-75 m-auto my-3">    
                    <h5 class="text-center mt-2">Dicen de mí</h5>
                    <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                    <p class="mx-5 text-center">Nombre</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                    <p class="mx-5 text-center">Nombre</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                    <p class="mx-5 text-center">Nombre</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <hr class="w-75 m-auto my-3">                       
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-black-extra-mini" data-bs-target="#createSingleCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                    </div>
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-6">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center my-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center my-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center my-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center my-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center my-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center my-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-75 m-auto my-3">                       
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-black-extra-mini" data-bs-target="#createDoubleCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                    </div>
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-4">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h6 class="text-center mt-4">Lorem ipsum dolor</h6>
                                <p class="mx-5 text-center">Nombre</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-75 m-auto my-3">                       
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-black-extra-mini" data-bs-target="#createTripleCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                    </div>
                    <h5 class="text-center mt-5 mb-3">Agradecimientos</h5>
                    <h6 class="text-center mb-2">Nombre</h6>
                    <p class="mx-5 text-center">Lorem ipsum dolor</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editThanksModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <h6 class="text-center mb-2">Nombre</h6>
                    <p class="mx-5 text-center">Lorem ipsum dolor</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editThanksModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <h6 class="text-center mb-2">Nombre</h6>
                    <p class="mx-5 text-center">Lorem ipsum dolor</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editThanksModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <h6 class="text-center mb-2">Nombre</h6>
                    <p class="mx-5 text-center">Lorem ipsum dolor</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editThanksModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <hr class="w-75 m-auto my-3">                       
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-black-extra-mini" data-bs-target="#createThanksModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                    </div>
                    <h5 class="text-center mt-5">Hecho con</h5>
                    <div class="container">
                        <div class="row mt-2">
                            <div class="col-4 mt-4">
                                <h6 class="text-center"><i class="fa-brands fa-html5 fa-3x"></i></h6>
                                <p class="mt-1 mx-5 text-center">HTML</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4 mt-4">
                                <h6 class="text-center"><i class="fa-brands fa-css3-alt fa-3x"></i></h6>
                                <p class="mt-1 mx-5 text-center">CSS</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4 mt-4">
                                <h6 class="text-center"><i class="fa-brands fa-font-awesome fa-3x"></i></h6>
                                <p class="mt-1 mx-5 text-center">Fontawesome</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4 mt-4">
                                <h6 class="text-center"><i class="fa-brands fa-bootstrap fa-3x"></i></h6>
                                <p class="mt-1 mx-5 text-center">Bootstrap</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4 mt-4">
                                <h6 class="text-center"><i class="fa-brands fa-angular fa-3x"></i></h6>
                                <p class="mt-1 mx-5 text-center">Angular</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4 mt-4">
                                <h6 class="text-center"><i class="fa-solid fa-coins fa-3x"></i></h6>
                                <p class="mt-1 mx-5 text-center">Base de Datos</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4 mt-4">
                                <h6 class="text-center"><i class="fa-brands fa-java fa-3x"></i></h6>
                                <p class="mt-1 mx-5 text-center">Java</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4 mt-4">
                                <h6 class="text-center"><i class="fa-solid fa-leaf fa-3x"></i></h6>
                                <p class="mt-1 mx-5 text-center">SpringBoot</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-4 mt-4">
                                <h6 class="text-center"><i class="fa-brands fa-github fa-3x"></i></h6>
                                <p class="mt-1 mx-5 text-center">GitHub</p>
                                <div class="d-flex justify-content-center mt-1 mb-3">
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center mt-5">Y muchísimas</h5>
                    <div class="row">
                        <div class="col-4 mt-3">
                            <h6 class="text-center"><i class="fa-solid fa-comments fa-3x"></i></h6>
                            <p class="mt-1 mx-5 text-center">Opiniones</p>
                            <div class="d-flex justify-content-center mt-1 mb-3">
                                <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                        <div class="col-4 mt-3">
                            <h6 class="text-center"><i class="fa-solid fa-book fa-3x"></i></h6>
                            <p class="mt-1 mx-5 text-center">Lecturas</p>
                            <div class="d-flex justify-content-center mt-1 mb-3">
                                <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                        <div class="col-4 mt-3">
                            <h6 class="text-center"><i class="fa-solid fa-clock fa-3x"></i></h6>
                            <p class="mt-1 mx-5 text-center">Horas</p>
                            <div class="d-flex justify-content-center mt-1 mb-3">
                                <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editMadeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mt-5">
                        <h5 class='text-700'>Música</h5>
                        <div class="col-12 mb-3">
                            <blockquote class='text-700'>Synapse</blockquote>
                            <div class='text-uppercase'>佐空 saku. | beats</div>
                            <span><i class="fa-brands fa-soundcloud fa-3x"></i></span>
                            <br>
                            <span>https://soundcloud.com/notsaku</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-black-extra-mini" data-bs-target="#editMusicCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <div class="row text-center mt-5">
                        <div class="bloopers">
                            <h5 class='text-700'>¿Ya viste los bloopers?</h5>
                            <div class="col-12 mb-3">
                                <span><i class="fa-solid fa-bug fa-3x"></i></span>
                                <div class='text-uppercase text-700'>Dale click al ícono que está al pie...</div>
                            </div>                                        
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-black-extra-mini" data-bs-target="#editBloopersCreditModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals's -->
    <app-edit-title-credit-modal></app-edit-title-credit-modal>
    <app-edit-credit-modal></app-edit-credit-modal>
    <app-delete-credit-modal></app-delete-credit-modal>
    <app-create-single-credit-modal></app-create-single-credit-modal>
    <app-create-double-credit-modal></app-create-double-credit-modal>
    <app-create-triple-credit-modal></app-create-triple-credit-modal>
    <app-edit-thanks-modal></app-edit-thanks-modal>
    <app-create-thanks-modal></app-create-thanks-modal>
    <app-edit-made-modal></app-edit-made-modal>
    <app-edit-music-credit-modal></app-edit-music-credit-modal>
    <app-edit-bloopers-credit-modal></app-edit-bloopers-credit-modal>
