<section class="feedback d-flex justify-content-center w-75 m-auto text-center">
    <div class="container">
        <h3 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> Feedback</span></h3>                                    
        <h6>
            En una presentación de la convencionales podrías encontrar algo como Referencias...   
            <br><br>
            Yo no tengo... No existe tampoco para alguien de la Industria Audiovisual...
            <br><br>    
            En su reemplazo cuento con más documentos que se conocen como Feedbacks... 
        </h6>
    </div>        
</section>

<section>
    <div class="container mt-2 pt-5 pb-2 w-75 m-auto d-flex justify-content-between">      
        <div class="container text-center">
            <div class="row g-2">
                <div class="col-6">
                    <a href="" target="_blank">
                        <div class="card">
                            <div class="card-body d-flex justify-content-center">      
                                <img src="./../assets/img/audiovisual/intro/feedback/am.jpg" class="rounded-circle w-50 mb-2">
                            </div> 
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <h6>Nombre y Apellido</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="" target="_blank">
                        <div class="card">
                            <div class="card-body d-flex justify-content-center">      
                                <img src="./../assets/img/audiovisual/intro/feedback/js.jpg" class="rounded-circle w-50 mb-2">
                            </div> 
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <h6>Nombre y Apellido</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="" target="_blank">
                        <div class="card">
                            <div class="card-body d-flex justify-content-center">      
                                <img src="./../assets/img/audiovisual/intro/feedback/mb.jpg" class="rounded-circle w-50 mb-2">
                            </div> 
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <h6>Nombre y Apellido</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="" target="_blank">
                        <div class="card">
                            <div class="card-body d-flex justify-content-center">      
                                <img src="./../assets/img/audiovisual/intro/feedback/tw.jpg" class="rounded-circle w-50 mb-2">
                            </div> 
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <h6>Nombre y Apellido</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>  
    <h5 class="w-75 text-center m-auto pt-4 mb-2">Si hacés click en cada tarjeta podrías ver quienes son...</h5>
    <p class="w-75 text-center m-auto mb-2">Eso es lo valioso de cada feedback...</p>
</section>
