    <!--Modal Social-->
    <div class="modal fade" id="socialModal" tabindex="-1" aria-labelledby="socialModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="socialModalLabel">Social</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row g-4">
                            <div class="col-4">
                                <h5>General</h5>
                                <div *ngFor="let social of socialGeneral">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-2"></div>
                                        <div class="col-2">
                                            <i [class]="social.icon" class="fa-2x pt-4 pb-3"></i>
                                        </div>
                                        <div class="col-3 mt-3">
                                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editGeneralSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        </div>
                                        <div class="col-3 mt-3">
                                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteGeneralSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>                                
                                <hr class="w-75 m-auto my-3">                       
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#createGeneralSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h5>Audiovisual</h5>
                                <div *ngFor="let social of socialAudiovisual">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-2"></div>
                                        <div class="col-2">
                                            <i [class]="social.icon" class="fa-2x pt-4 pb-3"></i>
                                        </div>
                                        <div class="col-3 mt-3">
                                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editAudiovisualSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        </div>
                                        <div class="col-3 mt-3">
                                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteAudiovisualSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>                                
                                <hr class="w-75 m-auto my-3">                                  
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#createAudiovisualSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h5>Developer</h5>
                                <div *ngFor="let social of socialDeveloper">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-2"></div>
                                        <div class="col-2">
                                            <i [class]="social.icon" class="fa-2x pt-4 pb-3"></i>
                                        </div>
                                        <div class="col-3 mt-3">
                                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editDeveloperSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        </div>
                                        <div class="col-3 mt-3">
                                            <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteDeveloperSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>                                
                                <hr class="w-75 m-auto my-3">                                  
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#createDeveloperSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">{{buttons.close}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals's -->
    <app-create-general-social-modal></app-create-general-social-modal>
    <app-edit-general-social-modal></app-edit-general-social-modal>
    <app-delete-general-social-modal></app-delete-general-social-modal>
    <app-create-audiovisual-social-modal></app-create-audiovisual-social-modal>
    <app-edit-audiovisual-social-modal></app-edit-audiovisual-social-modal>
    <app-delete-audiovisual-social-modal></app-delete-audiovisual-social-modal>
    <app-create-developer-social-modal></app-create-developer-social-modal>
    <app-edit-developer-social-modal></app-edit-developer-social-modal>
    <app-delete-developer-social-modal></app-delete-developer-social-modal>
    

