    <!--Modal Social-->
    <div class="modal fade" id="socialModal" tabindex="-1" aria-labelledby="socialModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="socialModalLabel">Social</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row g-4">
                            <div class="col-4">
                                <h5>General</h5>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-facebook-f fa-2x ms-4 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-linkedin-in fa-2x ms-4 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-twitter fa-2x ms-4 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-instagram fa-2x ms-4 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <hr class="w-75 m-auto my-3">                       
                                <div>
                                    <button class="btn btn-black-extra-mini" data-bs-target="#createSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h5>Audiovisual</h5>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-imdb fa-2x ms-4 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-twitter fa-2x ms-4 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-facebook-f fa-2x ms-4 me-3 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-linkedin-in fa-2x ms-4 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <hr class="w-75 m-auto my-3">                       
                                <div>
                                    <button class="btn btn-black-extra-mini" data-bs-target="#createSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <h5>Developer</h5>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-github fa-2x ms-4 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-codepen fa-2x ms-4 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-linkedin-in fa-2x ms-4 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <i class="fa-brands fa-instagram fa-2x ms-4 px-4 pt-4 pb-3"></i>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#deleteSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                                <hr class="w-75 m-auto my-3">                       
                                <div>
                                    <button class="btn btn-black-extra-mini" data-bs-target="#createSocialModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-create-social-modal></app-create-social-modal>
    <app-edit-social-modal></app-edit-social-modal>
    <app-delete-social-modal></app-delete-social-modal>