/* Navbar y Footer*/
.navbar,
footer {
    position: fixed;
    width: 100%;
    left: 0;
    height: 5rem;
    color: #000;
    z-index: 1;
}

.navbar {
    top: 0;
}

footer {
    bottom: 0;
    padding-top: 1.5rem;
    z-index: 1;
}

/* Banners */
.background {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

/* Heroes */
h1.hero {
    font-size: 4rem;
}

h4.hero {
    font-size: 1.75rem;
}

.text-top {
    margin-top: 6rem;
}

/* Social */
ul.social-listing li {
    margin-bottom: 90%;
    font-size: 0.8rem;
}

/* Plus */
.plus {
    position: relative;
    transition: all 0.3s ease;
}

.plus:after {
    content: attr(data-tooltip);
    font-size: 0.95rem;
    text-align: center;
    position: absolute;
    color: #fff;
    background: #2828285e;
    padding: 1.5rem 2.5rem;
    width: 50rem;
    opacity: 0;
    pointer-events: none;
    left: 850%;
    top: 775%;
    border-radius: 4px;
    transition: all 0.3s ease;
    transition-delay: .2s;
}

.plus:hover:after {
    opacity: 0.5;
}

/* Buttons Outline */
.btn.btn-outline-white,
.btn.btn-outline-white:hover,
.btn.btn-outline-black,
.btn.btn-outline-black:hover {
padding: 0.5rem 1.5rem;
border-radius: 0.25rem;
width: 12rem;
}

/* Button Outline White */
.btn.btn-outline-white,
.btn.btn-outline-white:hover {
    color: #fff !important;
    border: 0.05rem solid #fff !important;

}

/* Button Outline Black */
.btn.btn-outline-black,
.btn.btn-outline-black:hover {
    color: #000 !important;
    border: 0.05rem solid #000 !important;
}

/* Button Black Medium */
.btn.btn-black-medium{
    color: #000;
    background-color: #fff;
    border-color: #000;
    padding: 0.75rem 0.75rem;
    border-radius: 0.25rem;
    width: 33.33%;
    height: auto;
}

.btn.btn-black-medium:hover,
.btn.btn-black-medium:active,
.btn.btn-black-medium:focus-visible,
.btn-check.btn-black-medium:checked+.btn, 
.btn.btn-black-mediumactive, .btn.btn-black-medium.show, 
.btn.btn-black-medium:first-child:active, 
:not(.btn-check)+.btn.btn-black-medium:active {
    color: #fff;
    background-color: rgb(238, 231, 231);
    border-color: transparent;
}

/* Dashboard Buttons */
.btn.btn-black,
.btn.btn-black:hover {
    color: #fff !important;
    border: 0.05rem solid #000 !important;
    padding: 0.75rem 0.75rem;
    border-radius: 0.25rem;
    width: 12rem;
    height: 7rem;
    background: #000;
}

/* Dashboard Modals Buttons */
.btn.btn-black-mini,
.btn.btn-black-mini:hover {
    color: #fff !important;
    border: 0.05rem solid #000 !important;
    padding: 0.75rem 0.75rem;
    border-radius: 0.25rem;
    width: 7rem;
    height: 3rem;
    background: #000;
}

/* Dashboard Modal Edition Buttons */
.btn.btn-black-extra-mini,
.btn.btn-black-extra-mini:hover {
    color: #fff !important;
    border: 0.05rem solid #000 !important;
    padding: 0.75rem 0.75rem;
    border-radius: 0.25rem;
    width: 3rem;
    height: 3rem;
    background: #000;
}

/* Button Sizes */
.btn-lg {
    font-size: 1.25rem;
}

.btn-width {
    width: 12rem;
}

/* Actives Buttons */
.btn-check:checked+.btn, 
.btn.active, 
.btn.show, 
.btn:first-child:active, 
:not(.btn-check)+.btn:active {
    border-color: transparent;
}

.btn-close:focus {
    box-shadow: none;
}

/* Button Behavior */
.download {
    border: none !important;
}

/* Enlaces */
a {
    color:#000 !important;
    text-decoration: none !important;
}

a:hover {
    cursor: pointer;
}

/* Forms */
.form-select:focus,
.form-control:focus {
    border-color: #dee2e6;
    outline: 0;
    box-shadow: none;
}

/* Img Black */
.img-black{
    filter:invert(1) !important;
}

/* Section Top */
.section-top {
    padding-top: 10rem;
}

/* Credits */
.wrapper {
    overflow: hidden;
    height: 150rem;
    margin-bottom: 10rem;
    margin-top: 0rem;
}

.credit {
    position: relative;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    animation: 200s credits linear infinite;
    display: inline;
}

.title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.feedback {
    margin-bottom: 5rem;
    font-size: 2rem;
}

.name {
    margin-bottom: 5rem;
    font-size: 1.05rem;
}

.quote {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.blooppers {
    margin: 25rem 0 10rem 0;
}

.silence {
    height: 9rem !important;
}

.cut {
    height: 30rem !important;
}

.ending {
    height: 25rem !important;
}

@keyframes credits {
    0% {
        top: 100%;
    }
    100% {
        top: -500%;
    }
}

/* Colors */
.text-orange {
    color: #fd7e14;
}

.orange:hover {
    color: #fd7e14;
}

.white {
    color: #fff;
}

/* Go Back */
.fa-rotate {
    transform: rotateY(-180deg);
}