<div id="totop"></div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg d-flex justify-content-between container-fluid position-fixed">
    <app-black-logo></app-black-logo>
    <app-black-orange-session></app-black-orange-session>
</nav>

<!-- Plus -->
<app-camera></app-camera>

<!-- Social -->
<app-black-developer></app-black-developer>

<app-developer-intro></app-developer-intro>

<app-developer-profile></app-developer-profile>

<app-developer-education></app-developer-education>

<app-developer-experience></app-developer-experience>

<app-developer-projects></app-developer-projects>

<section class="skills mt-5 pt-5">
    <div class="container w-75">
        <h3 class="d-flex justify-content-center mt-4 pb-4"><i class="fa-solid fa-cogs"></i> <span class="text-orange text-center ms-3"> Habilidades con las que cuento...</span></h3>
        <app-developer-technical-skills></app-developer-technical-skills>
        <hr class="w-75 my-5 m-auto">
        <app-developer-soft-skills></app-developer-soft-skills>
    </div>
</section>

<app-developer-languages></app-developer-languages>      

<app-developer-hobbies></app-developer-hobbies>

<app-developer-references></app-developer-references>

<app-developer-contact></app-developer-contact>

<app-developer-to-cv></app-developer-to-cv>

<footer>
    <div class="d-flex justify-content-between ms-4 me-4">
        <app-black-orange-back></app-black-orange-back>
        <app-orange-totop></app-orange-totop>
    </div>
</footer>
