@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 

/* Typo */
* {
    font-family: 'Courier Prime', monospace;
}

/* Next Page */
.next {
    margin: -2rem 0 5rem 14.25em;
}

/* Sections */
.cover,
section.projects,
section.samples,
section.data {
    margin-top: 5rem;
}

section.overview {
    margin: 2rem 0 0 0;
}

section.empty-footer {
    margin-top: 7rem ;
}

/* Divisors */
.divisor {
    height: 13rem;
}

/* Colors */
.white {
    color: #fff;
}

/* Buttons */
.btn.btn-black-medium{
    color: #000;
    background-color: #fff;
    border-color: #000;
    padding: 0.75rem 0.75rem;
    border-radius: 0.25rem;
    width: 33.33%;
    height: auto;
}

.btn.btn-black-medium:hover,
.btn.btn-black-medium:active,
.btn.btn-black-medium:focus-visible,
.btn-check.btn-black-medium:checked+.btn, 
.btn.btn-black-mediumactive, .btn.btn-black-medium.show, 
.btn.btn-black-medium:first-child:active, 
:not(.btn-check)+.btn.btn-black-medium:active {
    color: #fff;
    background-color: rgb(238, 231, 231);
    border-color: transparent;
}

.download {
    border: none !important;
}