.modal {
	width: 100%;
	height: 100vh;
	background: #000000cc;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
}

.modal-content {
	margin: auto;
	width: 75%;
	height: 65%; 
	background: #ffffffcc;
	border-radius: 0.5rem;
}

h5.accessibility.mb-4 {
	margin-left: 0rem;
	margin-right: -4.5rem;
}

.accessibility-btn {
	margin-top: -1rem;
}

#close {
	display: none;
}

#close + label {
	position: fixed;
	font-size: 1.5rem;
	z-index: 999999999;
	background: transparent;
	cursor: pointer;
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
}

#close:checked + label, #close:checked ~ .modal {
	display: none;
}

@keyframes modal {
	100% {
		visibility: visible;
		opacity: 1;
	}
}

.modal-header {
    border-bottom: none;
}