    <!-- Modal Data Page -->
    <div class="modal fade" id="audiovisualDataPageModal" tabindex="-1" aria-labelledby="audiovisualDataPageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="audiovisualDataPageModalLabel">{{dataPage.title}}</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualLinksModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h4 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> {{dataPage.title}}</span></h4>
                        <p class="text-center">
                            {{dataPage.lineOne}}
                            <br><br>    
                            {{dataPage.lineTwo}}
                            <br><br>
                            {{dataPage.lineThree}}
                            <br><br>
                            {{dataPage.lineFour}}
                        </p>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualDataPagePresentationModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <hr class="w-75 m-auto mt-3 pb-3">
                    <div class="container text-center">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="card">
                                    <div class="d-flex justify-content-between">
                                        <a *ngFor="let data of dataList" class="btn btn-black-medium download arrow">
                                            <div class="d-flex justify-content-end">
                                              <small class="text-muted"><i class="fa-solid fa-download"></i></small>
                                            </div>
                                            <h5 class="my-1">{{data.title}}</h5>
                                            <small class="text-muted mb-4">{{data.register}} <i class="fa-regular fa-copyright"></i></small>
                                        </a>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="mt-2 pt-3 pb-3 d-flex justify-content-between">      
                                        <div *ngFor="let button of dataList" class="col-4 text-center">
                                            <button type="button" class="btn btn-black-link btn-lg" data-bs-target="#editAudiovisualDownloadableDocumentsModal" data-bs-toggle="modal">{{button.title}}</button>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#audiovisualLinksModal" data-bs-toggle="modal" aria-label="Close">{{buttons.cancel}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-audiovisual-data-page-presentation-modal></app-edit-audiovisual-data-page-presentation-modal>
    <app-edit-audiovisual-downloadable-documents-modal></app-edit-audiovisual-downloadable-documents-modal>
    <app-edit-audiovisual-downloadable-projects-modal></app-edit-audiovisual-downloadable-projects-modal>
    <app-edit-audiovisual-downloadable-samples-modal></app-edit-audiovisual-downloadable-samples-modal>
    