/* Audiovisual Links */
.btn.btn-black-link.btn-lg,
.btn.btn-black-link.btn-lg:hover {
    color: #fff !important;
    border: 0.05rem solid #000 !important;
    padding: .5rem 1.5rem;
    border-radius: 0.25rem;
    width: 12rem;
    background: #000;
}