/* Large Devices Landscape min 992px*/
/* iPad Pro (12.9-inch) */
@media (min-height: 1024px) and (max-height: 1024px) and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) { 
    /* General */
    .plus::after{
        top: 1400%;
        width: 48rem;
        left: 17.5rem;
    }

    /* Index */
    .text-top {
        margin-top: 10rem;
    }

    h4.hero {
        margin-top: 4rem;
    }

    .index-button {
        margin-top: 4rem;
    }

    /* Intro */
    .hero-intro {
        margin-top: 10rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 5rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 8rem !important;
    }    

    /* Register */
    h1.register-title {
        margin-top: 12.5rem;
    }
}

/* Laptop 2 */
@media (min-height: 800px) and (max-height: 800px) and (min-width: 1280px) and (max-width: 1280px) and (orientation: landscape) { 
    /* Intro */
    .hero-intro {
        margin-top: 5rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 4rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 3rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 7rem;
    }
}

/* Laptop 3 */
@media (min-height: 950px) and (max-height: 950px) and (min-width: 1280px) and (max-width: 1280px) and (orientation: landscape) { 
    /* General */
    .plus::after{
        top: 1250%;
        width: 45rem;
        left: 16rem;
    }

    /* Index */
    .text-top {
        margin-top: 10rem;
    }

    h4.hero {
        margin-top: 4rem;
    }

    .index-button {
        margin-top: 4rem;
    }

    /* Intro */
    .hero-intro {
        margin-top: 10rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 4rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 3rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 7rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 10rem;
    }
}

/* Laptop 1 */
@media (min-height: 900px) and (max-height: 900px) and (min-width: 1440px) and (max-width: 1440px) and (orientation: landscape) { 
    /* General */
    .plus::after{
        top: 1250%;
        width: 45rem;
        left: 21rem;
    }

    /* Index */
    .text-top {
        margin-top: 7rem;
    }

    h4.hero {
        margin-top: 4rem;
    }

    .index-button {
        margin-top: 4rem;
    }

    /* Intro */
    .hero-intro {
        margin-top: 8rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 5rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 5rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 10rem;
    }
}
