/* Medium Devices Landscape min 768px max 991px*/
/* Kindle Fire HDX */
/* Nexus 10 */
@media (min-height: 800px) and (max-height: 800px) and (min-width: 1280px) and (max-width: 1280px) and (orientation: landscape) { 
    /* General*/
    .plus::after{
        top: 1000%;
        width: 45rem;
        left: 15rem;
    }

    /* Index */
    .text-top {
        margin-top: 5rem;
    }

    h4.hero {
        margin-top: 3rem;
    }

    .index-button {
        margin-top: 3rem;
    }
}

/* iPad */
/* iPad Mini */
@media (min-height: 768px) and (max-height: 768px) and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) { 
    /* General */
    .plus::after{
        top: 1000%;
        width: 45rem;
        left: 7.5rem;
    }

    /* Intro */
    .hero-intro {
        font-size: 4rem !important;
    }

    .h5-intro {
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 6rem;
    }
}

/* iPad Pro (10.5-inch) */
@media (min-height: 834px) and (max-height: 834px) and (min-width: 1112px) and (max-width: 1112px) and (orientation: landscape) { 
    /* General */
    .plus::after{
        top: 1200%;
        width: 47rem;
        left: 10rem;
    }

    /* Index */
    .text-top {
        margin-top: 6rem;
    }

    h4.hero {
        margin-top: 4rem;
    }

    .index-button {
        margin-top: 4rem;
    }

    /* Intro */
    .hero-intro {
        margin-top: 5rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 8rem;
    }
}
