/* Small Devices Landscape min 576px max 767px*/
/* Nexus 7 */
@media (min-height: 600px) and (max-height: 600px) and (min-width: 960px) and (max-width: 960px) and (orientation: landscape) { 
    /* General */
    img.logo {
        width: 10rem;
        left: 3%;
        top: 3%;
    }

    .plus {
        left: 1.5rem;
    }

    .plus::after{
        top: 750%;
        width: 50rem;
        left: 4rem;
    }

    .items-social {
        transform: scale(0.95) !important;
        margin-top: -5.5rem !important;
    }

    /* Index */
    .text-top {
        margin-top: -2rem;
        font-size: 5rem !important;
    }

    h4.hero {
        margin-top: 2rem;
    }

    .index-button {
        margin-top: 2rem;
    }

    .accesibility-title {
        margin-top: -1.5rem auto 4rem auto !important;
        font-size: 1.75rem;
    }

    h5.accessibility.mb-4 {
        margin: -0.75rem -5rem 1rem -2.5rem !important;
        transform: scale(0.95);
    }

    .accessibility-btn {
        margin-top: -1.25rem !important;
        transform: scale(0.85);
    }

    /* Intro */
    .hero-intro {
        margin-top: 1rem !important;
        font-size: 3rem !important;
    }

    .h5-intro {
        margin-top: 1rem !important;
        font-size: 1.5rem !important;
    }

    .buttons-intro {
        margin-top: 1.25rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: -6rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 1rem;
    }

    h4.register-text {
        width: 50rem;
        margin: auto;
    }

    .register-btn {
        margin-top: -2rem;
    }

    /* Plus */
    h1.plus-title {
        margin-top: -2rem !important;
        font-size: 3.5rem;
        width: 50rem !important;
        margin: 0 auto;
    }

    h4.plus-text {
        margin-top: 1rem !important;
        width: 40rem;
        margin: 0 auto;
        font-size: 2rem;
    }

    .plus-button {
        margin-top: 1rem;
    }

    .plus-modal {
        transform: scale(0.9);
        margin: -8rem auto;
    }

    /* Error */
    .error-button {
        transform: scale(0.75);
        margin-top: 8rem !important;
        margin-bottom: -5rem !important;
    }

    .info-box {
        top: 40%;
    }

    .info-box::after{
        top: 950% !important;
    }

    /* Links */
    .links-title {
        font-size: 3rem !important;
        margin-top: -2.5rem;
    }

    .links-text {
        font-size: 1.5rem !important;
        margin: -1rem 2rem -2rem 2rem !important;
    }

    .links-buttons {
        transform: scale(0.75);
        margin-top: -4rem !important;
    }

    .links-paragraph {
        margin-top: -3rem !important;
        font-size: 0.95rem !important;
    }

    .info-links::after {
        top: 850%;
        transform: scale(0.85);
    }

    /* Audiovisual Intro */
    .compare {
        left: 0.75rem;
    }

    .items-social {
        margin-top: -12% !important;
    }

    .top-80 {
        margin-top: 37.5%;
    }

    .item-social {
        margin: -0.25rem auto;
    }

    .cover-title {
        margin-top: -3rem;
        font-size: 1.95rem !important;
    }

    .based,
    .to-visitors {
        font-size: 1rem;
    }

    .to-visitors {
        margin-left: 0 !important;
    }    

    .drafted,
    .section-title {
        font-size: 1.35rem;
    }
    
    .divisor-text,
    .section-text,
    .card-text,
    .signature {
        font-size: 1rem;
    }

    .photo-intro {
        width: 8rem !important;
    }

    .presentation-icon,
    .content-icon {
        transform: scale(0.8);
    }

    .btn.btn-outline-black-mini,
    .btn.btn-outline-black-mini:hover {
        color: #000;
        border: 0.05rem solid #000;
        padding: 0.35rem 1rem;
        border-radius: 0.25rem;
        width: 7rem !important;
    }

    .feedback-div {
        transform: scale(0.5);
        margin: -8rem auto;
    }

    .feedback-name {
        font-size: 1.5rem;
    }

    .card-text.feedback-text {
        font-size: 1.45rem;
    }

    .signature {
        margin-bottom: 17.5% !important;
    }

    .fa-signature {
        margin-top: -1rem;
        transform: scale(0.7);
    }

    .empty-footer {
        display: none;
    }

    /* Audiovisual Projects */
    .section-title {
        margin-top: 4rem;
        font-size: 1.75rem;
    }

    .projects-intro,
    .project-intro {
        width: 45rem;
        margin: auto;
        font-size: 1.25rem;
    }

    .section-title.content-section { 
        margin-bottom: 2rem !important;
    }

    .project-card {
        transform: scale(0.95);
        margin-top: 0.75rem;
    }

    .project-title, 
    .fa-project {
        font-size: 1.5rem;
    }

    .project-text {
        font-size: 1.25rem;
    }

    .format-genre {
        font-size: 1.15rem;
    }

    .section-share {
        margin-bottom: 10rem !important;
    }

    /*Audiovisual Project */
    .project-intro {
        margin-top: -1rem;
    }

    .image-detail {
        transform: scale(0.75);
        border-radius: 0;
        border: none;
    }

    div.card.img-top.project-img {
        --bs-card-border-color: transparent;
        margin: -4rem auto auto auto;
        z-index: -3;
    }

    .card.logline{
        margin-top: -1rem;
    }

    .sharing {
        margin-bottom: 7rem;
    }
    
    /* Audiovisual Samples */
    section.section-contents {
        margin-top: -1rem;
    }

    .samples.download,
    .samples.download:hover {
        width: 300%;
    }

    .sample-title {
        font-size: 1.15rem;
    }

    .sample-text,
    .format-sample,
    .samples.download h5,
    .samples.download {
        font-size: 1rem;
    }    
}

/* Large Screen */
@media (min-height: 688px) and (max-height: 688px) and (min-width: 1031px) and (max-width: 1031px) and (orientation: landscape) { 
    /* General */
    .plus::after{
        top: 850%;
        width: 57.5rem;
        left: 2rem;
    }

    /* Index */
    .text-top {
        margin-top: 2rem;
    }

    h4.hero {
        margin-top: 3rem;
    }

    .index-button {
        margin-top: 3rem;
    }

    /* Intro */
    .hero-intro {
        margin-top: 5rem !important;
        font-size: 3rem !important;
    }

    .h5-intro {
        margin-top: 1rem !important;
        font-size: 1.5rem !important;
    }

    .buttons-intro {
        margin-top: 1.25rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: -5rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 3rem;
    }

    h4.register-text {
        width: 50rem;
        margin: auto;
    }

    /* Plus */
    h1.plus-title {
        margin-top: 1rem !important;
        font-size: 3.5rem;
        width: 50rem !important;
        margin: 0 auto;
    }

    h4.plus-text {
        margin-top: 3rem !important;
        width: 40rem;
        margin: -0.5rem auto;
        font-size: 2rem;
    }

    .plus-button {
        transform: scale(0.95);
        margin-top: 1.5rem;
    }

    .plus-modal {
        transform: scale(0.95);
        margin: -8rem auto;
    }

    /* Error */
    .error-button {
        transform: scale(0.75);
        margin-top: 12rem !important;
        margin-bottom: -5rem !important;
    }

    .info-box {
        top: 40%;
    }

    .info-box::after{
        top: 1250% !important;
    }

    /* Links */
    .links-text {
        margin: 1rem 2rem -2rem 2rem !important;
    }

    .links-buttons {
        margin-top: 5rem !important;
    }

    .links-paragraph {
        margin-top: 0.5rem !important;
    }

    .info-links::after {
        top: 1100%;
    }

    /* Audiovisual Intro */
    .compare {
        left: 0.75rem;
    }

    .top-80 {
        margin-top: 45%;
    }

    .item-social {
        margin: -0.25rem auto;
    }

    .to-visitors {
        margin-left: 0 !important;
    }

    .section-title {
        font-size: 1.5rem;
    }
    
    .divisor-text,
    .section-text,
    .card-text,
    .signature {
        font-size: 1.15rem;
    }

    .photo-intro {
        width: 10rem !important;
    }

    .presentation-icon,
    .content-icon {
        transform: scale(0.8);
    }

    .btn.btn-outline-black-mini,
    .btn.btn-outline-black-mini:hover {
        color: #000;
        border: 0.05rem solid #000;
        padding: 0.35rem 1rem;
        border-radius: 0.25rem;
        width: 7rem !important;
    }

    .feedback-name {
        font-size: 1.15rem;
    }

    .card-text.feedback-text {
        font-size: 1.05rem;
    }

    .signature {
        margin-bottom: 17.5% !important;
    }

    .fa-signature {
        margin-top: -1rem;
        transform: scale(0.7);
    }

    .empty-footer {
        display: none;
    }

    /* Audiovisual Projects */
    .section-title {
        margin-top: 4rem;
        font-size: 1.75rem;
    }

    .projects-intro,
    .project-intro {
        width: 45rem;
        margin: auto;
        font-size: 1.25rem;
    }

    .section-title.content-section { 
        margin-bottom: 2rem !important;
    }

    .project-card {
        transform: scale(0.95);
        margin-top: 0.75rem;
    }

    .project-title, 
    .fa-project {
        font-size: 1.5rem;
    }

    .project-text {
        font-size: 1.25rem;
    }

    .format-genre {
        font-size: 1.15rem;
    }

    .section-share {
        margin-bottom: 10rem !important;
    }

    /*Audiovisual Project */
    .project-intro {
        margin: 2rem auto 1rem auto;
    }

    .image-detail {
        transform: scale(0.5);
        border-radius: 0;
        border: none;
    }

    div.card.img-top.project-img {
        --bs-card-border-color: transparent;
        margin: -9rem auto auto auto;
        z-index: -3;
    }

    .card.logline,
    .card.storyline,
    .card.synopsis {
        transform: scale(0.9);
    }

    .card.logline{
        margin-top: -7rem;
    }

    .card.synopsis {
        margin-top: -1.5rem;
    }

    .sharing {
        margin-bottom: 7rem;
    }

    /* Audiovisual Samples */
    section.section-contents {
        margin-top: -1rem;
        width: 80%;
        margin: auto;
    }

    .samples.download,
    .samples.download:hover {
        width: 300%;
    }

    .sample-title {
        font-size: 1.15rem;
    }

    .sample-text,
    .format-sample,
    .samples.download h5,
    .samples.download {
        font-size: 1rem;
    }     
}
