/* Small Devices Landscape min 576px max 767px*/
/* Nexus 7 */
@media (min-height: 600px) and (max-height: 600px) and (min-width: 960px) and (max-width: 960px) and (orientation: landscape) { 
    /* General */
    img.logo {
        width: 10rem;
        left: 3%;
        top: 3%;
    }

    .plus {
        left: 1.5rem;
    }

    .plus::after{
        top: 750%;
        width: 50rem;
        left: 4rem;
    }

    .position-absolute.top-50.end-0.translate-middle-y.me-4.d-flex.align-items-center {
        margin-top: 1.25rem;
    }

    /* Index */
    .text-top {
        margin-top: -1rem;
    }

    h4.hero {
        margin-top: 1rem;
    }

    .index-button {
        margin-top: 1rem;
    }

    /* Intro */
    .hero-intro {
        margin-top: 1rem !important;
        font-size: 3rem !important;
    }

    .h5-intro {
        margin-top: 1rem !important;
        font-size: 1.5rem !important;
    }

    .buttons-intro {
        margin-top: 1.25rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: -6rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 1rem;
    }

    h4.register-text {
        width: 50rem;
        margin: auto;
    }

    .register-btn {
        margin-top: -2rem;
    }
}

/* Large Screen */
@media (min-height: 688px) and (max-height: 688px) and (min-width: 1031px) and (max-width: 1031px) and (orientation: landscape) { 
    /* General */
    .plus::after{
        top: 850%;
        width: 57.5rem;
        left: 2rem;
    }

    /* Index */
    .text-top {
        margin-top: 2rem;
    }

    h4.hero {
        margin-top: 3rem;
    }

    .index-button {
        margin-top: 3rem;
    }

    /* Intro */
    .hero-intro {
        margin-top: 5rem !important;
        font-size: 3rem !important;
    }

    .h5-intro {
        margin-top: 1rem !important;
        font-size: 1.5rem !important;
    }

    .buttons-intro {
        margin-top: 1.25rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }


    /* Login */
    .login-form {
        margin-top: -5rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 3rem;
    }

    h4.register-text {
        width: 50rem;
        margin: auto;
    }
}
