    <!-- Modal Create Education Developer -->
    <div class="modal fade" id="createDeveloperEducationModal" aria-hidden="true" aria-labelledby="createDeveloperEducationModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createDeveloperEducationModal">Nueva Educación</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerEducationModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <label for="image" class="form-label">{{forms[27].value}}</label>
                                    <input type="text" class="form-control" id="image" placeholder="Imagen" formControlName="image" [ngClass]="{ 'is-invalid': submitted && f['image'].errors, 'is-valid': !f['image'].errors && f['image'].touched }">
                                    <div id="imageHelp" class="form-text">{{helpers[22].value}}</div>
                                    <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                                        <div *ngIf="f['image'].errors['required']">Es preciso ingresar una imagen</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="title" class="form-label">{{forms[7].value}}</label>
                                    <input type="text" class="form-control" id="title" placeholder="Título" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f['title'].errors, 'is-valid': !f['title'].errors && f['title'].touched }">
                                    <div id="titleHelp" class="form-text">{{helpers[7].value}}</div>
                                    <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                        <div *ngIf="f['title'].errors['required']">Es preciso ingresar un título</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="institution" class="form-label">{{forms[54].value}}</label>
                                    <input type="text" class="form-control" id="institution" placeholder="Institución" formControlName="institution" [ngClass]="{ 'is-invalid': submitted && f['institution'].errors, 'is-valid': !f['institution'].errors && f['institution'].touched }">
                                    <div id="institutionHelp" class="form-text">{{helpers[48].value}}</div>
                                    <div *ngIf="submitted && f['institution'].errors" class="invalid-feedback">
                                        <div *ngIf="f['institution'].errors['required']">Es preciso ingresar una Institución</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="start_date" class="form-label">{{forms[52].value}}</label>
                                    <input type="text" class="form-control" id="start_date" placeholder="Año de Inicio" formControlName="start_date" [ngClass]="{ 'is-invalid': submitted && f['start_date'].errors, 'is-valid': !f['start_date'].errors && f['start_date'].touched }">
                                    <div id="startingHelp" class="form-text">{{helpers[46].value}}</div>
                                    <div *ngIf="submitted && f['start_date'].errors" class="invalid-feedback">
                                        <div *ngIf="f['start_date'].errors['required']">Es preciso ingresar una fecha de inicio</div>
                                    </div>
                                </div>
                                <div class="col-6 pt-3">
                                    <label for="end_date" class="form-label">{{forms[53].value}}</label>
                                    <input type="text" class="form-control" id="end_date" placeholder="Año de Fin" formControlName="end_date" [ngClass]="{ 'is-invalid': submitted && f['end_date'].errors, 'is-valid': !f['end_date'].errors && f['end_date'].touched }">
                                    <div id="endingHelp" class="form-text">{{helpers[47].value}}</div>
                                    <div *ngIf="submitted && f['end_date'].errors" class="invalid-feedback">
                                        <div *ngIf="f['end_date'].errors['required']">Es preciso ingresar una fecha de finalización</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#developerEducationModal" data-bs-toggle="modal" aria-label="Guardar">{{buttons[11].value}}</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
