    <!-- Modal Edit Project -->
    <div class="modal fade" id="editAudiovisualProjectModal" aria-hidden="true" aria-labelledby="editAudiovisualProjectModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editAudiovisualProjectModal">Editar Proyecto</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualProjectsPageModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <form class="needs-validation">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <label for="validationCustom01" class="form-label">Título</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Título" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="validationCustom03" class="form-label">Imagen</label>
                                <input type="url" class="form-control" id="validationCustom03" placeholder="URL Imagen" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-4 pt-3">
                                <label for="validationCustom02" class="form-label">Formato</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Formato" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-4 pt-3">
                                <label for="validationCustom02" class="form-label">Duración</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Duración" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-4 pt-3">
                                <label for="validationCustom02" class="form-label">Estado</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Estado" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-4 pt-3">
                                <label for="validationCustom02" class="form-label">Género</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Género" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-4 pt-3">
                                <label for="validationCustom02" class="form-label">SubGénero</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="SubGénero" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-4 pt-3">
                                <label for="validationCustom02" class="form-label">Sub SubGénero</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Sub SubGénero" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                        </div>   
                        <div class="col-md-12 pt-3">
                            <label for="validationCustom05" class="form-label">Logline</label>
                            <textarea type="text" class="form-control" id="validationCustom05" placeholder="Logline" required></textarea>
                            <div class="valid-feedback">
                                Parece correcto!!!
                            </div>
                            <div class="invalid-feedback">
                                No puede quedar vacío!!!
                            </div>
                        </div>
                        <div id="loglineHelp" class="form-text text-end">Máx. 150 caracteres</div>
                        <div class="col-md-12 pt-3">
                            <label for="validationCustom05" class="form-label">Storyline</label>
                            <textarea type="text" class="form-control" id="validationCustom05" rows="5" placeholder="Storyline" required></textarea>
                            <div class="valid-feedback">
                                Parece correcto!!!
                            </div>
                            <div class="invalid-feedback">
                                No puede quedar vacío!!!
                            </div>
                        </div>
                        <div id="storylineHelp" class="form-text text-end">Máx. 500 caracteres</div>
                        <div class="col-md-12 pt-3">
                            <label for="validationCustom05" class="form-label">Synopsis</label>
                            <textarea type="text" class="form-control" id="validationCustom05" rows="7" placeholder="Synopsis" required></textarea>
                            <div class="valid-feedback">
                                Parece correcto!!!
                            </div>
                            <div class="invalid-feedback">
                                No puede quedar vacío!!!
                            </div>
                        </div>
                        <div id="synopsisHelp" class="form-text text-end">Máx. 2000 caracteres</div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-black-mini" data-bs-target="#audiovisualProjectsPageModal" data-bs-toggle="modal" aria-label="Back">Cancelar</button>
                        <button class="btn btn-black-mini">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
