<!-- Navbar -->
<nav class="navbar navbar-expand-lg d-flex justify-content-between container-fluid position-fixed bg-black">
    <app-white-logo></app-white-logo>
    <app-orange-session></app-orange-session>
</nav>

<!-- Plus -->
<app-code></app-code>

<!-- Social -->
<app-black-audiovisual></app-black-audiovisual>

<!-- Intro -->
<app-audiovisual-intro></app-audiovisual-intro>

<!-- Next -->
<app-audiovisual-next></app-audiovisual-next>

<div class="divisor"></div>
<app-audiovisual-one></app-audiovisual-one>
<div class="divisor"></div>
<app-audiovisual-profile></app-audiovisual-profile>
<div class="divisor"></div>
<app-audiovisual-two></app-audiovisual-two>
<div class="divisor"></div>
<app-audiovisual-documents></app-audiovisual-documents>
<div class="divisor"></div>
<app-audiovisual-three></app-audiovisual-three>
<div class="divisor"></div>
<app-audiovisual-projects></app-audiovisual-projects>
<div class="divisor"></div>
<app-audiovisual-four></app-audiovisual-four>
<div class="divisor"></div>
<app-audiovisual-feedback></app-audiovisual-feedback>
<div class="divisor"></div>
<app-audiovisual-five></app-audiovisual-five>
<div class="divisor"></div>
<app-audiovisual-quotes></app-audiovisual-quotes>
<div class="divisor"></div>
<app-audiovisual-closing></app-audiovisual-closing>

<section class="empty-footer"></section>

<footer class="bg-black">
    <div class="d-flex justify-content-between ms-4 me-4">
        <app-orange-index></app-orange-index>
        <app-orange-credits></app-orange-credits>
    </div>
</footer>

<!-- Modal Minibio -->
<app-minibio></app-minibio>    

<!-- Modal Work -->
<app-my-work></app-my-work>

<!-- Modal Want -->
<app-i-want></app-i-want>