    <!-- Modal Edit Divisor Blooper -->
    <div class="modal fade" id="editDivisorBlooperModal" aria-hidden="true" aria-labelledby="editDivisorBlooperModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editDivisorBlooperModal">Editar Divisor Blooper</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#bloopersModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <label for="lineOne" class="form-label">{{forms.lineOne}}</label>
                                    <input type="text" class="form-control" id="lineOne" placeholder="Línea Uno" formControlName="lineOne" [ngClass]="{ 'is-invalid': submitted && f['lineOne'].errors, 'is-valid': !f['lineOne'].errors && f['lineOne'].touched }">
                                    <div id="lineOne" class="form-text">{{helpers.lineOneHelp}}</div>
                                    <div *ngIf="submitted && f['lineOne'].errors" class="invalid-feedback">
                                        <div *ngIf="f['lineOne'].errors['required']">Es preciso ingresar la primera línea del divisor</div>
                                    </div>
                                </div>
                                <div class="col-12 my-3">
                                    <label for="lineTwo" class="form-label">{{forms.lineTwo}}</label>
                                    <input type="text" class="form-control" id="lineTwo" placeholder="Línea Dos" formControlName="lineTwo" [ngClass]="{ 'is-invalid': submitted && f['lineTwo'].errors, 'is-valid': !f['lineTwo'].errors && f['lineTwo'].touched }">
                                    <div id="lineTwoHelp" class="form-text">{{helpers.lineTwoHelp}}</div>
                                    <div *ngIf="submitted && f['lineTwo'].errors" class="invalid-feedback">
                                        <div *ngIf="f['lineTwo'].errors['required']">Es preciso ingresar la segunda línea del divisor</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#bloopersModal" data-bs-toggle="modal" aria-label="Volver">{{buttons.update}}</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
