    <!-- Modal Create Audiovisual Sample -->
    <div class="modal fade" id="createAudiovisualSampleModal" aria-hidden="true" aria-labelledby="createAudiovisualSampleModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createAudiovisualSampleModal">Nuevo Sample</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualSamplesPageModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <form class="needs-validation mt-2 px-3">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <label for="validationCustom01" class="form-label">Título</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Título">
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="validationCustom03" class="form-label">Imagen</label>
                                <input type="url" class="form-control" id="validationCustom03" placeholder="URL Imagen">
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Formato</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Formato">
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Género</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Género">
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                        </div>   
                        <div class="col-md-12 pt-3">
                            <label for="validationCustom05" class="form-label">Logline</label>
                            <textarea type="text" class="form-control" id="validationCustom05" placeholder="Logline"></textarea>
                            <div class="valid-feedback">
                                Parece correcto!!!
                            </div>
                            <div class="invalid-feedback">
                                No puede quedar vacío!!!
                            </div>
                        </div>
                        <div id="loglineHelp" class="form-text text-end">Máx. 150 caracteres</div>
                        <div class="row pt-2">
                            <div class="col-6">
                                <label for="validationCustom01" class="form-label">Document</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Document" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="validationCustom03" class="form-label">Draft</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Draft" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Año</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Año" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Archivo</label>
                                <input type="url" class="form-control" id="validationCustom02" placeholder="Archivo" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-6">
                                <label for="validationCustom01" class="form-label">Document</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Document" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="validationCustom03" class="form-label">Draft</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Draft" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Año</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Año" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Archivo</label>
                                <input type="url" class="form-control" id="validationCustom02" placeholder="Archivo" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-6">
                                <label for="validationCustom01" class="form-label">Document</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Document" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="validationCustom03" class="form-label">Draft</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Draft" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Año</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Año" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                            <div class="col-6 pt-3">
                                <label for="validationCustom02" class="form-label">Archivo</label>
                                <input type="url" class="form-control" id="validationCustom02" placeholder="Archivo" required>
                                <div class="valid-feedback">
                                    Parece correcto!!!
                                </div>
                                <div class="invalid-feedback">
                                    No puede quedar vacío!!!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-black-mini" data-bs-target="#audiovisualSamplesPageModal" data-bs-toggle="modal" aria-label="Back">Cancelar</button>
                        <button class="btn btn-black-mini">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

