<div class="pt-2">
    <h5 class="text-orange text-uppercase">Proyectos</h5>
    <strong>Lugar</strong>, <span>Puesto</span>
    <p>MES de yyyy - MES de yyyy</p>
    <span>Descripción Breve</span>
    <p>
        Tareas:
        <br>
        Comunicación Interna, Construcción de Documentación General no específica
        de Áreas para todos los Integrantes Proveeduría de Formación Grupal en
        General, Toma de Decisiones de Nivel Superior y Coordinación de todas las
        Áreas en su conjunto.
    </p>
</div>
