    <!-- Modal Heroes -->
    <div class="modal fade" id="heroesModal" tabindex="-1" aria-labelledby="heroesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="heroesModalLabel">Heroes</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center mb-3">Index</h5>
                    <h6 class="text-center mb-3">Hero</h6>
                    <p class="mt-3 mx-5 text-center">Lorem ipsum dolor</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editHeroesModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <hr class="w-75 m-auto">
                    <h5 class="text-center my-3">Intro</h5>
                    <h6 class="text-center mb-3">Hero</h6>
                    <p class="mt-3 mx-5 text-center">Lorem ipsum dolor</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editHeroesModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <hr class="w-75 m-auto">
                    <h5 class="text-center my-3">Error</h5>
                    <h6 class="text-center mb-3">Hero</h6>
                    <p class="mt-3 mx-5 text-center">Lorem ipsum dolor</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editHeroesModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <hr class="w-75 m-auto">
                    <h5 class="text-center my-3">Links</h5>
                    <h6 class="text-center mb-3">Hero</h6>
                    <p class="mt-3 mx-5 text-center">Lorem ipsum dolor</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editHeroesModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                    <hr class="w-75 m-auto">
                    <h5 class="text-center my-3">Plus</h5>
                    <h6 class="text-center mb-3">Hero</h6>
                    <p class="mt-3 mx-5 text-center">Lorem ipsum dolor</p>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <button class="btn btn-black-extra-mini mx-2" data-bs-target="#editHeroesModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-heroes-modal></app-edit-heroes-modal>