    <!-- Modal Edit Profile Audiovisual -->
    <div class="modal fade" id="editAudiovisualProfileModal" aria-hidden="true" aria-labelledby="editAudiovisualProfileModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editAudiovisualProfileModal">Editar Perfil</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualProfileModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label for="title" class="form-label">{{forms.title}}</label>
                                    <input type="text" class="form-control" id="title" placeholder="Título" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f['title'].errors, 'is-valid': !f['title'].errors && f['title'].touched }">
                                    <div id="titleHelp" class="form-text">{{helpers.titleHelp}}</div>
                                    <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                        <div *ngIf="f['title'].errors['required']">Es preciso ingresar un título</div>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="image" class="form-label">{{forms.image}}</label>
                                    <input type="text" class="form-control" id="image" placeholder="Imagen" formControlName="image" [ngClass]="{ 'is-invalid': submitted && f['image'].errors, 'is-valid': !f['image'].errors && f['image'].touched }">
                                    <div id="imageHelp" class="form-text">{{helpers.imageHelp}}</div>
                                    <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                                        <div *ngIf="f['image'].errors['required']">Es preciso ingresar una imagen</div>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="author" class="form-label">{{forms.author}}</label>
                                    <input type="text" class="form-control" id="author" placeholder="Autor" formControlName="author" [ngClass]="{ 'is-invalid': submitted && f['author'].errors, 'is-valid': !f['author'].errors && f['author'].touched }">
                                    <div id="authorHelp" class="form-text">{{helpers.authorHelp}}</div>
                                    <div *ngIf="submitted && f['author'].errors" class="invalid-feedback">
                                        <div *ngIf="f['author'].errors['required']">Es preciso ingresar un autor</div>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="credit" class="form-label">{{forms.credit}}</label>
                                    <input type="text" class="form-control" id="credit" placeholder="Crédito" formControlName="credit" [ngClass]="{ 'is-invalid': submitted && f['credit'].errors, 'is-valid': !f['credit'].errors && f['credit'].touched }">
                                    <div id="creditHelp" class="form-text">{{helpers.creditHelp}}</div>
                                    <div *ngIf="submitted && f['credit'].errors" class="invalid-feedback">
                                        <div *ngIf="f['credit'].errors['required']">Es preciso ingresar un crédito</div>
                                    </div>
                                </div>                     
                                <div class="col-12 mb-2">          
                                    <label for="phrase" class="form-label">{{forms.phrase}}</label>
                                    <textarea class="form-control" id="phrase" rows="2" formControlName="phrase" [ngClass]="{ 'is-invalid': submitted && f['phrase'].errors, 'is-valid': !f['phrase'].errors && f['phrase'].touched }"></textarea>
                                    <div class="d-flex justify-content-between">
                                        <div id="phraseHelp" class="form-text">{{helpers.phraseHelp}}</div>
                                        <div id="limitHelp" class="form-text">{{helpers.limit150}}</div>
                                    </div> 
                                    <div *ngIf="submitted && f['phrase'].errors" class="invalid-feedback">
                                        <div *ngIf="f['phrase'].errors['required']">Es preciso ingresar una frase</div>
                                    </div>
                                </div>                      
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#audiovisualProfileModal" data-bs-toggle="modal" aria-label="Volver">{{buttons.update}}</button>
                        </div>
                    </div>
                </form>  
            </div>
        </div>
    </div>
