    <!-- Modal Edit Profile Audiovisual -->
    <div class="modal fade" id="editAudiovisualProfileModal" aria-hidden="true" aria-labelledby="editAudiovisualProfileModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editAudiovisualProfileModal">Editar Perfil</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualProfileModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label for="title" class="form-label">{{forms[7].value}}</label>
                                    <input type="text" class="form-control" id="title" placeholder="Título" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f['title'].errors, 'is-valid': !f['title'].errors && f['title'].touched }">
                                    <div id="titleHelp" class="form-text">{{helpers[7].value}}</div>
                                    <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                        <div *ngIf="f['title'].errors['required']">Es preciso ingresar un título</div>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">          
                                    <label for="intro" class="form-label">{{forms[29].value}}</label>
                                    <textarea class="form-control" id="intro" rows="3" formControlName="intro" [ngClass]="{ 'is-invalid': submitted && f['intro'].errors, 'is-valid': !f['intro'].errors && f['intro'].touched }"></textarea>
                                    <div class="d-flex justify-content-between">
                                        <div id="introHelp" class="form-text">{{helpers[28].value}}</div>
                                        <div id="limitHelp" class="form-text">{{helpers[27].value}}</div>
                                    </div> 
                                    <div *ngIf="submitted && f['intro'].errors" class="invalid-feedback">
                                        <div *ngIf="f['intro'].errors['required']">Es preciso ingresar una intro</div>
                                    </div>
                                </div> 
                                <div class="col-12 mb-2">
                                    <label for="photo" class="form-label">{{forms[27].value}}</label>
                                    <input type="text" class="form-control" id="photo" placeholder="Imagen" formControlName="photo" [ngClass]="{ 'is-invalid': submitted && f['photo'].errors, 'is-valid': !f['photo'].errors && f['photo'].touched }">
                                    <div id="imageHelp" class="form-text">{{helpers[22].value}}</div>
                                    <div *ngIf="submitted && f['photo'].errors" class="invalid-feedback">
                                        <div *ngIf="f['photo'].errors['required']">Es preciso ingresar una imagen</div>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="author" class="form-label">{{forms[15].value}}</label>
                                    <input type="text" class="form-control" id="author" placeholder="Autor" formControlName="author" [ngClass]="{ 'is-invalid': submitted && f['author'].errors, 'is-valid': !f['author'].errors && f['author'].touched }">
                                    <div id="authorHelp" class="form-text">{{helpers[15].value}}</div>
                                    <div *ngIf="submitted && f['author'].errors" class="invalid-feedback">
                                        <div *ngIf="f['author'].errors['required']">Es preciso ingresar un autor</div>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="credit" class="form-label">{{forms[11].value}}</label>
                                    <input type="text" class="form-control" id="credit" placeholder="Crédito" formControlName="credit" [ngClass]="{ 'is-invalid': submitted && f['credit'].errors, 'is-valid': !f['credit'].errors && f['credit'].touched }">
                                    <div id="creditHelp" class="form-text">{{helpers[11].value}}</div>
                                    <div *ngIf="submitted && f['credit'].errors" class="invalid-feedback">
                                        <div *ngIf="f['credit'].errors['required']">Es preciso ingresar un crédito</div>
                                    </div>
                                </div>                     
                                <div class="col-12 mb-2">          
                                    <label for="one" class="form-label">{{forms[17].value}} {{forms[18].value}}</label>
                                    <textarea class="form-control" id="one" rows="2" formControlName="one" [ngClass]="{ 'is-invalid': submitted && f['one'].errors, 'is-valid': !f['one'].errors && f['one'].touched }"></textarea>
                                    <div class="d-flex justify-content-between">
                                        <div id="phraseHelp" class="form-text">{{helpers[23].value}}</div>
                                        <div id="limitHelp" class="form-text">{{helpers[24].value}}</div>
                                    </div> 
                                    <div *ngIf="submitted && f['one'].errors" class="invalid-feedback">
                                        <div *ngIf="f['one'].errors['required']">Es preciso ingresar una línea de frase</div>
                                    </div>
                                </div> 
                                <div class="col-12 mb-2">          
                                    <label for="two" class="form-label">{{forms[17].value}} {{forms[19].value}}</label>
                                    <textarea class="form-control" id="two" rows="2" formControlName="two" [ngClass]="{ 'is-invalid': submitted && f['two'].errors, 'is-valid': !f['two'].errors && f['two'].touched }"></textarea>
                                    <div class="d-flex justify-content-between">
                                        <div id="phraseHelp" class="form-text">{{helpers[23].value}}</div>
                                        <div id="limitHelp" class="form-text">{{helpers[24].value}}</div>
                                    </div> 
                                    <div *ngIf="submitted && f['two'].errors" class="invalid-feedback">
                                        <div *ngIf="f['two'].errors['required']">Es preciso ingresar una línea de frase</div>
                                    </div>
                                </div>                     
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#audiovisualProfileModal" data-bs-toggle="modal" aria-label="Actualizar">{{buttons[13].value}}</button>
                        </div>
                    </div>
                </form>  
            </div>
        </div>
    </div>
