<!-- Navbar -->
<nav class="navbar navbar-expand-lg d-flex justify-content-between container-fluid position-fixed bg-black">
    <app-white-brand></app-white-brand>
    <app-white-orange-session></app-white-orange-session>
</nav>

<!-- Plus -->
<app-code></app-code>

<!-- Social -->
<app-black-audiovisual></app-black-audiovisual>

<app-projects-intro></app-projects-intro>

<app-projects-series></app-projects-series>
<app-projects-longshots></app-projects-longshots>
<app-projects-others></app-projects-others>

<app-projects-to-intro></app-projects-to-intro>

<section class="empty-footer"></section>

<footer class="bg-black">
    <div class="d-flex justify-content-between ms-4 me-4">
        <app-orange-index></app-orange-index>
        <app-orange-credits></app-orange-credits>
    </div>
</footer>
