<!-- General CRUD -->
<app-create-general-social-modal></app-create-general-social-modal>
<app-edit-general-social-modal></app-edit-general-social-modal>
<app-delete-general-social-modal></app-delete-general-social-modal>
<!-- Audivisual CRUD -->
<app-create-audiovisual-social-modal></app-create-audiovisual-social-modal>
<app-edit-audiovisual-social-modal></app-edit-audiovisual-social-modal>
<app-delete-audiovisual-social-modal></app-delete-audiovisual-social-modal>
<!-- Developer CRUD -->
<app-create-developer-social-modal></app-create-developer-social-modal>
<app-edit-developer-social-modal></app-edit-developer-social-modal>
<app-delete-developer-social-modal></app-delete-developer-social-modal>
