<div class="container col-8 m-auto mt-5 pt-5 mb-5 pb-5">
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{icon_bloopers[0].blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{icon_bloopers[0].mistake}}</div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <i [class]="icon_bloopers[0].icon" class="fa-5x text-white"></i>
            </div>
        </div>
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{line_bloopers[2].line_one}} 
        <br>
        {{line_bloopers[2].line_two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <i [class]="icon_bloopers[1].icon" class="fa-5x text-white"></i>
            </div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{icon_bloopers[1].blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{icon_bloopers[1].mistake}}</div>
        </div>                  
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{line_bloopers[3].line_one}} 
        <br>
        {{line_bloopers[3].line_two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{icon_bloopers[2].blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{icon_bloopers[2].mistake}}</div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <i [class]="icon_bloopers[2].icon" class="fa-5x text-white"></i>
            </div>
        </div>
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{line_bloopers[4].line_one}} 
        <br>
        {{line_bloopers[4].line_two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <i [class]="icon_bloopers[3].icon" class="fa-5x text-white"></i>
            </div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{icon_bloopers[3].blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{icon_bloopers[3].mistake}}</div>
        </div>
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{line_bloopers[5].line_one}} 
        <br>
        {{line_bloopers[5].line_two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{icon_bloopers[4].blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{icon_bloopers[4].mistake}}</div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <i [class]="icon_bloopers[4].icon" class="fa-5x text-white"></i>
            </div>
        </div>
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{line_bloopers[6].line_one}} 
        <br>
        {{line_bloopers[6].line_two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <i [class]="icon_bloopers[5].icon" class="fa-5x text-white"></i>
            </div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{icon_bloopers[5].blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{icon_bloopers[5].mistake}}</div>
        </div>
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{line_bloopers[7].line_one}} 
        <br>
        {{line_bloopers[7].line_two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{icon_bloopers[6].blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{icon_bloopers[6].mistake}}</div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <i [class]="icon_bloopers[6].icon" class="fa-5x text-white"></i>
            </div>
        </div>
    </div>
</div>
