<div class="container col-8 m-auto mt-5 pt-5 mb-5 pb-5">
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{blooperOne.blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{blooperOne.mistake}}</div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <i [class]="blooperOne.icon" class="fa-5x text-white"></i>
            </div>
        </div>
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{lineBe.one}} 
        <br>
        {{lineBe.two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <i [class]="blooperTwo.icon" class="fa-5x text-white"></i>
            </div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{blooperTwo.blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{blooperTwo.mistake}}</div>
        </div>                  
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{lineBreak.one}} 
        <br>
        {{lineBreak.two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{blooperThree.blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{blooperThree.mistake}}</div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <i [class]="blooperThree.icon" class="fa-5x text-white"></i>
            </div>
        </div>
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{lineTime.one}}
        <br>
        {{lineTime.two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <i [class]="blooperFour.icon" class="fa-5x text-white"></i>
            </div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{blooperFour.blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{blooperFour.mistake}}</div>
        </div>
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{lineWin.one}}
        <br>
        {{lineWin.two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{blooperFive.blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{blooperFive.mistake}}</div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <i [class]="blooperFive.icon" class="fa-5x text-white"></i>
            </div>
        </div>
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{lineMemory.one}} 
        <br>
        {{lineMemory.two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <i [class]="blooperSix.icon" class="fa-5x text-white"></i>
            </div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{blooperSix.blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{blooperSix.mistake}}</div>
        </div>
    </div>
    <div class='feedback text-700 mt-5 pt-5'>
        {{lineSpaces.one}} 
        <br>
        {{lineSpaces.two}}
    </div>
    <div class="silence"></div>
    <div class="row mt-5 pt-5">
        <div class="col-6">
            <div class='quote'>
                <blockquote class='text-700'>{{blooperSeven.blooper}}</blockquote>
            </div>
            <div class='name text-uppercase text-700'>{{blooperSeven.mistake}}</div>
        </div>
        <div class="col-6">
            <div class='quote'>
                <i [class]="blooperSeven.icon" class="fa-5x text-white"></i>
            </div>
        </div>
    </div>
</div>
