    <!-- Modal EducationCV -->
    <div class="modal fade" id="educationCVModal" tabindex="-1" aria-labelledby="educationCVModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="educationCVModalLabel">{{sectionsCV.education}} CV</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Volver"></i>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div *ngFor="let education of educationCV" class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center mt-2">
                                        <p>{{education.starting}} - {{education.ending}}</p>      
                                        <h5>{{education.title}}</h5>
                                        <h6>{{education.institution}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center my-3">
                                <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editEducationCVModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                <button class="btn btn-black-extra-mini mx-1" data-bs-target="#deleteEducationCVModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                            </div>        
                        </div>
                    </div>
                </div>
                <hr class="w-75 my-2 m-auto">
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-black-extra-mini" data-bs-target="#createEducationCVModal" data-bs-toggle="modal" aria-label="Create"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Cancelar">{{buttons.cancel}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-create-education-cv-modal></app-create-education-cv-modal>
    <app-edit-education-cv-modal></app-edit-education-cv-modal>
    <app-delete-education-cv-modal></app-delete-education-cv-modal>
