    <!-- Modal NameCV -->
    <div class="modal fade" id="nameCVModal" aria-hidden="true" aria-labelledby="nameCVModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="nameCVModal">{{sectionsCV.name}} CV</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <div class="modal-body">
                    <div class="col-12">
                        <div class="text-center">
                            <h3 class="mt-3">{{profileCV.fullname}}</h3>
                            <div class="d-flex justify-content-center my-3">
                                <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editNameCVModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Back">{{buttons.cancel}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-name-cv-modal></app-edit-name-cv-modal>
    