<section class="data section-top d-flex justify-content-center pb-5">
    <div class="container">
        <h3 *ngFor="let title of data" class="d-flex justify-content-center"><span class="text-orange text-center mb-3">{{title.title}}</span></h3>
        <h5 *ngFor="let line of data" class="text-center pb-5">
            {{line.one}}
            <br><br>    
            {{line.two}}
            <br><br>
            {{line.three}}
            <br><br>
            {{line.four}}
        </h5>
    </div>
</section>
