    <!-- Modal Delete Social -->
    <div class="modal fade" id="deleteGeneralSocialModal" aria-hidden="true" aria-labelledby="deleteGeneralSocialModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteGeneralSocialModal">Eliminar Red</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#socialModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <div class="modal-body">
                    <i class="fa-solid fa-circle-exclamation justify-content-center d-flex fa-2x pt-3"></i>
                    <br>
                    <p class="justify-content-center d-flex">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#socialModal" data-bs-toggle="modal" aria-label="Back">Cancelar</button>
                    <button class="btn btn-black-mini">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
