<section class="overview d-flex justify-content-center w-75 m-auto text-center">
    <h5>
        Ahora bien, llegar a poder presentar qué es lo que se hace requiere de muchos factores...
        <br><br>
        La primera vez pueden pasar muchas cosas que no siempre son buenas... 
        <br><br>    
        Ya cuando se logra dar con las personas un poco más correctas es más sencillo... 
        <br><br>
        Eso no quiere decir que se pueda mostrar cualquier cosa... Al contrario...
        <br><br>
        A medida que subimos la escalera las exigencias que nos autoimponemos son mayores porque ya no nos debemos solo a nosotros sino a quienes nos respaldan...
    </h5>
</section>
