<div class="mb-3">
    <div class="row g-4 my-2">
        <h4 class="text-center">y Blandas</h4>
        <div class="col-4 mt-3">
            <div class="text-center mt-2">
                <h4><span class="badge text-bg-dark px-3 py-2">Liderazgo</span></h4>
                90%
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="text-center mt-2">
                <h4><span class="badge text-bg-dark px-3 py-2">Innovación</span></h4>
                95%
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="text-center mt-2">
                <h4><span class="badge text-bg-dark">Colaboratividad</span></h4>
                75%
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="text-center mt-2">
                <h4><span class="badge text-bg-dark px-3 py-2">Toma de Decisiones</span></h4>
                80%
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="text-center mt-2">
                <h4><span class="badge text-bg-dark px-3 py-2">Análisis Cuantitativo</span></h4>
                85%
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="text-center mt-2">
                <h4><span class="badge text-bg-dark px-3 py-2">Creatividad</span></h4>
                95%
            </div>
        </div>
    </div>  
</div>
