    <!-- Modal SocialCV -->
    <div class="modal fade" id="socialCVModal" aria-hidden="true" aria-labelledby="socialCVModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="socialCVModal">{{sectionsCV.social}}</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Back"></i>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-4">
                            <div *ngFor="let social of socialCV" class="col-4">
                                <div class="text-center my-4">
                                    <h6><i [class]="social.icon" class="fa-2x pt-s"></i> {{social.user}}</h6>
                                    <div class="d-flex justify-content-center my-3">
                                        <button class="btn btn-black-extra-mini mx-1" data-bs-target="#editSocialOneCVModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                    </div>    
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-target="#developerCVModal" data-bs-toggle="modal" aria-label="Back">{{buttons.cancel}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-social-one-cv-modal></app-edit-social-one-cv-modal>
    <app-edit-social-two-cv-modal></app-edit-social-two-cv-modal>
    <app-edit-social-three-cv-modal></app-edit-social-three-cv-modal>
    