    <!-- Modal Divisors -->
    <div class="modal fade" id="audiovisualDivisorsModal" tabindex="-1" aria-labelledby="audiovisualDivisorsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="audiovisualDivisorsModalLabel">Divisores</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <h4 class="d-flex justify-content-center mt-4"><span class="text-orange text-center ms-3">Divisor Uno</span></h4>                                    
                                    <p class="w-75 text-center m-auto mt-3 mb-3">
                                        Y si, esta es la historia de mi vida aunque... 
                                        <br><br>
                                        ¿Por qué contarla de esta forma y no como tradicionalmente se cuenta por medio de una "hoja de vida" o "CV"?
                                        <br><br>    
                                        Un secreto... En la Industria Audiovisual no usamos nada de eso... En general... 
                                        <br><br>
                                        Es cierto que puede haber listados de créditos que se parecen a una "hoja de vida" pero, no es lo mismo... 
                                        <br><br>
                                        Entonces, como lo anterior no existe, te invito a recorrer, en los apartados que siguen, un partecita de mi vida dentro de la Industria Audiovisual...
                                    </p>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualDivisorOneModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                                <hr class="w-75 m-auto mt-3 pb-3">
                                <div class="card">
                                    <h4 class="d-flex justify-content-center mt-4"><span class="text-orange text-center ms-3">Divisor Dos</span></h4>                                    
                                    <p class="w-75 text-center m-auto mt-3 mb-3">
                                        Es verdaderamente difícil contar acerca de uno mismo...  
                                        <br><br>
                                        Dicen que todos vestimos una máscara y que la cambiamos de acuerdo a frente a quién, o qué, estamos...
                                        <br><br>    
                                        Bueno, quienes somos parte de la Industria Audiovisual nos "escondemos" detrás de ellas...
                                        <br><br>
                                        Para esclarecer esto... Estar de este lado, detrás de nuestro Arte, es más "seguro" para nuestros sentimientos, que estar descubiertos...
                                        <br><br>
                                        Te habrás dado cuenta que no sabés cómo me llamo... ¿O sí?... 
                                    </p>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualDivisorTwoModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                                <hr class="w-75 m-auto mt-3 pb-3">
                                <div class="card">
                                    <h4 class="d-flex justify-content-center mt-4"><span class="text-orange text-center ms-3">Divisor Tres</span></h4>                                    
                                    <p class="w-75 text-center m-auto mt-3 mb-3">
                                        Otra cosa que, al principio más que nada, es muy dificil, es el mostrar qué hacemos...
                                        <br><br>
                                        Sucede que en cada parte de Arte que se deja plasmada hay un poco de uno mismo... 
                                        <br><br>    
                                        Indistintamente del género que se elija trabajar, todos, en la Industria Audiovisual, ponemos mucho de nosotros...
                                        <br><br>
                                        Y... ¿cómo le explicamos a otro qué sentimos cuando hacemos lo que nos dictan las Musas?
                                        <br><br>
                                        Todo muy lindo... Cuando ya pasamos por los primeros filtros es un poco más fácil... 
                                    </p>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualDivisorThreeModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                                <hr class="w-75 m-auto mt-3 pb-3">
                                <div class="card">
                                    <h4 class="d-flex justify-content-center mt-4"><span class="text-orange text-center ms-3">Divisor Cuatro</span></h4>                                    
                                    <p class="w-75 text-center m-auto mb-2">
                                        Ahora bien, llegar a poder presentar qué es lo que se hace requiere de muchos factores...
                                        <br><br>
                                        La primera vez pueden pasar muchas cosas que no siempre son buenas... 
                                        <br><br>    
                                        Ya cuando se logra dar con las personas un poco más correctas es más sencillo... 
                                        <br><br>
                                        Eso no quiere decir que se pueda mostrar cualquier cosa... Al contrario...
                                        <br><br>
                                        A medida que subimos la escalera las exigencias que nos autoimponemos son mayores porque ya no nos debemos solo a nosotros sino a quienes nos respaldan...                            
                                    </p>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualDivisorFourModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                                <hr class="w-75 m-auto mt-3 pb-3">
                                <div class="card">
                                    <h4 class="d-flex justify-content-center mt-4"><span class="text-orange text-center ms-3">Divisor Cinco</span></h4>                                    
                                    <p class="w-75 text-center m-auto mt3 mb-3">
                                        No estaría completa mi historia si no te diera algo que puedas llevarte... 
                                        <br><br>
                                        ¿Por qué? Bueno, porque la forma de comunicarnos que tenemos en esta Industria es así... 
                                        <br><br>
                                        Llegaste hasta acá, me diste tu tiempo, y por ello te agradezco abriéndote las puertas, solo un poquito, a mi mundo... 
                                        <br><br>
                                        Por este Arte que me eligió -o elegí- leo y escribo, vuelvo a leer y vuelvo a escribir, mucho... 
                                        <br><br>
                                        Viajar entre mundos y personajes que, a veces, se vuelven casi personas deja lugar no solo a emociones sino a conocimientos de infinitas dimensiones...                                        
                                    </p>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-black-extra-mini" data-bs-target="#editAudiovisualDivisorFiveModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-edit-audiovisual-divisor-one-modal></app-edit-audiovisual-divisor-one-modal>
    <app-edit-audiovisual-divisor-two-modal></app-edit-audiovisual-divisor-two-modal>
    <app-edit-audiovisual-divisor-three-modal></app-edit-audiovisual-divisor-three-modal>
    <app-edit-audiovisual-divisor-four-modal></app-edit-audiovisual-divisor-four-modal>
    <app-edit-audiovisual-divisor-five-modal></app-edit-audiovisual-divisor-five-modal>
