    <!-- Modal Edit Data ReferencesCV -->
    <div class="modal fade" id="editDataReferencesCVModal" aria-hidden="true" aria-labelledby="editDataReferencesCVModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editDataReferencesCVModal">Editar Referencias CV</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#referencesCVModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-6 mb-2">
                                    <label for="icon" class="form-label">{{forms.icon}}</label>
                                    <input type="text" class="form-control" id="icon" placeholder="Ícono" formControlName="icon" [ngClass]="{ 'is-invalid': submitted && f['icon'].errors, 'is-valid': !f['icon'].errors && f['icon'].touched }">
                                    <div id="iconHelp" class="form-text">{{helpers.iconHelp}}</div>
                                    <div *ngIf="submitted && f['icon'].errors" class="invalid-feedback">
                                        <div *ngIf="f['icon'].errors['required']">Es preciso ingresar un ícono</div>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="info" class="form-label">{{forms.info}}</label>
                                    <input type="text" class="form-control" id="info" placeholder="Información" formControlName="info" [ngClass]="{ 'is-invalid': submitted && f['info'].errors, 'is-valid': !f['info'].errors && f['info'].touched }">
                                    <div id="infoHelp" class="form-text">{{helpers.infoHelp}}</div>
                                    <div *ngIf="submitted && f['info'].errors" class="invalid-feedback">
                                        <div *ngIf="f['info'].errors['required']">Es preciso ingresar la información</div>
                                    </div>
                                </div>                          
                            </div>    
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#referencesCVModal" data-bs-toggle="modal" aria-label="Actualizar">{{buttons.update}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>