<section class="background intro">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg d-flex justify-content-between container-fluid">
        <app-white-logo></app-white-logo>
        <app-white-session></app-white-session>
    </nav>
    
    <!-- Plus -->
    <div class="position-absolute top-50 start-0 translate-middle-y ms-4 d-flex align-items-center">
        <a class="plus" data-tooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
            <app-white-plus></app-white-plus>
        </a>   
    </div>

    <!-- Enlace -->
    <div class="text-center pt-5 text-white">
        <div class="col-12 mt-5 pt-5 mb-4">
            <h1 class="hero pt-5">Llegaste</h1>
        </div>
        <div class="col-6 m-auto mb-5">
            <h5 class="hero">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla cum illum maxime et error doloribus excepturi quae minima ipsum similique ratione voluptatibus magnam deleniti, odio voluptatum quaerat magni quis laborum?</h5>
        </div>
        <a href="/audiovisual/intro.html">
            <button type="button" class="btn btn-outline-white btn-lg me-3">Audiovisual</button>
        </a>   
        <a href="/developer/intro.html">
            <button type="button" class="btn btn-outline-white btn-lg ms-3">Developer</button>
        </a>      
    </div>

    <!-- Redes -->
    <app-white-general></app-white-general>
    
    <!-- Footer -->
    <footer class="footer d-flex justify-content-between container-fluid">
        <app-white-back></app-white-back>
        <app-white-fast-forward></app-white-fast-forward>
    </footer>
</section>