<section class="background" [ngStyle]="{'background-image': 'url(' + banners[1].image + ')'}">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg d-flex justify-content-between container-fluid">
        <app-white-logo></app-white-logo>
        <app-white-session></app-white-session>
    </nav>
    
    <!-- Plus -->
    <div class="position-absolute top-50 start-0 translate-middle-y ms-4 d-flex align-items-center">
        <a class="plus" [attr.data-tooltip]="banners[1].description">
            <app-white-plus></app-white-plus>
        </a>   
    </div>
    <!-- Enlace -->
    <div class="text-center pt-5 text-white">
        <div class="col-12 mt-5 pt-5 mb-4">
            <h1 class="hero pt-5">{{banners[1].hero}}</h1>
        </div>
        
        <div class="col-6 m-auto mb-5">
            <h4 class="hero">{{banners[1].subhero}}</h4>
        </div>
        
        <a routerLink="/audiovisual/intro">
            <button type="button" class="btn btn-outline-white btn-lg me-3">{{buttons[5].value}}</button>
        </a>   
        
        <a routerLink="/developer/intro">
            <button type="button" class="btn btn-outline-white btn-lg ms-3">{{buttons[6].value}}</button>
        </a>      
    </div>

    <!-- Redes -->
    <app-white-general></app-white-general>
    
    <!-- Footer -->
    <footer class="footer d-flex justify-content-between container-fluid">
        <app-white-back></app-white-back>
        <app-white-fast-forward></app-white-fast-forward>
    </footer>
</section>