<section class="quotes d-flex justify-content-center w-75 m-auto text-center">
    <div class="container">
        <h3 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> Quotes</span></h3>                                    
        <h6>
            Entonces... para cerrar esta brevísima introducción a la historia de mi vida...    
            <br><br>
            Te dejo algunas frases de la Industria Audiovisual que me gustan...
            <br><br>    
            Espero que te gusten también y que hayas podido conocerme...
        </h6>
    </div>        
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <div class="card">
                    <h4 class="d-flex justify-content-center mt-4"><i class="fa-solid fa-feather-pointed fa-2x"></i></h4>                                                                     
                    <div class="text-center mb-4">
                        <span class="text-center">"Si tienes un sueño, debes conservarlo.<br>Si quieres algo sal a buscarlo, y punto."<br><i>Chris Gardner</i><br>En busca de la Felicidad</span>    
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card">
                    <h4 class="d-flex justify-content-center mt-4"><i class="fa-solid fa-feather-pointed fa-2x"></i></h4>                                                                     
                    <div class="text-center mb-4">
                        <span class="text-center">"Si tienes un sueño, debes conservarlo.<br>Si quieres algo sal a buscarlo, y punto."<br><i>Chris Gardner</i><br>En busca de la Felicidad</span>    
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card">
                    <h4 class="d-flex justify-content-center mt-4"><i class="fa-solid fa-feather-pointed fa-2x"></i></h4>                                                                     
                    <div class="text-center mb-4">
                        <span class="text-center">"Si tienes un sueño, debes conservarlo.<br>Si quieres algo sal a buscarlo, y punto."<br><i>Chris Gardner</i><br>En busca de la Felicidad</span>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
