    <!-- Modal Edit PhotoCV -->
    <div class="modal fade" id="editPhotoCVModal" aria-hidden="true" aria-labelledby="editPhotoCVModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editPhotoCVModal">Editar Foto CV</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#photoCVModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label for="image" class="form-label">{{forms.image}}</label>
                                    <input type="text" class="form-control" id="image" placeholder="Imagen" formControlName="image" [ngClass]="{ 'is-invalid': submitted && f['image'].errors, 'is-valid': !f['image'].errors && f['image'].touched }">
                                    <div id="imageHelp" class="form-text">{{helpers.imageHelp}}</div>
                                    <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                                        <div *ngIf="f['image'].errors['required']">Es preciso ingresar una imagen</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#photoCVModal" data-bs-toggle="modal" aria-label="Actualizar">{{buttons.update}}</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
