/* Large Devices Portrait min 992px*/
/* All */
@media (min-width: 992px) and (orientation: portrait) { 
    .compare,
    .video {
        left: 1.5rem;
    }

    .section-title {
        font-size: 2.25rem;
    }

    .section-text,
    .feedback-name {
        font-size: 1.5rem;
    }

    .photo-intro {
        width: 13.5rem !important;
    }

    .projects-intro,
    .project-intro {
        width: 45rem;
        margin: auto;
    }

    .format-genre {
        font-size: 1.25rem;
    }

    .section-title {
        font-size: 2rem;
        width: 12rem;
        margin: auto;
    }

    /* Audiovisual Data */
    .data-intro {
        width: 45rem;
        margin: auto;
    }

    .btn.btn-black-medium {
        width: 100%;
        height: auto;
    }    
}

/* iPad Pro (12.9-inch) */
@media (min-height: 1366px) and (max-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) { 
    /* General */
    .plus {
        left: 1.5rem;
    }

    .plus::after{
        top: 1600%;
        width: 47.5rem;
        left: 7rem;
    }

    /* Index */
    .text-top {
        margin-top: 20rem;
    }

    h4.hero {
        margin-top: 4rem;
    }

    .index-button {
        margin-top: 4rem;
    }

    .accesibility-title {
        margin-top: 3.5rem !important;
        font-size: 2.5rem;
    }

    h5.accessibility.mb-4 {
        font-size: 1.5rem;
        margin-left: 2rem !important;
        margin-right: -2.5rem !important;
        margin-top: 2.5rem;
    }

    .accessibility-btn {
        margin-top: 3.5rem !important;
    }
 
    /* Intro */
    .hero-intro {
        margin-top: 15rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 5rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 12rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 20rem;
    }

    h4.register-text {
        margin: auto;
        width: 40rem;
    }

    /* Plus */
    h1.plus-title {
        font-size: 4.5rem;
        width: 35rem;
        margin: auto;
        margin-top: 15rem;
    }

    h4.plus-text {
        margin: auto;
        width: 30rem;
        font-size: 2.5rem;
    }

    /* Error */
    .error-title {
        margin-top: 2rem;
        font-size: 4.5rem !important;
    }

    .error-subtitle {
        margin-top: 2rem !important;
        font-size: 2.5rem !important;
    }

    .error-button {
        margin-top: 32.5rem !important;
    }

    .info-box::after{
        top: 2000% !important;
    }

    /* Links */
    .links-title {
        font-size: 3rem;
        margin-top: 20rem;
    }

    .links-text {
        margin: auto 7rem !important;
    }

    .links-buttons {
        transform: scale(1.2);
    }

    .links-paragraph {
        margin-top: 1.5rem !important;
        font-size: 1.25rem;
    }

    .info-links::after {
        top: 1600% !important;
    }

    /* Audiovisual Intro */
    .cover-title {
        font-size: 3rem;
        margin-top: 15rem;
    }

    .based {
        margin-top: 3rem;
        font-size: 1.75rem;
    }

    .to-visitors {
        margin-top: 10.5rem !important;
        margin-bottom: 9rem;
        font-size: 1.75rem;
    }

    .top-80 {
        margin-top: 100%;
        z-index: 9;
    }

    h5.divisor-text {
        font-size: 1.5rem;
        margin: auto 3rem; 
    }

    .presentation-modal {
        top: 5rem;
        font-size: 1.25rem;
    }

    .btn.btn-outline-black-mini,
    .btn.btn-outline-black-mini:hover {
        color: #000;
        border: 0.05rem solid #000;
        padding: 0.35rem 1rem;
        border-radius: 0.25rem;
        width: 7rem !important;
    }

    .feedback-card {
        font-size: 1.5rem;
    }

    h5.signature {
        margin: 8rem auto 20rem auto;
        font-size: 1.75rem;
    }

    .fa-signature {
        font-size: 9rem; 
        color: #000;
        margin: 12rem auto;
    }

    /* Audiovisual Project */
    .w-85 {
        transform: scale(0.9);
    }

    .card.img-top {
        border: none;
        transform: scale(0.65);
        margin-top: -12rem;
        z-index: -2;
    }

    .card-img-top {
        border-radius: 0px;
    }

    .card.logline {
        margin-top: -4rem;
    }

    .section-copyright {
        margin-top: -4rem;
    }
}

/* Laptop 3 */
@media (min-height: 1280px) and (max-height: 1280px) and (min-width: 950px) and (max-width: 950px) and (orientation: portrait) { 
    /* General */
    .plus::after{
        top: 1750%;
        width: 45rem;
        left: 6rem;
    }

    /* Index */
    .text-top {
        margin-top: 20rem;
    }

    h4.hero {
        margin-top: 4rem;
    }

    .index-button {
        margin-top: 4rem;
    }

    .accesibility-title {
        margin-top: 4rem !important;
        font-size: 2.5rem;
    }

    h5.accessibility.mb-4 {
        font-size: 1.5rem;
        margin-left: 1rem !important;
        margin-right: -2rem !important;
        margin-top: 2rem;
    }

    .accessibility-btn {
        margin-top: 3rem !important;
    }

    /* Intro */
    .hero-intro {
        margin-top: 15rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 5rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 12rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 20rem;
    }

    h4.register-text {
        margin: auto;
        width: 40rem;
    }

    /* Plus */
    h1.plus-title {
        font-size: 4rem;
        width: 30rem;
        margin: auto;
        margin-top: 15rem;
    }

    h4.plus-text {
        margin: auto;
        width: 25rem;
        font-size: 2.5rem;
    }

    /* Error */
    .error-title {
        margin-top: 2rem;
        font-size: 4.5rem !important;
    }

    .error-subtitle {
        margin-top: 2rem !important;
        font-size: 2.5rem !important;
    }

    .error-button {
        margin-top: 27.5rem !important;
    }

    .info-box::after{
        top: 2000% !important;
    }

    /* Links */
    .links-title {
        font-size: 3rem;
        margin-top: 10rem;
    }

    .links-text {
        margin: auto 7rem !important;
    }

    .links-buttons {
        transform: scale(1.2);
    }

    .links-paragraph {
        margin-top: 1.5rem !important;
        font-size: 1.25rem;
    }

    .info-links::after {
        top: 2000% !important;
    }

    /* Audiovisual Intro */
    .cover-title {
        font-size: 3rem;
        margin-top: 15rem;
    }

    .based {
        margin-top: 3rem;
        font-size: 1.75rem;
    }

    .to-visitors {
        margin-top: 10.5rem !important;
        margin-bottom: 9rem;
        font-size: 1.75rem;
    }

    .top-80 {
        margin-top: 100%;
        z-index: 9;
    }

    h5.divisor-text {
        font-size: 1.5rem;
        margin: auto 3rem; 
    }

    .presentation-modal {
        transform: scale(1.35);
        top: 25rem;
        font-size: 1.1rem;
    }

    .btn.btn-outline-black-mini,
    .btn.btn-outline-black-mini:hover {
        color: #000;
        border: 0.05rem solid #000;
        padding: 0.35rem 1rem;
        border-radius: 0.25rem;
        width: 7rem !important;
    }

    .feedback-div {
        transform: scale(0.75);
        margin: -2.75rem auto;
    }    

    .feedback-card {
        font-size: 2rem;
    }

    h5.signature {
        margin: 15rem auto 16rem auto;
        font-size: 1.75rem;
    }

    .fa-signature {
        font-size: 7rem; 
        color: #000;
        margin: 12rem auto;
    }

    /* Audiovisual Project */
    .card.img-top {
        border: none;
        transform: scale(2) !important;
        margin-top: -1.5rem !important;
        padding-bottom: 2rem !important;
        z-index: -2;
    }

    .card.storyline {
        margin-top: 0rem !important;
    }

    .card.logline,
    .card.storyline,
    .card.synopsis {
        transform: scale(1.15);
        margin: 2rem auto;
    }
}

/* Laptop 1 */
@media (min-height: 1440px) and (max-height: 1440px) and (min-width: 900px) and (max-width: 900px) and (orientation: portrait) { 
    /* General */
    .plus::after{
        top: 2000%;
        width: 45rem;
        left: 5rem;
    }

    /* Index */
    .text-top {
        margin-top: 25rem;
    }

    h4.hero {
        margin-top: 4rem;
    }

    .index-button {
        margin-top: 4rem;
    }

    .accesibility-title {
        margin-top: 4rem !important;
        font-size: 2.5rem;
    }

    h5.accessibility.mb-4 {
        font-size: 1.5rem;
        margin-left: 1.5rem !important;
        margin-right: -2rem !important;
        margin-top: 2.5rem;
    }

    .accessibility-btn {
        margin-top: 3rem !important;
    }

    /* Intro */
    .hero-intro {
        margin-top: 24rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 5rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 16rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 20rem;
    }

    h4.register-text {
        margin: auto;
        width: 40rem;
    }

    /* Plus */
    h1.plus-title {
        font-size: 4rem;
        width: 30rem;
        margin: auto;
        margin-top: 20rem;
    }

    h4.plus-text {
        margin: auto;
        width: 25rem;
        font-size: 2.5rem;
    }

    /* Error */
    .error-title {
        margin-top: 2rem;
        font-size: 4.5rem !important;
    }

    .error-subtitle {
        margin-top: 2rem !important;
        font-size: 2.5rem !important;
    }

    .error-button {
        margin-top: 35rem !important;
    }

    .info-box::after{
        top: 2000% !important;
    }

    /* Links */
    .links-title {
        font-size: 3rem;
        margin-top: 10rem;
    }

    .links-text {
        margin: auto 7rem !important;
    }

    .links-buttons {
        transform: scale(1.2);
    }

    .links-paragraph {
        margin-top: 1.5rem !important;
        font-size: 1.25rem;
    }

    .info-links::after {
        top: 2000% !important;
    }

    /* Audiovisual Intro */
    .cover-title {
        font-size: 3rem;
        margin-top: 15rem;
    }

    .based {
        margin-top: 3rem;
        font-size: 1.75rem;
    }

    .to-visitors {
        margin-top: 12.5rem !important;
        margin-bottom: 10rem;
        font-size: 1.75rem;
    }

    .top-80 {
        margin-top: 100%;
        z-index: 9;
    }

    h5.divisor-text {
        font-size: 1.5rem;
        margin: auto 3rem; 
    }

    .presentation-modal {
        transform: scale(1.35);
        top: 25rem;
        font-size: 1.1rem;
    }

    .btn.btn-outline-black-mini,
    .btn.btn-outline-black-mini:hover {
        color: #000;
        border: 0.05rem solid #000;
        padding: 0.35rem 1rem;
        border-radius: 0.25rem;
        width: 7rem !important;
    }

    .feedback-div {
        transform: scale(0.65);
        margin: -5rem auto;
    }    

    .feedback-card {
        font-size: 2rem;
    }

    h5.signature {
        margin: 15rem auto 16rem auto;
        font-size: 1.75rem;
    }

    .fa-signature {
        font-size: 9rem; 
        color: #000;
        margin: 12rem auto;
    }    
}