/* Medium Devices Portrait min 768px max 991px*/
/* All */
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) { 
    body {
        overflow-x: hidden;
    }

    .compare,
    .video {
        left: 1.25rem;
        z-index: 9;
    }

    .social{
        z-index: 9;
    }

    .section-title {
        font-size: 2rem;
    }

    .section-text,
    .feedback-name {
        font-size: 1.5rem;
    }

    .photo-intro {
        width: 12rem !important;
    }

    .projects-intro,
    .project-intro {
        width: 37.5rem;
        margin: auto;
    }

    .format-genre {
        font-size: 1.05rem;
    }

    .section-title {
        font-size: 1.75rem;
        width: 12rem;
        margin: auto;
    }

    .w-85 {
        transform: scale(0.9);
    }

    .card.img-top {
        border: none;
        transform: scale(1.5);
        margin-top: -3rem;
        padding-bottom: 2rem;
        z-index: -2;
    }

    .card-img-top {
        border-radius: 0px;
    }

    span.badge {
        font-size: 1.25rem;
        width: 15rem;
    }

    .project-image {
        width: 15rem;
        margin: auto;
    }

    .section-copyright {
        margin-top: -5rem;
    }

    /* Audiovisual Data */
    .data-intro {
        width: 35rem;
        margin: auto;
    }

    .btn.btn-black-medium.data {
        width: 100%;
        height: auto;
    }

    /* Audiovisual Samples */
    .samples-intro {
        width: 35rem;
        margin: auto;
    }

    .btn.btn-black-medium.samples {
        width: 300%;
        height: auto;
    }

    /* Developer Intro */
    .developer-intro,
    section.cv {
        width: 35rem;
        text-align: center;
        margin: auto;
        font-size: 1.45rem;
    }

    .developer-section {
        font-size: 1.75rem;
        width: 20rem;
        margin: auto;
    }

    .experience-card {
        margin: 2rem auto;
    }

    .empty-footer {
        height: 7rem;
    }

    /* Admin Dashboard */
    .dashboard-signature {
        font-size: 2.5rem !important;
        margin-top: 1.5rem;
    }

    .fa-signature.modal-signature {
        margin-bottom: 0rem;
    }

    .edit-signature {
        margin-top: -12rem;
    }

    .presentation-text {
        font-size: 0.95rem;
    }

    .photo-dashboard {
        width: 9rem !important;
    }
    
    .content-text {
        font-size: 0.85rem;
    }

    span.badge.badge-skill {
        font-size: 1.05rem;
        width: 12rem;
    }    
}

/* Kindle Fire HDX */
/* Nexus 10 */
/* Laptop 2 */
@media (min-height: 1280px) and (max-height: 1280px) and (min-width: 800px) and (max-width: 800px) and (orientation: portrait) { 
    /* General */
    .plus {
        left: 1.25rem;
    }

    .plus::after{
        top: 1800%;
        width: 40rem;
        left: 3rem;
    }

    /* Index */
    .text-top {
        margin-top: 15rem;
    }

    h4.hero {
        margin-top: 7rem;
    }

    .index-button {
        margin-top: 7rem;
    }

    .accesibility-title {
        margin-top: 2rem !important;
        font-size: 2.5rem;
    }

    h5.accessibility.mb-4 {
        font-size: 1.5rem;
        margin-left: 1.25rem !important;
        margin-right: -1.5rem !important;
        margin-top: 1.25rem;
    }

    .accessibility-btn {
        margin-top: 2.5rem !important;
    }

    /* Intro */
    .hero-intro {
        margin-top: 15rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 5rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 15rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 22.5rem;
    }

    h4.register-text {
        margin: auto;
        width: 30rem;
    }

    /* Plus */
    h1.plus-title {
        font-size: 4rem;
        width: 30rem;
        margin: auto;
        margin-top: 15rem;
    }

    h4.plus-text {
        margin: auto;
        width: 25rem;
        font-size: 2.5rem;
    }

    /* Error */
    .error-title {
        margin-top: 1rem;
        font-size: 4rem !important;
    }

    .error-subtitle {
        margin-top: 1rem !important;
        font-size: 2rem !important;
    }

    .error-button {
        margin-top: 30rem !important;
    }

    .info-box::after{
        top: 1850% !important;
    }

    /* Links */
    .links-title {
        font-size: 3rem;
        margin-top: 5rem;
    }

    .links-text {
        margin: auto 7rem !important;
    }

    .links-buttons {
        transform: scale(1.25);
    }

    .links-paragraph {
        margin-top: 3.5rem !important;
        font-size: 1.25rem;
    }

    .info-links::after {
        top: 1500% !important;
    }

    /* Audiovisual Intro */
    .cover-title {
        font-size: 3rem;
        margin-top: 15rem;
    }

    .based {
        margin-top: 3rem;
        font-size: 1.75rem;
    }

    .to-visitors {
        margin-top: 10.5rem !important;
        margin-bottom: 5rem;
        font-size: 1.75rem;
    }

    .top-80 {
        margin-top: 120%;
        z-index: 9;
    }

    h5.divisor-text {
        font-size: 1.5rem;
        margin: auto 3rem; 
    }

    .presentation-modal {
        transform: scale(1.2);
        top: 23rem;
        font-size: 1.25rem;
    }

    .btn.btn-outline-black-mini,
    .btn.btn-outline-black-mini:hover {
        color: #000;
        border: 0.05rem solid #000;
        padding: 0.35rem 1rem;
        border-radius: 0.25rem;
        width: 7rem !important;
    }

    .feedback-card {
        font-size: 2rem;
    }

    .feedback-div {
        transform: scale(0.75);
        margin: -3rem auto;
    }

    h5.signature {
        margin: 8rem auto 20rem auto;
        font-size: 1.75rem;
    }

    .fa-signature {
        font-size: 9rem; 
        color: #000;
        margin-bottom: 12rem;
    }
}

/* iPad */
/* iPad Mini */
@media (min-height: 1024px) and (max-height: 1024px) and (min-width: 768px) and (max-width: 768px) and (orientation: portrait) { 
    /* General */
    .plus {
        left: 1.5rem;
    }

    .plus::after{
        top: 1700%;
        width: 40rem;
        left: 3rem;
    }

    /* Index */
    .text-top {
        margin-top: 11rem;
    }

    h4.hero {
        margin-top: 4rem;
    }

    .index-button {
        margin-top: 4rem;
    }

    .accesibility-title {
        margin-top: 1.5rem !important;
    }

    h5.accessibility.mb-4 {
        font-size: 1.5rem;
        margin-left: 1rem !important;
        margin-right: -1rem !important;
    }

    .accessibility-btn {
        margin-top: 1rem !important;
    }

    /* Intro */
    .hero-intro {
        margin-top: 10rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 5rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    .buttons-intro {
        margin-top: 2rem;
        margin-left: 5%;
    }

    /* Login */
    .login-form {
        margin-top: 8rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 12.5rem;
    }

    h4.register-text {
        margin: auto;
        width: 30rem;
    }

    /* Plus */
    h1.plus-title {
        font-size: 4rem;
        width: 30rem;
        margin: auto;
        margin-top: 5rem;
    }

    h4.plus-text {
        margin: auto;
        width: 25rem;
        font-size: 2.5rem;
    }

    /* Error */
    .error-title {
        margin-top: -1rem;
        font-size: 4rem !important;
    }

    .error-subtitle {
        margin-top: -1rem !important;
        font-size: 2rem !important;
    }

    .error-button {
        margin-top: 22rem !important;
    }

    .info-box::after{
        top: 1650% !important;
    }

    /* Links */
    .links-title {
        font-size: 3rem;
        margin-top: 1rem;
    }

    .links-text {
        margin: auto 7rem !important;
    }

    .links-buttons {
        transform: scale(1.2);
    }

    .links-paragraph {
        margin-top: 1.5rem !important;
        font-size: 1.25rem;
    }

    .info-links::after {
        top: 1600% !important;
    }

    /* Audiovisual Intro */
    .cover-title {
        font-size: 3rem;
        margin-top: 5rem;
    }

    .based {
        margin-top: 3rem;
        font-size: 1.75rem;
    }

    .to-visitors {
        margin-top: 10.5rem !important;
        margin-bottom: 5rem;
        font-size: 1.75rem;
    }

    .top-80 {
        margin-top: 90%;
        z-index: 9;
    }

    h5.divisor-text {
        font-size: 1.5rem;
        margin: auto 3rem; 
    }    

    .btn.btn-outline-black-mini,
    .btn.btn-outline-black-mini:hover {
        color: #000;
        border: 0.05rem solid #000;
        padding: 0.35rem 1rem;
        border-radius: 0.25rem;
        width: 7rem !important;
    }

    .feedback-card {
        font-size: 2rem;
    }

    .feedback-div {
        transform: scale(0.75);
        margin: -4rem auto;
    }

    h5.signature {
        margin: 12rem auto 16rem auto;
        font-size: 1.5rem;
    }

    .fa-signature {
        font-size: 9rem; 
        color: #000;
        margin-bottom: 12rem;
    }    
}

/* iPad Pro (10.5-inch) */
@media (min-height: 1112px) and (max-height: 1112px) and (min-width: 834px) and (max-width: 834px) and (orientation: portrait) { 
    /* General */
    .plus {
        left: 1.5rem;
    }

    .plus::after{
        top: 1700%;
        width: 43rem;
        left: 3rem;
    }

    /* Index */
    .text-top {
        margin-top: 13rem;
    }

    h4.hero {
        margin-top: 6rem;
    }

    .index-button {
        margin-top: 6rem;    
    }

    .accesibility-title {
        margin-top: 2rem !important;
        font-size: 2.5rem;
    }

    h5.accessibility.mb-4 {
        font-size: 1.5rem;
        margin-left: 1rem !important;
        margin-right: -2rem !important;
    }

    .accessibility-btn {
        margin-top: 1rem !important;
    }

    /* Intro */
    .hero-intro {
        margin-top: 10rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 5rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 9rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 12.5rem;
    }

    h4.register-text {
        margin: auto;
        width: 30rem;
    }

    /* Plus */
    h1.plus-title {
        font-size: 4rem;
        width: 30rem;
        margin: auto;
        margin-top: 5rem;
    }

    h4.plus-text {
        margin: auto;
        width: 25rem;
        font-size: 2.5rem;
    }

    /* Error */
    .error-title {
        margin-top: -1rem;
        font-size: 4rem !important;
    }

    .error-subtitle {
        margin-top: -1rem !important;
        font-size: 2rem !important;
    }

    .error-button {
        margin-top: 27rem !important;
    }

    .info-box::after{
        top: 1650% !important;
    }

    /* Links */
    .links-title {
        font-size: 3rem;
        margin-top: 4rem;
    }

    .links-text {
        margin: auto 7rem !important;
    }

    .links-buttons {
        transform: scale(1.2);
    }

    .links-paragraph {
        margin-top: 1.5rem !important;
        font-size: 1.25rem;
    }

    .info-links::after {
        top: 1600% !important;
    }

    /* Audiovisual Intro */
    .cover-title {
        font-size: 3rem;
        margin-top: 7rem;
    }

    .based {
        margin-top: 3rem;
        font-size: 1.75rem;
    }

    .to-visitors {
        margin-top: 10.5rem !important;
        margin-bottom: 5rem;
        font-size: 1.75rem;
    }

    .top-80 {
        margin-top: 90%;
        z-index: 9;
    }

    h5.divisor-text {
        font-size: 1.5rem;
        margin: auto 3rem; 
    }

    .presentation-modal {
        transform: scale(1.2);
        top: 23rem;
        font-size: 1.25rem;
    }

    .btn.btn-outline-black-mini,
    .btn.btn-outline-black-mini:hover {
        color: #000;
        border: 0.05rem solid #000;
        padding: 0.35rem 1rem;
        border-radius: 0.25rem;
        width: 7rem !important;
    }

    .feedback-card {
        font-size: 2rem;
    }

    .feedback-div {
        transform: scale(0.75);
        margin: -4rem auto;
    }

    h5.signature {
        margin: 12rem auto 16rem auto;
        font-size: 1.5rem;
    }

    .fa-signature {
        font-size: 9rem; 
        color: #000;
        margin-bottom: 12rem;
    }    
}
