/* Small Devices Portrait min 576px max 767px*/
/* Nexus 7 */
@media (min-height: 960px) and (max-height: 960px) and (min-width: 600px) and (max-width: 600px) and (orientation: portrait) { 
    /* General */
    .plus {
        left: 1.5rem;
    }

    .plus::after{
        top: 1400%;
        width: 28rem;
        left: 3rem;
    }

    .position-absolute.top-50.end-0.translate-middle-y.me-4.d-flex.align-items-center {
        margin-top: 1.25rem;
    }

    footer {
        top: 85%;
        left: 1%
    }

    img.logo {
        width: 10rem;
        left: 3%;
        top: 3%;
    }

    /* Index */
    .text-top {
        margin-top: 4rem;
    }

    h4.hero {
        margin-top: 5rem;

    }

    .index-button {
        margin-top: 5rem;
    }

    /* Intro */
    .hero-intro {
        margin-top: 2rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 1.5rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 1.5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 5rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 7rem;
    }

    h4.register-text {
        margin: auto;
        width: 20rem;
    }
}

/* Large Screen */
@media (min-height: 1031px) and (max-height: 1031px) and (min-width: 688px) and (max-width: 688px) and (orientation: portrait) { 
    /* General */
    .plus {
        left: 1.5rem;
    }

    .plus::after{
        top: 1650%;
        width: 34rem;
        left: 3rem;
    }

    footer {
        top: 85%;
        left: 1%
    }

    /* Index */
    .text-top {
        margin-top: 9rem;
    }

    h4.hero {
        margin-top: 7rem;
    }

    .index-button {
        margin-top: 7rem;
    }

    /* Intro */
    .hero-intro {
        margin-top: 4rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 3rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 3rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 8rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 12rem;
    }

    h4.register-text {
        margin: auto;
        width: 25rem;
    }
}
