/* Small Devices Portrait min 576px max 767px*/
/* All */
@media (min-width: 576px) and (max-width: 767px) and (orientation: portrait) { 
    .compare,
    .video {
        left: 1.25rem;
        z-index: 9;
    }

    .social{
        z-index: 9;
    }

    .projects-intro,
    .project-intro {
        width: 25rem;
        margin: auto;
    }

    .format-genre {
        font-size: 1.05rem;
    }

    .section-title {
        font-size: 1.75rem;
        width: 12rem;
        margin: auto;
    }

    .project-card {
        transform: scale(0.8);
    }

    .w-85 {
        transform: scale(0.9);
    }

    .card.img-top {
        border: none;
        transform: scale(1.35);
        margin-top: -5rem;
        padding-bottom: 1rem;
        z-index: -2;
    }

    .card-img-top {
        border-radius: 0px;
    }

    span.badge {
        font-size: 1.05rem;
        width: 12rem;
    }

    .project-image {
        width: 15rem;
        margin: auto;
    }
    
    .section-copyright {
        margin-top: -5rem;
    }

    /* Audiovisual Data */
    .data-intro {
        width: 25rem;
        margin: auto;
    }

    .btn.btn-black-medium {
        width: 100%;
        height: auto;
    }

    /* Audiovisual Samples */
    .samples-intro {
        width: 25rem;
        margin: auto;
    }

    /* Developer Intro */
    .developer-intro,
    section.cv {
        width: 27.5rem;
        text-align: center;
        margin: auto;
    }

    .developer-section {
        font-size: 1.75rem;
        width: 20rem;
        margin: auto;
    }

    .study-card {
        transform: scale(0.85);
        margin: -1rem auto;
    }

    .experience-card {
        transform: scale(0.85);
        margin: -4rem auto;
    }

    .project-card {
        transform: scale(0.85);
        margin: -0.5rem auto;
    }

    .empty-footer {
        height: 7rem;
    }

    /* Credits */
    .social {
        top: 50% !important;
    }

    .credits-title {
        font-size: 2rem;
    }

    .credits-type {
        font-size: 1.35rem;
    }

    .credits-based {
        font-size: 1.05rem;
        width: 10rem;
        margin: auto;
    }

    .feedback {
        font-size: 1.75rem;
    }

    /* Bloopers */
    .bloopers-title {
        font-size: 2rem;
        width: 12rem;
        margin: auto;
    }

    .everything {
        width: 12rem;
        margin: auto;
    }

    .blinking {
        font-size: 2.5rem;
    }

    .photo-profile {
        width: 10rem !important;
    }

    /* Admin Dashboard */
    .dashboard-signature {
        font-size: 2.75rem;
        margin-top: 1.25rem;
    }

    .edit-signature {
        margin-top: -12rem;
    }
}

/* Nexus 7 */
@media (min-height: 960px) and (max-height: 960px) and (min-width: 600px) and (max-width: 600px) and (orientation: portrait) { 
    /* General */
    .plus {
        left: 1.5rem;
    }

    .plus::after{
        top: 1400%;
        width: 28rem;
        left: 3rem;
    }

    img.logo {
        width: 10rem;
        left: 3%;
        top: 3%;
    }

    body {
        overflow-x: hidden;
    }

    /* Index */
    .text-top {
        margin-top: 4rem;
    }

    h4.hero {
        margin-top: 5rem;
    }

    .index-button {
        margin-top: 5rem;
    }

    .accesibility-title {
        margin-top: 1rem !important;
    }

    h5.accessibility.mb-4 {
        font-size: 1.25rem;
        margin-left: 0rem !important;
        margin-right: -2rem !important;
    }

    .accessibility-btn {
        margin-top: -1rem !important;
        width: 9rem;
        font-size: 1.25rem;
    }

    /* Intro */
    .hero-intro {
        margin-top: 2rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 1.5rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 1.5rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 5rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 7rem;
    }

    h4.register-text {
        margin: auto;
        width: 20rem;
    }

    /* Plus */
    h1.plus-title {
        font-size: 3.5rem;
        width: 30rem;
        margin: auto;
        margin-top: 6rem;
    }

    h4.plus-text {
        margin: auto;
        width: 25rem;
        font-size: 2.25rem;
    }

    /* Error */
    .error-title {
        margin-top: -1rem;
        font-size: 4rem !important;
    }

    .error-subtitle {
        margin-top: -1rem !important;
        font-size: 2rem !important;
    }

    .error-button {
        margin-top: 20rem !important;
    }

    .info-box::after{
        top: 1450% !important;
    }

    /* Links */
    .links-text {
        margin: auto 7rem !important;
    }

    .info-links::after {
        top: 1500% !important;
    }

    /* Audiovisual Intro */
    .cover-title {
        margin-top: 5rem;
    }

    .top-80 {
        margin-top: 120%;
        z-index: 9;
    }

    .fa-signature {
        margin-bottom: 12rem;
    }
}

/* Large Screen */
@media (min-height: 1031px) and (max-height: 1031px) and (min-width: 688px) and (max-width: 688px) and (orientation: portrait) { 
    /* General */
    .plus {
        left: 1.5rem;
    }

    .plus::after{
        top: 1650%;
        width: 34rem;
        left: 3rem;
    }

    /* Index */
    .text-top {
        margin-top: 9rem;
    }

    h4.hero {
        margin-top: 7rem;
    }

    .index-button {
        margin-top: 7rem;
    }

    .accesibility-title {
        margin-top: 1.5rem !important;
    }

    h5.accessibility.mb-4 {
        font-size: 1.35rem;
        margin-left: 0.5rem !important;
        margin-right: -2rem !important;
        margin-top: 0.5rem;
    }

    .accessibility-btn {
        margin-top: 1rem !important;
    }

    /* Intro */
    .hero-intro {
        margin-top: 4rem !important;
        font-size: 4rem !important;
    }

    .h5-intro {
        margin-top: 3rem !important;
        font-size: 2rem !important;
    }

    .buttons-intro {
        margin-top: 3rem !important;
    }

    .button-intro {
        width: 15rem !important;
    }

    /* Login */
    .login-form {
        margin-top: 8rem !important;
    }

    /* Register */
    h1.register-title {
        margin-top: 12rem;
    }

    h4.register-text {
        margin: auto;
        width: 25rem;
    }

    /* Plus */
    h1.plus-title {
        font-size: 3.5rem;
        width: 30rem;
        margin: auto;
        margin-top: 7rem;
    }

    h4.plus-text {
        margin: auto;
        width: 25rem;
        font-size: 2.5rem;
    }

    /* Error */
    .error-title {
        margin-top: -1rem;
        font-size: 4rem !important;
    }

    .error-subtitle {
        margin-top: -1rem !important;
        font-size: 2rem !important;
    }

    .error-button {
        margin-top: 22rem !important;
    }

    .info-box::after{
        top: 1450% !important;
    }

    /* Links */
    .links-text {
        margin: auto 7rem !important;
    }

    .info-links::after {
        top: 1500% !important;
    }

    /* Audiovisual Intro */
    .cover-title {
        margin-top: 9rem;
    }

    .top-80 {
        margin-top: 110%;
        z-index: 9;
    }

    .fa-signature {
        margin-bottom: 15rem;
    }

    /* Admin Dashboard */
    .edit-signature {
        margin-top: -15rem;
    }
}
