    <!-- Modal Edit Audiovisual Quotes Intro -->
    <div class="modal fade" id="editIntroAudiovisualQuotesModal" aria-hidden="true" aria-labelledby="editIntroAudiovisualQuotesModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editIntroAudiovisualQuotesModal">Editar Intro Quotes</h1>
                    <i class="fa-solid fa-rotate-left" data-bs-target="#audiovisualQuotesModal" data-bs-toggle="modal" aria-label="Volver" (click)="onReset()"></i>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <label for="lineOne" class="form-label">{{forms[17].value}} {{forms[18].value}}</label>
                                    <input type="text" class="form-control" id="lineOne" placeholder="Línea Uno" formControlName="lineOne" [ngClass]="{ 'is-invalid': submitted && f['lineOne'].errors, 'is-valid': !f['lineOne'].errors && f['lineOne'].touched }">
                                    <div id="lineOneHelp" class="form-text">{{helpers[17].value}}</div>
                                    <div *ngIf="submitted && f['lineOne'].errors" class="invalid-feedback">
                                        <div *ngIf="f['lineOne'].errors['required']">Es preciso ingresar la primera línea</div>
                                    </div>
                                </div>
                                <div class="col-12 pt-3">
                                    <label for="lineTwo" class="form-label">{{forms[17].value}} {{forms[19].value}}</label>
                                    <input type="text" class="form-control" id="lineTwo" placeholder="Línea Dos" formControlName="lineTwo" [ngClass]="{ 'is-invalid': submitted && f['lineTwo'].errors, 'is-valid': !f['lineTwo'].errors && f['lineTwo'].touched }">
                                    <div id="lineTwoHelp" class="form-text">{{helpers[17].value}}</div>
                                    <div *ngIf="submitted && f['lineTwo'].errors" class="invalid-feedback">
                                        <div *ngIf="f['lineTwo'].errors['required']">Es preciso ingresar la segunda línea</div>
                                    </div>
                                </div>
                                <div class="col-12 pt-3">
                                    <label for="lineThree" class="form-label">{{forms[17].value}} {{forms[20].value}}</label>
                                    <input type="text" class="form-control" id="lineThree" placeholder="Línea Tres" formControlName="lineThree" [ngClass]="{ 'is-invalid': submitted && f['lineThree'].errors, 'is-valid': !f['lineThree'].errors && f['lineThree'].touched }">
                                    <div id="lineThreeHelp" class="form-text">{{helpers[17].value}}</div>
                                    <div *ngIf="submitted && f['lineThree'].errors" class="invalid-feedback">
                                        <div *ngIf="f['lineThree'].errors['required']">Es preciso ingresar la tercera línea</div>
                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-black-mini" data-bs-target="#audiovisualQuotesModal" data-bs-toggle="modal" aria-label="Actualizar">{{buttons[13].value}}</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
