<div class="mb-3">
    <div class="row g-4">
        <h4 class="text-center pt-4">{{title}}</h4>
        <div *ngFor="let skill of technicals" class="col-4">
            <div class="text-center">
                <div [class]="skill.progress">
                    <span class="pt-1"><i [class]="skill.icon"></i></span>
                </div> 
                <h6 class="mt-1">{{skill.technology}}</h6>
                <p>{{skill.percentage}}%</p>
            </div>
        </div>
    </div>  
</div>
