<section class="documents d-flex justify-content-center">
    <div class="container">
        <h3 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> {{audiovisual_presentation.title}}</span></h3>                                    
        <h6 class="w-75 text-center m-auto mb-3">
            {{audiovisual_presentation.line_one}} 
            <br><br>
            {{audiovisual_presentation.line_two}}
            <br><br>
            {{audiovisual_presentation.line_three}}
        </h6>
        <div class="container mt-2 pt-5 pb-2 w-75 m-auto d-flex justify-content-between">      
            <div class="col-4 text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#minibioModal">
                    <i [class]="audiovisual_presentation.minibio_icon" class=" fa-3x mb-3"></i>
                    <h4>{{audiovisual_presentation.minibio_text}}</h4>
                </button>
            </div>
            <div class="col-4 text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#workModal">
                    <i [class]="audiovisual_presentation.mywork_icon" class=" fa-3x mb-3"></i>
                    <h4>{{audiovisual_presentation.mywork_text}}</h4>
                </button>
            </div>
            <div class="col-4 text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#wantModal">
                    <i [class]="audiovisual_presentation.iwant_icon" class=" fa-3x mb-3"></i>
                    <h4>{{audiovisual_presentation.iwant_text}}</h4>
                </button>
            </div>
        </div>   
        <h5 class="w-75 text-center m-auto pt-4 mb-2">{{audiovisual_presentation.subtitle}}</h5>
        <p class="w-75 text-center m-auto mb-2">{{audiovisual_presentation.paragraph}}</p>
    </div>
</section>
