<section class="documents d-flex justify-content-center">
    <div class="container">
        <h3 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> Presentación</span></h3>                                    
        <h6 class="w-75 text-center m-auto mb-3">
            Antes te conté que no tenemos un CV como tal... así de los tradicionales... 
            <br><br>
            Para mostrar quiénes somos, en la Industria Audiovisual, se usan documentos...
            <br><br>
            En los enlaces pueden verse los míos...
        </h6>
        <div class="container mt-2 pt-5 pb-2 w-75 m-auto d-flex justify-content-between">      
            <div class="col-4 text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#minibioModal">
                    <i class="fa-solid fa-file-lines fa-3x mb-3"></i>
                    <h4>Minibio</h4>
                </button>
            </div>
            <div class="col-4 text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#workModal">
                    <i class="fa-solid fa-file fa-3x mb-3"></i>
                    <h4>My Work</h4>
                </button>
            </div>
            <div class="col-4 text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#wantModal">
                    <i class="fa-solid fa-fire-flame-curved fa-3x mb-3"></i>
                    <h4>I Want</h4>
                </button>
            </div>
        </div>   
        <h5 class="w-75 text-center m-auto pt-4 mb-2">Por convención tienen nombre en inglés...</h5>
        <p class="w-75 text-center m-auto mb-2">Y son los únicos que se usan para una presentación...</p>
    </div>
</section>
