<section class="documents d-flex justify-content-center">
    <div class="container">
        <h3 class="d-flex justify-content-center"><span class="text-orange text-center mb-3"> Presentación</span></h3>                                    
        <h6 *ngFor="let line of presentation" class="w-75 text-center m-auto mb-3">
            {{line.one}} 
            <br><br>
            {{line.two}}
            <br><br>
            {{line.three}}
        </h6>
        <div class="container mt-2 pt-5 pb-2 w-75 m-auto d-flex justify-content-between">      
            <div class="col-4 text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#minibioModal">
                    <i *ngFor="let icon of minibio" [class]="icon.icon"></i>
                    <h4 *ngFor="let description of minibio">{{description.description}}</h4>
                </button>
            </div>
            <div class="col-4 text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#workModal">
                    <i *ngFor="let icon of mywork" [class]="icon.icon"></i>
                    <h4 *ngFor="let description of mywork">{{description.description}}</h4>
                </button>
            </div>
            <div class="col-4 text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#wantModal">
                    <i *ngFor="let icon of iwant" [class]="icon.icon"></i>
                    <h4 *ngFor="let description of iwant">{{description.description}}</h4>
                </button>
            </div>
        </div>   
        <h5 *ngFor="let line of presentation" class="w-75 text-center m-auto pt-4 mb-2">{{line.subtitle}}</h5>
        <p *ngFor="let line of presentation" class="w-75 text-center m-auto mb-2">{{line.paragraph}}</p>
    </div>
</section>
