    <!--Modal Buttons-->
    <div class="modal fade" id="buttonsModal" tabindex="-1" aria-labelledby="buttonsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="buttonsModalLabel">Buttons</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="container text-center w-50 m-auto">
                        <div *ngFor="let button of buttons" class="row mb-3">
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-black-mini mx-5">{{button.value}}</button>
                                <button class="btn btn-black-extra-mini mx-3" data-bs-target="#editButtonModal" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                                <button class="btn btn-black-extra-mini mx-3" data-bs-target="#deleteButtonModal" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr class="w-75 m-auto mb-3">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-black-extra-mini" data-bs-target="#createButtonModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-plus"></i></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-black-mini" data-bs-dismiss="modal" aria-label="Cerrar">{{buttons[7].value}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CRUD Modals -->
    <app-create-button-modal></app-create-button-modal>
    <app-edit-button-modal></app-edit-button-modal>
    <app-delete-button-modal></app-delete-button-modal>
